<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12 table-responsive">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="pull-right">
            <button
              [routerLink]="['/monitors']"
              [queryParams]="{ configuration: selectedConfiguration }"
              class="btn btn-xs pull-right btn-info"
              type="button"
            >
              <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
              <span> Back</span>
            </button>
          </div>
          <h4>{{ pageTitle }}</h4>
        </div>
        <div class="ibox-content">
          <form role="form" *ngIf="!componentLoading">
            <div class="form-group">
              <label class="col-sm-3 control-label">Monitor</label>
              <div class="col-sm-9">
                <input class="form-control m-b" name="name" type="text" [(ngModel)]="monitor" [disabled]="disabled" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Type</label>
              <div class="col-sm-9">
                <select class="form-control m-b" name="triggerType" [(ngModel)]="trigger.type">
                  <option value="ALARM">Alarm</option>
                  <option value="CLEARING">Clearing</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"
                >Events <small><br />(Hint: use ctrl to multi-select)</small></label
              >
              <div class="col-sm-9">
                <select class="form-control m-b" multiple name="events" [(ngModel)]="trigger.events">
                  <option *ngFor="let event of eventsOptions" [value]="event">
                    {{ event }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Filtering</label>
              <div class="col-sm-9 filtering">
                <span class="form-control m-b"
                  ><input type="radio" name="filter" value="NONE" [(ngModel)]="trigger.filter" /> None</span
                >
                <span class="form-control m-b"
                  ><input type="radio" name="filter" value="ADAPTER" [(ngModel)]="trigger.filter" /> By Adapter</span
                >
                <span class="form-control m-b"
                  ><input type="radio" name="filter" value="SOURCE" [(ngModel)]="trigger.filter" /> By Source</span
                >
              </div>
            </div>
            <div class="form-group" *ngIf="trigger.filter === 'ADAPTER'">
              <label class="col-sm-3 control-label">Adapters</label>
              <div class="col-sm-9">
                <select class="form-control m-b" multiple name="adapter" [(ngModel)]="trigger.adapters">
                  <option *ngFor="let adapter of getAdaptersForEvents(trigger.events)">
                    {{ adapter }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group" *ngIf="trigger.filter === 'SOURCE'">
              <label class="col-sm-3 control-label">Sources</label>
              <div class="col-sm-9">
                <select class="form-control m-b" multiple name="adapter" [value]="trigger.changedSources">
                  <option
                    *ngFor="let source of getSourceForEvents(trigger.events)"
                    [ngValue]="source.adapter + '$$' + source.source"
                  >
                    {{ source.adapter }} / {{ source.source }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Severity</label>
              <div class="col-sm-9">
                <select class="form-control m-b" name="severity" [(ngModel)]="trigger.severity">
                  <option *ngFor="let severity of severities">
                    {{ severity }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"
                >Threshold <small><br />(Hint: Amount of triggers required before sounding an alarm)</small></label
              >
              <div class="col-sm-9">
                <input
                  class="form-control m-b"
                  name="threshold"
                  type="number"
                  min="0"
                  [(ngModel)]="trigger.threshold"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"
                >Period <small><br />(Hint: Amount of hits required within 'n' seconds to count as a trigger)</small></label
              >
              <div class="col-sm-9">
                <input
                  class="form-control m-b"
                  name="period"
                  type="number"
                  min="0"
                  [(ngModel)]="trigger.period"
                />
              </div>
            </div>
            <div class="col-lg-9 m-t-md">
              <button class="btn btn-primary btn-w-m font-bold" type="submit" (click)="submit(trigger)">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
