<div class="wrapper wrapper-content animated fadeInRight">
  @for (alert of state; track alert.message) {
    <ngb-alert
      data-cy-test-pipeline="runResult"
      [dismissible]="false"
      [type]="alert.type"
      data-cy="monitors-add-edit__alert"
      >{{ alert.message }}</ngb-alert
    >
  }
  <div class="row">
    <div class="col-lg-12 table-responsive">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="pull-right">
            <button
              [routerLink]="['/monitors']"
              [queryParams]="{ configuration: selectedConfiguration }"
              class="btn btn-xs pull-right btn-info"
              type="button"
            >
              <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
              <span> Back</span>
            </button>
          </div>
          <h4>{{ pageTitle }}</h4>
        </div>
        <div class="ibox-content">
          @if (!componentLoading) {
            <form role="form" (submit)="submit(trigger)" appQuickSubmitForm>
              <div class="row form-group">
                <label class="col-sm-3 control-label" for="name">Monitor</label>
                <div class="col-sm-9">
                  <input
                    class="form-control m-b"
                    name="name"
                    id="name"
                    type="text"
                    [(ngModel)]="monitor"
                    [disabled]="disabled"
                  />
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-3 control-label" for="triggerType">Type</label>
                <div class="col-sm-9">
                  <select class="form-control m-b" name="triggerType" id="triggerType" [(ngModel)]="trigger.type">
                    <option value="ALARM">Alarm</option>
                    <option value="CLEARING">Clearing</option>
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-3 control-label" for="events"
                  >Events <small><br />(Hint: use ctrl to multi-select)</small></label
                >
                <div class="col-sm-9">
                  <select class="form-control m-b" multiple name="events" id="events" [(ngModel)]="trigger.events">
                    @for (event of eventsOptions; track event) {
                      <option [value]="event">
                        {{ event }}
                      </option>
                    }
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-3 control-label">Filtering</label>
                <div class="col-sm-9 filtering">
                  <span class="form-control m-b"
                    ><input type="radio" name="filter" value="NONE" [(ngModel)]="trigger.filter" /> None</span
                  >
                  <span class="form-control m-b"
                    ><input type="radio" name="filter" value="ADAPTER" [(ngModel)]="trigger.filter" /> By Adapter</span
                  >
                  <span class="form-control m-b"
                    ><input type="radio" name="filter" value="SOURCE" [(ngModel)]="trigger.filter" /> By Source</span
                  >
                </div>
              </div>
              @if (trigger.filter === 'ADAPTER') {
                <div class="row form-group">
                  <label class="col-sm-3 control-label" for="adaptersFilter">Adapters</label>
                  <div class="col-sm-9">
                    <select
                      class="form-control m-b"
                      multiple
                      id="adaptersFilter"
                      name="adaptersFilter"
                      [(ngModel)]="trigger.adapters"
                    >
                      @for (adapter of getAdaptersForEvents(trigger.events); track adapter) {
                        <option>
                          {{ adapter }}
                        </option>
                      }
                    </select>
                  </div>
                </div>
              }
              @if (trigger.filter === 'SOURCE') {
                <div class="row form-group">
                  <label class="col-sm-3 control-label" for="sourcesFilter">Sources</label>
                  <div class="col-sm-9">
                    <select
                      class="form-control m-b"
                      multiple
                      id="sourcesFilter"
                      name="sourcesFilter"
                      [value]="trigger.changedSources"
                    >
                      @for (source of getSourceForEvents(trigger.events); track source) {
                        <option [ngValue]="source.adapter + '$$' + source.source">
                          {{ source.adapter }} / {{ source.source }}
                        </option>
                      }
                    </select>
                  </div>
                </div>
              }
              <div class="row form-group">
                <label class="col-sm-3 control-label" for="severity">Severity</label>
                <div class="col-sm-9">
                  <select class="form-control m-b" id="severity" name="severity" [(ngModel)]="trigger.severity">
                    @for (severity of severities; track severity) {
                      <option>
                        {{ severity }}
                      </option>
                    }
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-3 control-label" for="threshold"
                  >Threshold <small><br />(Hint: Amount of triggers required before sounding an alarm)</small></label
                >
                <div class="col-sm-9">
                  <input
                    class="form-control m-b"
                    name="threshold"
                    id="threshold"
                    type="number"
                    min="0"
                    [(ngModel)]="trigger.threshold"
                    data-cy="monitors-add-edit__threshold__input"
                  />
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-3 control-label" for="period"
                  >Period
                  <small><br />(Hint: Amount of hits required within 'n' seconds to count as a trigger)</small></label
                >
                <div class="col-sm-9">
                  <input
                    class="form-control m-b"
                    name="period"
                    id="period"
                    type="number"
                    min="0"
                    [(ngModel)]="trigger.period"
                  />
                </div>
              </div>
              <div class="col-lg-9 m-t-md">
                <button class="btn btn-primary btn-w-m font-bold" type="submit">Save</button>
              </div>
            </form>
          }
        </div>
      </div>
    </div>
  </div>
</div>
