<div class="wrapper wrapper-content animated fadeInRight">
  @for (alert of state; track alert) {
    <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
  }
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Test a ServiceListener</h4>
        </div>
        <div class="ibox-content">
          <form role="form" appQuickSubmitForm (submit)="submit($event)">
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Select a service</label>
              <div class="col-sm-9">
                <app-combobox name="service" [options]="services" [(selectedOption)]="form.service" />
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Upload File</label>
              <div class="col-sm-9 col-md-4">
                <app-input-file-upload (fileUpdated)="updateFile($event)" />
              </div>
              <div class="hidden-xs hidden-sm col-md-1">
                <label class="control-label label-height-30 pull-right">Encoding</label>
              </div>
              <div class="hidden-xs hidden-sm col-md-4">
                <input class="form-control" name="encoding" type="text" [(ngModel)]="form.encoding" />
              </div>
            </div>
            <div class="row form-group hidden-md hidden-lg">
              <div class="col-sm-3">
                <label class="control-label label-height-30">Encoding</label>
              </div>
              <div class="col-sm-9">
                <input class="form-control" name="encoding" type="text" [(ngModel)]="form.encoding" />
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Message</label>
              <div class="col-sm-9">
                <app-monaco-editor
                  class="form-control"
                  style="height: 200px"
                  [options]="{ language: 'text' }"
                  [actions]="editorActions"
                  [(value)]="form.message"
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-3 m-t-md">
                <button class="btn btn-info btn-w-m font-bold" type="button" (click)="reset()">Reset</button>
              </div>
              <div class="col-sm-3 m-t-md">
                <button class="btn btn-primary btn-w-m font-bold" type="submit" [ladda]="processingMessage">
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    @if (result) {
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h4>Result</h4>
          </div>
          <div class="ibox-content">
            <pre class="ng-binding" contenteditable="true">{{ result }}</pre>
          </div>
        </div>
      </div>
    }
  </div>
</div>
