<div class="wrapper wrapper-content">
  <div class="text-center animated fadeInRightBig" style="margin: 80px 0">
    <h3 class="font-bold">IBIS Startup Failed</h3>

    <p>For some reason, the IBIS application failed to start up.</p>

    <p>Please examine the startup-log and try restarting the server.</p>

    <p class="space-30 text-danger">NOTE: The IBIS application will automatically retry to startup every minute.</p>
    <p>
      <button routerLink="/logging" class="btn btn-primary m-r">
        <fa-icon aria-hidden="true" [icon]="faLifeRing" /> View Logs
      </button>
      @if (stackTrace) {
        <button class="btn btn-info m-r" (click)="viewStackTrace = !viewStackTrace">
          <fa-icon aria-hidden="true" [icon]="faBug" />
          {{ viewStackTrace ? 'Hide' : 'View' }} Stack Trace
        </button>
      }
      @if (cooldownCounter > 0) {
        <span>Refreshing in {{ cooldownCounter }} seconds.</span>
      }
    </p>
  </div>

  @if (viewStackTrace) {
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6">
        <div class="ibox">
          <div class="ibox-title">
            <h4>Stack Trace</h4>
          </div>
          <div class="ibox-content">
            @for (trace of stackTrace; track trace) {
              <div>{{ trace.className }}#{{ trace.methodName }}:{{ trace.lineNumber }}</div>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
