<!-- Angular ui-router hack-->
<div ui-view></div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ManageConfigurationsCtrl">
	<div class="row">
		<div class="col-lg-12 table-responsive">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<div class="pull-right">
						<button ui-sref="pages.upload_configuration" class="btn btn-xs pull-right btn-info" type="button"><i class="fa fa-upload" aria-hidden="true"></i> <span>Upload Config</span></button>
					</div>
					<h4>Manage Configurations</h4>
				</div>
				<div class="ibox-content">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Version</th>
								<th>Type</th>
								<th>Parent</th>
								<th>Filename</th>
								<th>Created At</th>
								<th>User</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="conf in configurations" ng-class="{'text-danger': (conf.exception) }" ng-attr-title="{{conf.exception}}">
								<td ng-if="conf.type == 'DatabaseClassLoader'"><a ui-sref="pages.manage_configuration_details(conf)">{{conf.name}}</a></td>
								<td ng-if="conf.type != 'DatabaseClassLoader'">{{conf.name}}</td>
								<td ng-if="conf.version">{{conf.version}}</td><td ng-if="!conf.version">-</td>
								<td ng-if="conf.type">{{conf.type}}</td><td ng-if="!conf.type">-</td>
								<td ng-if="conf.parent">{{conf.parent}}</td><td ng-if="!conf.parent">-</td>
								<td ng-if="conf.filename">{{conf.filename}}</td><td ng-if="!conf.filename">-</td>
								<td ng-if="conf.created">{{conf.created}}</td><td ng-if="!conf.created">-</td>
								<td ng-if="conf.user">{{conf.user}}</td><td ng-if="!conf.user">-</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>