<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <app-hamburger />
      <span class="m-r-sm text-muted iaf-info">Loading Application...</span>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li title="Star frankframework/frankframework on GitHub">
        <a
          class="text-muted"
          target="_blank"
          href="https://github.com/frankframework/frankframework"
          aria-label="Star frankframework/frankframework on GitHub"
          ><fa-icon [icon]="faGithub" />Star on Github</a
        >
      </li>
      <li>
        <span
          class="m-r-sm text-muted serverTime"
          [title]="'The servertime is in timezone: ' + serverTimeService.timezone"
          >{{ serverTimeService.getCurrentTimeFormatted() }}</span
        >
      </li>
      <li>
        <span class="m-r-sm stage">{{ dtapStage }}</span>
      </li>
      @if (dtapSide !== '') {
        <li>
          <span class="stage">({{ dtapSide }})</span>
        </li>
      }
      <li ngbDropdown (click)="resetNotificationCount()">
        <a class="count-info" ngbDropdownToggle>
          <fa-icon [icon]="faBell" />
          @let count = notificationCount();
          @if (count > 0) {
            <span class="label label-primary">{{ count > 5 ? '5+' : count }}</span>
          }
        </a>
        <ul class="dropdown-alerts" ngbDropdownMenu>
          @for (message of notificationList(); track message.id; let last = $last) {
            <li ngbDropdownItem>
              <a routerLink="/notifications" [queryParams]="{ id: message.id }">
                <div>
                  <i [class]="`fa ${message.icon} fa-fw`"></i>
                  {{ message.title }}
                  <span class="pull-right text-muted small" appTimeSince [time]="message.time"></span>
                </div>
              </a>
            </li>
            @if (!last) {
              <li class="divider"></li>
            }
          } @empty {
            <li class="text-center">No notifications</li>
          }
        </ul>
      </li>
      @if (clusterMembers.length > 0) {
        <li>
          <select
            class="cluster-member-selector"
            name="selectedClusterMember"
            [(ngModel)]="selectedClusterMember"
            (ngModelChange)="selectClusterMember()"
          >
            @for (member of clusterMembers; track member.id) {
              <option [ngValue]="member" [title]="getClusterMemberTitle(member)">
                {{ member.address }}
              </option>
            }
          </select>
        </li>
      }
      @if (userName) {
        <li>{{ userName }}</li>
      }
    </ul>
  </nav>
</div>
