<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <app-hamburger />
      <span class="m-r-sm text-muted iaf-info"></span>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li class="m-r-sm rating" title="Please rate us!">
        <i *ngFor="let _ of [1,2,3,4,5]; let index = index"
          (click)="openFeedback(index)"
          (mouseover)="hoverFeedback(index)"
          (mouseleave)="hoverFeedback(-1)"
          class="fa fa-star-o rating{{index}}"
          aria-hidden="true"
        ></i>
      </li>
      <li>
        <span class="m-r-sm text-muted serverTime">{{serverTime}}</span>
      </li>
      <li>
        <span class="m-r-sm stage">{{dtapStage}}</span>
      </li>
      <li *ngIf="dtapSide != ''">
        <span class="m-r-sm stage">({{dtapSide}})</span>
      </li>
      <li ngbDropdown (click)="resetNotificationCount()">
        <a class="count-info" ngbDropdownToggle>
          <i class="fa fa-bell"></i>
          <span
            *ngIf="notificationCount > 0"
            class="label label-primary"
          >{{(notificationCount > 5) ? "5+" : notificationCount}}</span>
        </a>
        <ul class="dropdown-alerts" ngbDropdownMenu>
          <ng-template ngFor let-message [ngForOf]="notificationList" let-last="last">
            <li ngbDropdownItem>
              <a
                routerLink="/notifications"
                [queryParams]="{id: message.id}"
              >
                <div>
                  <i class="fa {{message.icon}} fa-fw"></i> {{message.title}}
                  <span class="pull-right text-muted small" appTimeSince [time]="message.time"></span>
                </div>
              </a>
            </li>
            <li class="divider" *ngIf="!last"></li>
          </ng-template>
          <li class="text-center" *ngIf="notificationList.length <= 0">No notifications</li>
          <!-- <li>
                        <div class="text-center link-block">
                            <a ui-sref="pages.notifications({id: 0})">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li> -->
        </ul>
      </li>
      <li *ngIf="userName">{{userName}}</li>
      <li *ngIf="loggedin">
        <a routerLink="/logout">
          <i title="Logout" class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>

  </nav>
</div>
