version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 3
    labels:
      - "dependencies"
    ignore:
      - dependency-name: "org.ibissource:ibis-ladybug"
      - dependency-name: "com.aspose:*"
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
      # The following versions are not available for JDK 8
      - dependency-name: "org.apache.activemq:activemq-*"
        versions: ["[5.17.0,)"]
      - dependency-name: "org.apache.activemq:artemis-*"
        versions: ["[2.20.0,)"]
      # End of versions not available for JDK 8