version: 2

updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "Dependencies"
      - "Java"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "org.ibissource:ibis-ladybug"
      - dependency-name: "org.wearefrank:ladybug"
      - dependency-name: "com.aspose:*"
      - dependency-name: "com.sap.jco3:sapidoc"
      - dependency-name: "org.frankframework:frankframework-ear"
      - dependency-name: "org.filesys:jfileserver-enterprise"
      - dependency-name: "org.eclipse.m2e:lifecycle-mapping"

  - package-ecosystem: "npm"
    directory: "/console/frontend/src/main/frontend"
    schedule:
      interval: "weekly"
    labels:
      - "Dependencies"
      - "JavaScript"
    groups:
      angular:
        patterns: 
        - "@angular*"
        - "zone.js"
        update-types:
        - "minor"
        - "patch"
      frontend-linting:
        patterns: 
        - "*eslint*"
        update-types:
        - "minor"
        - "patch"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
      
  - package-ecosystem: "docker"
    directories:
      # Globstar only works like this: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#directories
      - "/docker/**/*"
    schedule: 
      interval: "daily"
    labels:
      - "Dependencies"
      - "Docker"
