app-file-viewer {
  width: 100%;
  min-height: 650px;
  border: none;
  overflow: hidden;
}

.action-buttons > button + button {
  margin-left: 6px;
}

.clipboard {
  user-select: text;

  fa-icon {
    display: none;
    margin-left: 5px;
  }

  &:hover fa-icon {
    display: inline;
    cursor: pointer;
  }
}
