<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12" [hidden]="!scheduler.name">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          @if (databaseSchedulesEnabled()) {
            <div class="pull-right">
              <button routerLink="new" class="btn btn-xs btn-info pull-right" type="button">
                <fa-icon aria-hidden="true" [icon]="faPlusCircle" />
                <span> Add new schedule</span>
              </button>
            </div>
          }
          <h4>Scheduler</h4>
        </div>
        <div class="ibox-content">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-xs-6">State</th>
                  <th>Running Since</th>
                  <th>Jobs Executed</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  @if (scheduler.state === 'started') {
                    <td>
                      <span><fa-icon class="m-r-xs" [icon]="faPlay" /> Started</span>
                      <button
                        appHasAccessToLink="updateScheduler"
                        title="Pause Scheduler"
                        class="btn btn-xs btn-warning btn-change-state"
                        type="button"
                        [ladda]="refreshing"
                        (click)="pauseScheduler()"
                      >
                        <fa-icon class="m-r-xs" [icon]="faPause" /> Pause
                      </button>
                    </td>
                  }
                  @if (scheduler.state === 'paused') {
                    <td>
                      <span><fa-icon class="m-r-xs" [icon]="faPause" /> Paused</span>
                      <button
                        appHasAccessToLink="updateScheduler"
                        title="Start Scheduler"
                        class="btn btn-xs btn-primary btn-change-state"
                        type="button"
                        [ladda]="refreshing"
                        (click)="start()"
                      >
                        <fa-icon class="m-r-xs" [icon]="faPlay" /> Start
                      </button>
                    </td>
                  }
                  @if (scheduler.state === 'stopped') {
                    <td>
                      <span><fa-icon class="m-r-xs" [icon]="faStop" /> Stopped</span>
                      <button
                        appHasAccessToLink="updateScheduler"
                        title="Start Scheduler"
                        class="btn btn-xs btn-primary btn-change-state"
                        type="button"
                        [ladda]="refreshing"
                        (click)="start()"
                      >
                        <fa-icon class="m-r-xs" [icon]="faPlay" /> Start
                      </button>
                    </td>
                  }
                  <td>
                    <span appToDate [time]="scheduler.runningSince"></span>
                  </td>
                  <td>{{ scheduler.jobsExecuted }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <app-tab-list [tabs]="jobGroupNames" (selectedTabChange)="selectedJobGroup = $event" />
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title summary">
          <h4>Search Jobs</h4>
        </div>
        <div class="ibox-content">
          <div class="col-md-12 space-15">
            <div class="input-group" id="searchbar">
              <input
                type="text"
                class="form-control"
                placeholder="Search ... (Ctrl + Shift + F)"
                name="search"
                [(ngModel)]="searchFilter"
              />
              <fa-icon
                class="input-group-closeSearch"
                aria-hidden="true"
                [icon]="faTimes"
                [ngClass]="searchFilter.length === 0 ? ['hidden'] : []"
                (click)="searchFilter = ''"
              />
              <span class="input-group-addon">
                <fa-icon aria-hidden="true" [icon]="faSearch" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    @for (jobGroupKV of jobGroups | keyvalue; track jobGroupKV.key; let count = $count) {
      <div class="col-lg-12" [ngClass]="{ hidden: jobGroupKV.key !== selectedJobGroup && selectedJobGroup !== 'All' }">
        @if (count > 0) {
          <div class="ibox float-e-margins">
            <div
              tabindex="0"
              role="button"
              class="ibox-title pointer"
              (click)="jobShowContent[jobGroupKV.key] = !showContent(jobGroupKV.key)"
            >
              <div class="ibox-tools pull-right">
                <a> <fa-icon [icon]="showContent(jobGroupKV.key) ? faChevronUp : faChevronDown" /></a>
              </div>
              <h4>Jobgroup: {{ jobGroupKV.key }}</h4>
            </div>
            @for (job of jobGroupKV.value | searchFilter: searchFilter | orderby: 'name'; track job.name) {
              @if (showContent(jobGroupKV.key)) {
                <div class="ibox-content">
                  <div class="col-md-12">
                    <div class="pull-right trigger-actions">
                      @if (job.type === 'DATABASE') {
                        <button
                          appHasAccessToLink="updateTrigger"
                          class="btn btn-info btn-xs"
                          type="button"
                          [title]="`Edit Job ${job.name}`"
                          (click)="edit(jobGroupKV.key, job.name)"
                        >
                          <fa-icon [icon]="faPencil" /> Edit
                        </button>
                      }
                      @if (job.type === 'DATABASE') {
                        <button
                          appHasAccessToLink="deleteTrigger"
                          class="btn btn-danger btn-xs"
                          type="button"
                          [title]="`Delete Job ${job.name}`"
                          (click)="remove(jobGroupKV.key, job.name)"
                        >
                          <fa-icon [icon]="faTimes" /> Delete
                        </button>
                      }
                      @if (job.state === 'PAUSED') {
                        <button
                          appHasAccessToLink="updateTrigger"
                          class="btn btn-warning btn-xs"
                          type="button"
                          [title]="`Resume Job ${job.name}`"
                          (click)="resume(jobGroupKV.key, job.name)"
                        >
                          <fa-icon [icon]="faPlay" /> Resume
                        </button>
                      }
                      @if (job.state !== 'PAUSED') {
                        <button
                          appHasAccessToLink="updateTrigger"
                          class="btn btn-gray btn-xs"
                          type="button"
                          [title]="`Pause Job ${job.name}`"
                          (click)="pause(jobGroupKV.key, job.name)"
                        >
                          <fa-icon [icon]="faPause" /> Pause
                        </button>
                      }
                      <button
                        appHasAccessToLink="trigger"
                        class="btn btn-info btn-xs"
                        type="button"
                        [title]="`Trigger Job ${job.name}`"
                        (click)="trigger(jobGroupKV.key, job.name)"
                      >
                        <fa-icon [icon]="faArrowAltCircleRight" /> Trigger
                      </button>
                    </div>
                    <h4>
                      Job: {{ job.name }}
                      @if (job.description !== '-') {
                        <small>{{ job.description }}</small>
                      }
                    </h4>
                  </div>
                  <div class="col-sm-12 col-md-8 pull-right maxWidth768" style="min-height: 130px">
                    <table class="table table-striped table-messages">
                      <thead>
                        <tr>
                          <th colspan="2">Messages</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (message of job.messages; track $index) {
                          <tr>
                            @if (message.level === 'INFO') {
                              <td class="text-center">&nbsp;<fa-icon [icon]="faInfo" /></td>
                              <td class="text-left">
                                <span appToDate [time]="message.date"></span>
                              </td>
                              <td>{{ message.text }}</td>
                            }
                            @if (message.level === 'WARN') {
                              <td class="text-center">&nbsp;<fa-icon [icon]="faWarning" /></td>
                              <td class="text-left">
                                <span appToDate [time]="message.date"></span>
                              </td>
                              <td style="color: #f7a54a">{{ message.text }}</td>
                            }
                            @if (message.level === 'ERROR') {
                              <td class="text-center">&nbsp;<fa-icon [icon]="faTimes" /></td>
                              <td class="text-left">
                                <span appToDate [time]="message.date"></span>
                              </td>
                              <td style="color: #ea394c">{{ message.text }}</td>
                            }
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-4">
                    @for (trigger of job.triggers | orderby: 'name'; track trigger.name) {
                      <table class="table">
                        <thead>
                          <tr>
                            <th colspan="2">Trigger: {{ trigger.name }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          @if (trigger.cronExpression) {
                            <tr>
                              <td>Cron Expression</td>
                              <td>{{ trigger.cronExpression }}</td>
                            </tr>
                          }
                          @if (trigger.repeatInterval) {
                            <tr>
                              <td>Repeat Interval</td>
                              <td>{{ trigger.repeatInterval }}</td>
                            </tr>
                          }
                          <tr>
                            <td>Start Time</td>
                            <td><span appToDate [time]="trigger.startTime"></span></td>
                          </tr>
                          @if (trigger.previousFireTime) {
                            <tr>
                              <td>Previous Fire</td>
                              <td>
                                <span appToDate [time]="trigger.previousFireTime"></span>
                              </td>
                            </tr>
                          }
                          @if (trigger.nextFireTime) {
                            <tr>
                              <td>Next Fire</td>
                              <td>
                                <span appToDate [time]="trigger.nextFireTime"></span>
                              </td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    }
                  </div>
                </div>
              }
            }
          </div>
        }
      </div>
    }
  </div>
</div>
