<?xml version="1.0" encoding="UTF-8"?>
<!-- irrelevant information has been removed, we just care about the global transaction timeout -->
<process:Server xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:process="http://www.ibm.com/websphere/appserver/schemas/5.0/process.xmi" xmi:id="Server_1607353432042" name="wasap01">
	<components xmi:type="applicationserver:ApplicationServer" xmi:id="ApplicationServer_1607353432044" applicationClassLoaderPolicy="MULTIPLE" applicationClassLoadingMode="PARENT_FIRST">
		<services xmi:type="applicationserver:TransactionService" xmi:id="TransactionService_1607353432044" enable="true"
			transactionLogDirectory="${TRANLOG_ROOT}" totalTranLifetimeTimeout="28800" clientInactivityTimeout="60"
			heuristicRetryLimit="0" heuristicRetryWait="0" waitForCommitOutcome="false" enableLoggingForHeuristicReporting="false"
			LPSHeuristicCompletion="ROLLBACK" propogatedOrBMTTranLifetimeTimeout="28801" httpProxyPrefix="" httpsProxyPrefix="" />
	</components>
</process:Server>
