.no-border {
  border: none;
}

.w-100 {
  width: 100%;
}

table {
  tbody td:nth-child(2) {
    width: 180px;
  }

  &.table-definitions thead th {
    &:nth-child(1) {
      width: 50%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3) {
      width: 30%;
    }
  }

  &.table-framework-loggers thead th {
    width: 50%;
  }
}
