<!-- Angular ui-router hack-->
<div ui-view></div>

<!--  ng-controller="ShowConfigurationCtrl as config" -->
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12 tabs-container">
			<ul class="nav nav-tabs" role="menu" uib-dropdown-menu="">
				<li ng-class="{active : $ctrl.selectedConfiguration == 'All'}"><a ng-click="$ctrl.changeConfiguration('All')">All</a></li>
				<li ng-class="{active : $ctrl.selectedConfiguration == configuration.name}" ng-repeat="configuration in $ctrl.configurations">
					<a ng-click="$ctrl.changeConfiguration(configuration.name)">{{configuration.name}}</a>
				</li>
			</ul>
		</div>
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title summary">
					<div class="m-l-lg inline">
						Show:
						<div class="btn-group">
							<label class="btn btn-sm btn-default" ng-model="$ctrl.loadedConfiguration" uib-btn-radio="true" ng-click="$ctrl.update()">Loaded Configuration</label>
							<label class="btn btn-sm btn-default" ng-model="$ctrl.loadedConfiguration" uib-btn-radio="false" ng-click="$ctrl.update()">Original Configuration</label>
						</div>
					</div>

					<br/>

					<div class="pull-right">
						<button title="Copy Configuration" ng-click="$ctrl.clipboard()" class="btn btn-default btn-xs" type="button">Copy <i class="fa fa-clipboard"></i></button>
					</div>
					<div class="clearfix"></div>

					<pre format-code="$ctrl.configuration"></pre>
				</div>
			</div>
		</div>
	</div>
</div>
