<div class="dt-wrapper" *ngIf="datasource">
  <div class="dt-options">
    <div class="dt-length">
      <label
        >Show
        <select
          name="datatable-length"
          [ngModel]="datasource.options.size"
          (ngModelChange)="applyPaginationSize($event)"
        >
          <option *ngFor="let size of datasource.options.sizeOptions" [value]="size">{{ size }}</option>
        </select>
        entries</label
      >
    </div>
    <div class="dt-search" *ngIf="datasource.options.filter">
      <label>Search: <input type="text" (keyup)="applyFilter($event)" /></label>
    </div>
  </div>

  <table cdk-table [dataSource]="datasource" class="table table-striped table-hover">
    <ng-container *ngFor="let column of displayColumns">
      <ng-container [cdkColumnDef]="column.name">
        <ng-container *ngIf="this.datasource.options.columnSort && column.sortable; else non_sortable">
          <th
            cdk-header-cell
            *cdkHeaderCellDef
            [sortable]="column.name"
            [className]="column.className + ' sortable'"
            [hidden]="column.hidden"
            (sorted)="onColumnSort($event)"
          >
            {{ column.displayName }}
          </th>
        </ng-container>
        <ng-template #non_sortable>
          <th cdk-header-cell *cdkHeaderCellDef [className]="column.className" [hidden]="column.hidden">
            {{ column.displayName }}
          </th>
        </ng-template>
        <td
          cdk-cell
          *cdkCellDef="let element"
          [hidden]="column.hidden"
          [title]="truncate ? element[column.property] : ''"
        >
          <ng-container *ngIf="!column.html; else htmlBody"
            ><ng-container *ngIf="checkIfNotDate(column); else dateFormatted">{{
              truncate ? (element[column.property] | truncate: truncateLength) : element[column.property]
            }}</ng-container>
            <ng-template #dateFormatted
              ><span appToDate [time]="element[column.property]">{{ element[column.property] }}</span></ng-template
            >
          </ng-container>
          <ng-template #htmlBody>
            <ng-container
              [ngTemplateOutlet]="content.templateReference"
              [ngTemplateOutletContext]="{ rowElement: element }"
            ></ng-container>
          </ng-template>
        </td>
      </ng-container>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="dt-pagination">
    <div class="dt-pagination-info">
      Showing {{ minPageEntry }} to {{ maxPageEntry }} of {{ totalFilteredEntries }} entries
      <ng-container *ngIf="totalFilteredEntries !== totalEntries">(of {{ totalEntries }} in total)</ng-container>
    </div>
    <div class="dt-pagination-control">
      <div class="dt-control-wrapper">
        <button
          class="dt-btn"
          [disabled]="datasource.currentPage <= 1"
          (click)="updatePage(datasource.currentPage - 1)"
        >
          Previous
        </button>
        <span class="dt-btn first-page" (click)="updatePage(1)" *ngIf="datasource.currentPage > 1">1</span>
        <span class="dt-btn fill" *ngIf="datasource.currentPage > 2">...</span>
        <span class="dt-btn current-page">{{ datasource.currentPage }}</span>
        <span class="dt-btn fill" *ngIf="datasource.currentPage < datasource.totalPages - 1">...</span>
        <span
          class="dt-btn last-page"
          (click)="updatePage(datasource.totalPages)"
          *ngIf="datasource.currentPage < datasource.totalPages"
          >{{ datasource.totalPages }}</span
        >
        <button
          class="dt-btn"
          [disabled]="datasource.currentPage >= datasource.totalPages"
          (click)="updatePage(datasource.currentPage + 1)"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
