<table cdk-table [dataSource]="datasource" class="table table-striped table-hover">
  <ng-container *ngFor="let column of displayColumns">
    <ng-container [cdkColumnDef]="column.name">
      <th cdk-header-cell *cdkHeaderCellDef>{{ column.displayName }}</th>
      <td cdk-cell *cdkCellDef="let element">
        <ng-container *ngIf="!column.html; else htmlBody">{{ element[column.property] }}</ng-container>
      </td>
      <ng-template #htmlBody>
        <ng-content></ng-content>
      </ng-template>
    </ng-container>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
</table>
