@if (datasource) {
  <div class="dt-wrapper">
    <div class="dt-options">
      <div class="dt-length">
        <label
          >Show
          <select
            name="datatable-length"
            [ngModel]="datasource.options.size"
            (ngModelChange)="applyPaginationSize($event)"
          >
            @for (size of datasource.options.sizeOptions; track size) {
              <option [value]="size">{{ size }}</option>
            }
          </select>
          entries</label
        >
      </div>
      @if (datasource.options.filter) {
        <div class="dt-search">
          <label>Search: <input type="text" (keyup)="applyFilter($event)" /></label>
        </div>
      }
    </div>
    <table cdk-table [dataSource]="datasource" class="table table-striped table-hover">
      @for (column of displayColumns; track column.name) {
        @if (column.name && column.name !== '') {
          <ng-container [cdkColumnDef]="column.name">
            @if (this.datasource.options.columnSort && column.sortable) {
              <th
                cdk-header-cell
                *cdkHeaderCellDef
                [sortable]="column.name"
                [className]="column.className + ' sortable'"
                [hidden]="column.hidden"
                (sorted)="onColumnSort($event)"
              >
                {{ column.displayName }}
              </th>
            } @else {
              <th cdk-header-cell *cdkHeaderCellDef [className]="column.className" [hidden]="column.hidden">
                {{ column.displayName }}
              </th>
            }
            <td
              cdk-cell
              *cdkCellDef="let element"
              [hidden]="column.hidden"
              [title]="truncate ? element[column.property] : ''"
            >
              @if (!column.html) {
                @if (checkIfNotDate(column)) {
                  {{ truncate ? (element[column.property] | truncate: truncateLength) : element[column.property] }}
                } @else {
                  <span appToDate [time]="element[column.property]">{{ element[column.property] }}</span>
                }
              } @else {
                <ng-container
                  [ngTemplateOutlet]="content.templateReference"
                  [ngTemplateOutletContext]="{ rowElement: element }"
                ></ng-container>
              }
            </td>
          </ng-container>
        }
      }
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="dt-pagination">
      <div class="dt-pagination-info">
        Showing {{ minPageEntry }} to {{ maxPageEntry }} of {{ totalFilteredEntries }} entries
        @if (totalFilteredEntries !== totalEntries) {
          (of {{ totalEntries }} in total)
        }
      </div>
      <div class="dt-pagination-control">
        <div class="dt-control-wrapper">
          <button
            class="dt-btn"
            [disabled]="datasource.currentPage <= 1"
            (click)="updatePage(datasource.currentPage - 1)"
          >
            Previous
          </button>
          @if (datasource.currentPage > 1) {
            <span class="dt-btn first-page" (click)="updatePage(1)">1</span>
          }
          @if (datasource.currentPage > 2) {
            <span class="dt-btn fill">...</span>
          }
          <span class="dt-btn current-page">{{ datasource.currentPage }}</span>
          @if (datasource.currentPage < datasource.totalPages - 1) {
            <span class="dt-btn fill">...</span>
          }
          @if (datasource.currentPage < datasource.totalPages) {
            <span class="dt-btn last-page" (click)="updatePage(datasource.totalPages)">{{
              datasource.totalPages
            }}</span>
          }
          <button
            class="dt-btn"
            [disabled]="datasource.currentPage >= datasource.totalPages"
            (click)="updatePage(datasource.currentPage + 1)"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
}
