$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;
$zindex-toast: 1090 !default;
$grid-gutter-width: 1.5rem !default;
$container-padding-x: $grid-gutter-width !default;
$enable-rounded: true !default;
$border-radius: 0.375rem !default;

$toast-max-width: 350px !default;
$toast-padding-x: 0.75rem !default;
$toast-padding-y: 0.5rem !default;
$toast-font-size: 0.875rem !default;
$toast-color: null !default;
$toast-background-color: rgba(var(--#{$prefix}body-bg-rgb), 0.85) !default;
$toast-border-width: var(--#{$prefix}border-width) !default;
$toast-border-color: var(--#{$prefix}border-color-translucent) !default;
$toast-border-radius: $border-radius !default;
$toast-box-shadow: var(--#{$prefix}box-shadow) !default;
$toast-spacing: $container-padding-x !default;
$toast-header-color: var(--#{$prefix}secondary-color) !default;
$toast-header-background-color: rgba(
  var(--#{$prefix}body-bg-rgb),
  0.85
) !default;
$toast-header-border-color: $toast-border-color !default;

@mixin border-radius($radius: $border-radius, $fallback-border-radius: false) {
  @if $enable-rounded {
    border-radius: valid-radius($radius);
  } @else if $fallback-border-radius !=false {
    border-radius: $fallback-border-radius;
  }
}

.toast {
  // scss-docs-start toast-css-vars
  --#{$prefix}toast-zindex: #{$zindex-toast};
  --#{$prefix}toast-padding-x: #{$toast-padding-x};
  --#{$prefix}toast-padding-y: #{$toast-padding-y};
  --#{$prefix}toast-spacing: #{$toast-spacing};
  --#{$prefix}toast-max-width: #{$toast-max-width};
  // @include rfs($toast-font-size, --#{$prefix}toast-font-size);
  --#{$prefix}toast-color: #{$toast-color};
  --#{$prefix}toast-bg: #{$toast-background-color};
  --#{$prefix}toast-border-width: #{$toast-border-width};
  --#{$prefix}toast-border-color: #{$toast-border-color};
  --#{$prefix}toast-border-radius: #{$toast-border-radius};
  --#{$prefix}toast-box-shadow: #{$toast-box-shadow};
  --#{$prefix}toast-header-color: #{$toast-header-color};
  --#{$prefix}toast-header-bg: #{$toast-header-background-color};
  --#{$prefix}toast-header-border-color: #{$toast-header-border-color};
  // scss-docs-end toast-css-vars

  width: $toast-max-width;
  max-width: 100%;
  // @include font-size(var(--#{$prefix}toast-font-size));
  // color: var(--#{$prefix}toast-color);
  pointer-events: auto;
  // background-color: var(--#{$prefix}toast-bg);
  background-clip: padding-box;
  border: $toast-border-width solid $toast-border-color;
  box-shadow: $toast-box-shadow;
  border-radius: $toast-border-radius;

  background-color: #1ab394;
  color: #fff;
  font-size: 14px;
  margin-bottom: 1rem;

  &.showing {
    opacity: 0;
  }

  &:not(.show) {
    display: none;
  }

  &.clickable {
    cursor: pointer;
  }
}

.toast-container {
  --#{$prefix}toast-zindex: #{$zindex-toast};

  position: absolute;
  z-index: var(--#{$prefix}toast-zindex);
  width: max-content;
  max-width: 100%;
  pointer-events: none;

  > :not(:last-child) {
    margin-bottom: var(--#{$prefix}toast-spacing);
  }
}

.toast-header {
  display: flex;
  align-items: center;
  //padding: var(--#{$prefix}toast-padding-y) var(--#{$prefix}toast-padding-x);
  padding: 0 0 5px;
  color: var(--#{$prefix}toast-header-color);
  background-color: var(--#{$prefix}toast-header-bg);
  background-clip: padding-box;
  border-bottom: var(--#{$prefix}toast-border-width) solid
    var(--#{$prefix}toast-header-border-color);
  // @include border-top-radius(calc(var(--#{$prefix}toast-border-radius) - var(--#{$prefix}toast-border-width)));

  .btn-close {
    margin-right: calc(
      -0.5 * var(--#{$prefix}toast-padding-x)
    ); // stylelint-disable-line function-disallowed-list
    margin-left: var(--#{$prefix}toast-padding-x);
  }
}

.toast-body {
  padding: var(--#{$prefix}toast-padding-x);
  word-wrap: break-word;

  .toast-close {
    display: inline-block;
    align-self: flex-start;
    margin: -6px -6px 0 0;
    color: #fff;
    -webkit-appearance: none;
    background: none;
    border: none;
  }

  .title {
    display: inline-block;
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
  }

  p {
    margin-bottom: 0;
  }

  small {
    font-style: italic;
  }
}

.toast-success {
  background-color: #1ab394;
}

.toast-error {
  background-color: #ed5565;
}

.toast-info {
  background-color: #23c6c8;
}

.toast-warning {
  background-color: #f8ac59;
}
