/* You can add global styles to this file, and also import other style files */
// @import 'bootstrap/scss/bootstrap'; only for v5 or newer
@use './toast';

@use './assets/css/animate';
@use './assets/css/plugins/iCheck/custom';
@use './assets/css/style';
@use './assets/css/bootstrap-fix';
@use './assets/mermaid-boostrap';

[sortable] {
  cursor: pointer;
}

.space-it-out {
  margin: 0 3px 0 0;
}

.storage-actions {
  width: 125px;
}

@media screen and (max-width: 960px) {
  .mini-navbar {
    .page-heading {
      padding: 3px;
    }

    .navbar-header .iaf-info {
      line-height: 50px;
    }

    .navbar-top-links li a {
      padding: 15px 10px 0 10px;
    }

    .navbar .stage {
      font-size: 20px;
    }
  }
}
