<div class="wrapper wrapper-content animated fadeInRight">
  @if (error) {
    <div class="alert alert-warning" role="alert" type="warning">
      <span class="ng-binding ng-scope" [innerHTML]="error"></span>
    </div>
  }
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>IbisStore Summary</h4>
        </div>
        <div class="ibox-content">
          <form role="form" appQuickSubmitForm (submit)="submit(form)">
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30" for="datasource">Datasource</label>
              <div class="col-sm-9">
                <select class="form-control" name="datasource" id="datasource" [(ngModel)]="form.datasource">
                  @for (datasource of datasources; track datasource) {
                    <option [value]="datasource">
                      {{ datasource }}
                    </option>
                  }
                </select>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-3 m-t-md">
                <button class="btn btn-info btn-w-m font-bold" type="button" (click)="reset()">Reset</button>
              </div>
              <div class="col-sm-3 m-t-md">
                <button class="btn btn-primary btn-w-m font-bold" type="submit">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    @if (result) {
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h4>Result</h4>
          </div>
          <div class="ibox-content">
            <div class="col-md-12 table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th title="number of messages in this type">#</th>
                    <th>SlotID</th>
                    <th>Adapter</th>
                    <th>Receiver/Sender</th>
                    <th title="number of messages in this slot">#</th>
                    <th>Date</th>
                    <th title="number of messages in this slot on this date">#</th>
                  </tr>
                </thead>
                @for (t of result; track t.name) {
                  <tbody>
                    @for (s of t.slots; track s.id; let first = $first) {
                      <tr>
                        @if (first) {
                          <td [title]="t.name" [attr.rowspan]="t.slotcount">
                            {{ t.type }}
                          </td>
                          <td [attr.rowspan]="t.slotcount">
                            {{ t.msgcount }}
                          </td>
                        } @else {
                          <td></td>
                          <td></td>
                        }
                        <td>{{ s.id }}</td>
                        @if (s.adapter) {
                          <td>{{ s.adapter }}</td>
                        } @else {
                          -
                        }
                        @if (s.receiver) {
                          <td>
                            <span class="text-success" [title]="`View Messages Processed by ${s.receiver}`">
                              @if (t.type === 'A') {
                                <button
                                  appHasAccessToLink="browseMessages"
                                  class="btn btn-xs btn-default m-l-xs"
                                  type="button"
                                  [routerLink]="[
                                    '',
                                    s.configuration,
                                    'adapters',
                                    s.adapter,
                                    'receivers',
                                    s.receiver,
                                    'stores',
                                    'Done',
                                  ]"
                                >
                                  <fa-icon [icon]="faSignIn" />
                                </button>
                              }
                            </span>
                            <span class="text-danger" [title]="`View Messages in Error in ${s.receiver}`">
                              @if (t.type === 'E') {
                                <button
                                  appHasAccessToLink="browseMessages"
                                  class="btn btn-xs btn-default m-l-xs"
                                  type="button"
                                  [routerLink]="[
                                    '',
                                    s.configuration,
                                    'adapters',
                                    s.adapter,
                                    'receivers',
                                    s.receiver,
                                    'stores',
                                    'Error',
                                  ]"
                                >
                                  <fa-icon [icon]="faTimesCircle" />
                                </button>
                              }
                            </span>
                            {{ s.receiver }}
                          </td>
                        }
                        @if (s.pipe) {
                          <td>
                            <span
                              [title]="`View Messages Processed by ${s.pipe}`"
                              [ngClass]="t.type === 'M' ? 'text-primary' : 'text-success'"
                            >
                              <button
                                class="btn btn-xs btn-default m-l-xs"
                                type="button"
                                [routerLink]="[
                                  '',
                                  s.configuration,
                                  'adapters',
                                  s.adapter,
                                  'pipes',
                                  s.pipe,
                                  'stores',
                                  'Done',
                                ]"
                              >
                                <fa-icon [icon]="t.type === 'M' ? faSignOut : faDatabase" />
                              </button>
                            </span>
                            {{ s.pipe }}
                          </td>
                        }
                        @if (!s.receiver && !s.pipe) {
                          <td>-</td>
                        }
                        <td>{{ s.msgcount }}</td>
                        <td>
                          <table>
                            @for (d of s.dates; track d.id) {
                              <tr>
                                <td>{{ d.id }}</td>
                              </tr>
                            }
                          </table>
                        </td>
                        <td>
                          <table>
                            @for (d of s.dates; track d.id) {
                              <tr>
                                <td>{{ d.count }}</td>
                                <!-- TODO: should have a link here to show browser of this storage pointing to this date -->
                              </tr>
                            }
                          </table>
                        </td>
                      </tr>
                    }
                  </tbody>
                }
              </table>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
