<div class="wrapper wrapper-content animated fadeInRight">
  @for (alert of getNotes() | orderby: 'type'; track alert) {
    <ngb-alert [type]="alert.type" [dismissible]="false" (closed)="closeNote($index)">{{ alert.message }}</ngb-alert>
  }

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div tabindex="0" role="button" class="ibox-title pointer" (click)="filterBoxExpanded = !filterBoxExpanded">
          <div class="ibox-tools pull-right">
            <a> <i [class]="`fa fa-chevron-${filterBoxExpanded ? 'up' : 'down'}`"></i></a>
          </div>
          <div class="row full-width">
            <div class="col-lg-6 col-md-12 clear">
              <h4>Display and Search Filters</h4>
            </div>
          </div>
        </div>
        @if (filterBoxExpanded) {
          <div class="ibox-content p-w-sm">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td></td>
                    <td>Display Column</td>
                    <td>Search Filter</td>
                  </tr>
                </thead>
                <tbody>
                  @for (column of messageFields; track column) {
                    <tr>
                      <th>{{ column.displayName }}</th>
                      <td>
                        <input
                          type="checkbox"
                          [(ngModel)]="column.display"
                          (change)="updateColumnDisplay(column.fieldName)"
                        />
                      </td>
                      <td>
                        <input type="text" class="full-width" [(ngModel)]="column.filter" />
                      </td>
                    </tr>
                  }
                  <tr>
                    <th>&nbsp;</th>
                    <td>
                      <select [(ngModel)]="sortDirection" (ngModelChange)="updateSort()">
                        @for (option of sortOptions; track option.value) {
                          <option [value]="option.value">{{ option.name }}</option>
                        }
                      </select>
                    </td>
                    <td>
                      <button class="btn btn-info btn-sm" type="button" [ladda]="searching" (click)="searchUpdated()">
                        <i class="fa fa-search" aria-hidden="true"></i> Search
                      </button>
                      <button
                        class="btn btn-warning btn-sm"
                        type="button"
                        [ladda]="clearSearchLadda"
                        (click)="clearSearch()"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i> Clear
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="pull-right">
            <button
              class="btn btn-xs pull-right btn-info"
              type="button"
              [routerLink]="['/status']"
              [queryParams]="{
                configuration: storageParams.configuration,
                adapter: storageParams.adapterName,
              }"
            >
              <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
              <span> Back</span>
            </button>
          </div>
          <h4>
            Browse messages
            @if (storageParams.storageSource !== 'pipes') {
              <span> in state [{{ storageParams.processState }}]</span>
            }
            of {{ storageParams.storageSource | dropLastChar }} [{{ storageParams.storageSourceName }}] of adapter [{{
              storageParams.adapterName
            }}]
          </h4>
        </div>
        <div class="ibox-content">
          <div class="pull-right">
            <button
              type="button"
              [title]="truncateButtonText"
              [ngClass]="truncated ? 'btn btn-info btn-sm space-it-out' : 'btn btn-default btn-sm space-it-out'"
              (click)="truncate()"
            >
              {{ truncateButtonText }}
            </button>
            <button
              title="Select All Messages"
              class="btn btn-default btn-sm space-it-out"
              type="button"
              (click)="selectAll()"
            >
              Select All
            </button>
            <button
              title="Unselect All Messages"
              class="btn btn-default btn-sm space-it-out"
              type="button"
              (click)="unselectAll()"
            >
              Unselect All
            </button>
            @for (targetState of targetStates | keyvalue; track targetState.key) {
              @if (storageParams.processState === 'InProcess' && targetState.value.name === 'Error') {
                <button
                  appHasAccessToLink="changeMessagesProcessState"
                  data-style="slide-down"
                  title="Move Message to Error"
                  class="btn btn-danger btn-sm space-it-out"
                  type="button"
                  [ladda]="messagesProcessing"
                  (click)="moveMessages()"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  Move to Error
                </button>
              } @else {
                <button
                  appHasAccessToLink="changeMessagesProcessState"
                  data-style="slide-right"
                  class="btn btn-default btn-sm space-it-out"
                  type="button"
                  [ladda]="changingProcessState"
                  (click)="changeProcessState(targetState.value.name)"
                >
                  <i [class]="`fa ${getProcessStateIconFn(targetState.value.name)}`"></i>
                  Move to {{ targetState.value.name }}
                </button>
              }
            }
            <button
              appHasAccessToLink="downloadMessages"
              data-style="slide-right"
              title="Download Selected Messages"
              class="btn btn-info btn-sm space-it-out"
              type="button"
              [ladda]="messagesDownloading"
              (click)="downloadMessages()"
            >
              <i class="fa fa-arrow-circle-o-down"></i> Download Selected
            </button>
            @if (storageParams.processState === 'Error') {
              <button
                appHasAccessToLink="resendReceiverMessages"
                data-style="slide-right"
                title="Resend Selected Messages"
                class="btn btn-warning btn-sm space-it-out"
                type="button"
                [ladda]="messagesProcessing"
                (click)="resendMessages()"
              >
                <i class="fa fa-repeat"></i> Resend Selected
              </button>
              <button
                appHasAccessToLink="deleteReceiverMessages"
                data-style="slide-right"
                title="Delete Selected Messages"
                class="btn btn-danger btn-sm"
                type="button"
                [ladda]="messagesProcessing"
                (click)="deleteMessages()"
              >
                <i class="fa fa-times"></i> Delete Selected
              </button>
            }
          </div>
          <app-datatable [datasource]="datasource" [displayColumns]="displayedColumns" [truncate]="truncated">
            <ng-template let-element="rowElement" appDtContent>
              <app-storage-list-dt [message]="element" />
            </ng-template>
          </app-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
