<div class="wrapper wrapper-content animated fadeInRight">
  @for (alert of getNotes() | orderby: 'type'; track alert) {
    <ngb-alert [type]="alert.type" (closed)="closeNote($index)" [dismissible]="false">{{ alert.message }}</ngb-alert>
  }

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div (click)="filterBoxExpanded = !filterBoxExpanded" class="ibox-title pointer">
          <div class="ibox-tools pull-right">
            <a> <i class="fa fa-chevron-{{ filterBoxExpanded ? 'up' : 'down' }}"></i></a>
          </div>
          <div class="row full-width">
            <div class="col-lg-6 col-md-12 clear">
              <h4>Display and Search Filters</h4>
            </div>
          </div>
        </div>
        @if (filterBoxExpanded) {
          <div class="ibox-content p-w-sm">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td></td>
                    <td>Display Column</td>
                    <td>Search Filter</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Storage ID</th>
                    <td>
                      <input
                        disabled
                        type="checkbox"
                        name="id"
                        (change)="updateFilter('id')"
                        [(ngModel)]="displayColumn.id"
                      />
                    </td>
                    <td>
                      <input type="text" class="full-width" [(ngModel)]="search['id']" />
                    </td>
                  </tr>
                  <tr>
                    <th>Timestamp (From)</th>
                    <td>
                      <input
                        type="checkbox"
                        (change)="updateFilter('insertDate')"
                        [(ngModel)]="displayColumn.insertDate"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="full-width"
                        [(ngModel)]="search['startDate']"
                        title="Expects a timestamp with at least yyyy-mm"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th>Timestamp (To)</th>
                    <td>&nbsp;</td>
                    <td>
                      <input
                        type="text"
                        class="full-width"
                        [(ngModel)]="search['endDate']"
                        title="Expects a timestamp with at least yyyy-mm"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th>Host</th>
                    <td>
                      <input type="checkbox" (change)="updateFilter('host')" [(ngModel)]="displayColumn.host" />
                    </td>
                    <td>
                      <input type="text" class="full-width" [(ngModel)]="search['host']" />
                    </td>
                  </tr>
                  <tr>
                    <th>Original ID</th>
                    <td>
                      <input
                        type="checkbox"
                        (change)="updateFilter('originalId')"
                        [(ngModel)]="displayColumn.originalId"
                      />
                    </td>
                    <td>
                      <input type="text" class="full-width" [(ngModel)]="search['messageId']" />
                    </td>
                  </tr>
                  <tr>
                    <th>Correlation ID</th>
                    <td>
                      <input
                        type="checkbox"
                        (change)="updateFilter('correlationId')"
                        [(ngModel)]="displayColumn.correlationId"
                      />
                    </td>
                    <td>
                      <input type="text" class="full-width" [(ngModel)]="search['correlationId']" />
                    </td>
                  </tr>
                  <tr>
                    <th>Comment</th>
                    <td>
                      <input type="checkbox" (change)="updateFilter('comment')" [(ngModel)]="displayColumn.comment" />
                    </td>
                    <td>
                      <input type="text" class="full-width" [(ngModel)]="search['comment']" />
                    </td>
                  </tr>
                  <tr>
                    <th>Expires</th>
                    <td>
                      <input
                        type="checkbox"
                        (change)="updateFilter('expiryDate')"
                        [(ngModel)]="displayColumn.expiryDate"
                      />
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <th>Label</th>
                    <td>
                      <input type="checkbox" (change)="updateFilter('label')" [(ngModel)]="displayColumn.label" />
                    </td>
                    <td>
                      <input type="text" class="full-width" [(ngModel)]="search['label']" />
                    </td>
                  </tr>
                  <tr>
                    <th>Message</th>
                    <td>&nbsp;</td>
                    <td>
                      <input type="text" class="full-width" [(ngModel)]="search['message']" />
                    </td>
                  </tr>
                  <tr>
                    <th>&nbsp;</th>
                    <td>&nbsp;</td>
                    <td>
                      <button [ladda]="searching" (click)="searchUpdated()" class="btn btn-info btn-sm" type="button">
                        <i class="fa fa-search" aria-hidden="true"></i> Search
                      </button>
                      <button
                        [ladda]="clearSearchLadda"
                        (click)="clearSearch()"
                        class="btn btn-warning btn-sm"
                        type="button"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i> Clear
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="pull-right">
            <button
              [routerLink]="['/status']"
              [queryParams]="{
                configuration: storageParams.configuration,
                adapter: storageParams.adapterName,
              }"
              class="btn btn-xs pull-right btn-info"
              type="button"
            >
              <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
              <span> Back</span>
            </button>
          </div>
          <h4>
            Browse messages
            @if (storageParams.storageSource !== 'pipes') {
              <span> in state [{{ storageParams.processState }}]</span>
            }
            of {{ storageParams.storageSource | dropLastChar }} [{{ storageParams.storageSourceName }}] of adapter [{{
              storageParams.adapterName
            }}]
          </h4>
        </div>
        <div class="ibox-content">
          <div class="pull-right">
            <button
              [title]="truncateButtonText"
              (click)="truncate()"
              [ngClass]="truncated ? 'btn btn-info btn-sm space-it-out' : 'btn btn-default btn-sm space-it-out'"
              type="button"
            >
              {{ truncateButtonText }}
            </button>
            <button
              title="Select All Messages"
              (click)="selectAll()"
              class="btn btn-default btn-sm space-it-out"
              type="button"
            >
              Select All
            </button>
            <button
              title="Unselect All Messages"
              (click)="unselectAll()"
              class="btn btn-default btn-sm space-it-out"
              type="button"
            >
              Unselect All
            </button>
            @for (targetState of targetStates | keyvalue; track targetState.key) {
              @if (storageParams.processState === 'InProcess' && targetState.value.name === 'Error') {
                <button
                  appHasAccessToLink="changeMessagesProcessState"
                  [ladda]="messagesProcessing"
                  data-style="slide-down"
                  title="Move Message to Error"
                  (click)="moveMessages()"
                  class="btn btn-danger btn-sm space-it-out"
                  type="button"
                >
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  Move to Error
                </button>
              } @else {
                <button
                  appHasAccessToLink="changeMessagesProcessState"
                  [ladda]="changingProcessState"
                  data-style="slide-right"
                  (click)="changeProcessState(targetState.value.name)"
                  class="btn btn-default btn-sm space-it-out"
                  type="button"
                >
                  <i class="fa {{ getProcessStateIconFn(targetState.value.name) }}"></i>
                  Move to {{ targetState.value.name }}
                </button>
              }
            }
            <button
              appHasAccessToLink="downloadMessages"
              [ladda]="messagesDownloading"
              data-style="slide-right"
              title="Download Selected Messages"
              (click)="downloadMessages()"
              class="btn btn-info btn-sm space-it-out"
              type="button"
            >
              <i class="fa fa-arrow-circle-o-down"></i> Download Selected
            </button>
            @if (storageParams.processState === 'Error') {
              <button
                appHasAccessToLink="resendReceiverMessages"
                [ladda]="messagesProcessing"
                data-style="slide-right"
                title="Resend Selected Messages"
                (click)="resendMessages()"
                class="btn btn-warning btn-sm space-it-out"
                type="button"
              >
                <i class="fa fa-repeat"></i> Resend Selected
              </button>
              <button
                appHasAccessToLink="deleteReceiverMessages"
                [ladda]="messagesProcessing"
                data-style="slide-right"
                title="Delete Selected Messages"
                (click)="deleteMessages()"
                class="btn btn-danger btn-sm"
                type="button"
              >
                <i class="fa fa-times"></i> Delete Selected
              </button>
            }
          </div>
          <app-datatable [datasource]="datasource" [displayColumns]="displayedColumns" [truncate]="truncated">
            <ng-template appDtContent let-element="rowElement">
              <app-storage-list-dt [message]="element"></app-storage-list-dt>
            </ng-template>
          </app-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
