<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"
		http://www.springframework.org/schema/beans classpath:xml/xsd/spring-beans-3.2.xsd
		"
	>
	<bean name="proxiedDestinationNames" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="jms/GetMessageRequest">
					<value>ESB.Infrastructure.TS.Test.TestIAF.1.GetMessage.1.Request</value>
				</entry>
				<entry key="jms/UpdateMessageAction">
					<value>ESB.Infrastructure.TS.Test.TestIAF.1.UpdateMessage.1.Action</value>
				</entry>
			</map>
		</constructor-arg>
	</bean>
	<!--
	A bit of a hack to overwrite the proxiedConnectionFactories in this file to
	add the jms/qcf to make jms/qcf work for ActiveMQ and Tibco too. Maybe it's
	better to create a springJmsCustom.xml and import it in springJms.xml. Or
	make it possible to configure jms queue names and qcf's outside the Spring
	config.
	-->
	<bean name="proxiedConnectionFactories" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="jms/qcf_tibco_esb_ff">
					<ref bean="defaultXAConnectionFactory"/>
				</entry>
				<entry key="jms/qcf_tibco_esb_rr">
					<ref bean="esbRRConnectionFactory"/>
				</entry>
				<entry key="jms/qcf">
					<ref bean="defaultXAConnectionFactory"/>
				</entry>
			</map>
		</constructor-arg>
	</bean>
</beans>
