<div class="wrapper wrapper-content animated fadeInRight">
  <ngb-alert *ngFor="let alert of state" data-cy-test-pipeline="runResult" [dismissible]="false" [type]="alert.type">{{
    alert.message
  }}</ngb-alert>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Test a PipeLine</h4>
        </div>
        <div class="ibox-content">
          <form (submit)="submit($event)" role="form">
            <div class="row form-group">
              <label class="col-sm-3 control-label">Configuration</label>
              <div class="col-sm-9">
                <input
                  list="configurations"
                  autocomplete="off"
                  data-cy-test-pipeline="selectConfig"
                  [(ngModel)]="selectedConfiguration"
                  (ngModelChange)="form.adapter = ''"
                  name="configuration"
                  class="form-control"
                />
                <datalist id="configurations">
                  <option *ngFor="let config of configurations" [value]="config.name">
                    {{ config.name }}
                  </option>
                </datalist>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Select an adapter</label>
              <div class="col-sm-9">
                <input
                  list="adapters"
                  autocomplete="off"
                  data-cy-test-pipeline="selectAdapter"
                  [(ngModel)]="form.adapter"
                  [disabled]="selectedConfiguration === ''"
                  class="form-control"
                  name="adapter"
                />
                <datalist id="adapters">
                  <option
                    *ngFor="let adapter of adapters | configurationFilter: selectedConfiguration | keyvalue"
                    [value]="adapter.value.name"
                  >
                    {{
                      adapter.value.name + (adapter.value.description !== null ? ' - ' + adapter.value.description : '')
                    }}
                  </option>
                </datalist>
              </div>
            </div>
            <div
              *ngFor="let test of formSessionKeys; index as $index"
              class="row form-group test-pipeline-session-keys"
            >
              <label class="col-sm-3 control-label label-height-30"
                ><span *ngIf="$index === 0">Session Key</span>
              </label>
              <div class="col-sm-4">
                <input
                  data-cy-test-pipeline="sessionKeyName"
                  (blur)="updateSessionKeys(test)"
                  [(ngModel)]="test.key"
                  class="form-control"
                  name="sessionKey{{ $index }}"
                  placeholder="Name"
                  type="text"
                />
              </div>
              <div class="col-sm-5">
                <input
                  data-cy-test-pipeline="sessionKeyValue"
                  (blur)="updateSessionKeys(test)"
                  [(ngModel)]="test.value"
                  class="form-control"
                  name="sessionKeyValue{{ $index }}"
                  placeholder="Value"
                  type="text"
                />
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Upload File</label>
              <div class="col-sm-9 col-md-4">
                <app-input-file-upload (fileUpdated)="updateFile($event)" />
              </div>
              <div class="hidden-xs hidden-sm col-md-1">
                <label class="control-label label-height-30 pull-right">Encoding</label>
              </div>
              <div class="hidden-xs hidden-sm col-md-4">
                <input [(ngModel)]="form.encoding" class="form-control" name="encoding" type="text" />
              </div>
            </div>
            <div class="row form-group hidden-md hidden-lg">
              <div class="col-sm-3">
                <label class="control-label label-height-30">Encoding</label>
              </div>
              <div class="col-sm-9">
                <input [(ngModel)]="form.encoding" class="form-control" name="encoding" type="text" />
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Message</label>
              <div class="col-sm-9" style="height: 200px">
                <app-monaco-editor
                  data-cy-test-pipeline="message"
                  class="form-control"
                  [(value)]="form.message"
                  [options]="{ language: 'text' }"
                  [actions]="editorActions"
                ></app-monaco-editor>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-offset-3 col-sm-9 m-t-md">
                <button
                  data-cy-test-pipeline="send"
                  [ladda]="processingMessage"
                  class="btn btn-primary btn-w-m font-bold"
                  type="submit"
                >
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="result" class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Result</h4>
        </div>
        <div class="ibox-content">
          <pre class="ng-binding" contenteditable="true">{{ result }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
