<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>
      @if (isUwu) {
        <img src="assets/images/uwu-frank-framework-logo.svg" alt="Logo UwU" />
      } @else {
        <h1 class="logo-name">FF<span class="text-frank">!</span></h1>
      }
    </div>
    <h3>Frank<strong class="text-frank">!</strong>Console</h3>
    <form class="m-t FrankLogin" role="form" ngNativeValidate (submit)="login()">
      <div class="form-group">
        <input
          id="username"
          type="text"
          class="form-control"
          name="username"
          placeholder="Username"
          required
          disabled
          [(ngModel)]="credentials.username"
        />
      </div>
      <div class="form-group">
        <input
          id="password"
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required
          disabled
          [(ngModel)]="credentials.password"
        />
      </div>
      <div class="form-group">
        @for (notification of notifications; track notification.id) {
          <span style="color: red">{{ notification.message }}</span>
        }
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
    </form>
    <p class="m-t">
      <fa-icon [icon]="faCopyright" />
      <a href="//frankframework.org/"> frankframework.org</a> 2016-2024
    </p>
    <p class="m-t">
      <small>
        Powered by: <br />
        <a href="//frankframework.org" target="_blank"> <fa-icon [icon]="faGlobe" /> frankframework.org </a>
        |
        <a href="//github.com/frankframework/frankframework" target="_blank">
          <fa-icon [icon]="faGithub" /> frankframework
        </a>
      </small>
    </p>
  </div>
</div>
