<div class="wrapper wrapper-content animated fadeInRight">
  @if (error) {
    <div class="alert alert-danger" role="alert" type="danger">
      <span class="ng-binding ng-scope" [innerHTML]="error"></span>
    </div>
  }
  @if (result) {
    <div class="alert alert-success" role="alert" type="success">
      <span class="ng-binding ng-scope" [innerHTML]="result"></span>
    </div>
  }
  <div class="row">
    <div class="col-lg-12 table-responsive">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="pull-right">
            <button routerLink="/configurations/manage" class="btn btn-xs pull-right btn-info" type="button">
              <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
              <span> Back</span>
            </button>
          </div>
          <h4>Upload Configuration</h4>
        </div>
        <div class="ibox-content">
          <form role="form" appQuickSubmitForm (submit)="submit()">
            <div class="row form-group">
              <label class="col-sm-3 control-label" for="datasource">Datasource</label>
              <div class="col-sm-9">
                <select class="form-control" name="datasource" id="datasource" [(ngModel)]="form.datasource">
                  @for (datasource of datasources; track datasource) {
                    <option>
                      {{ datasource }}
                    </option>
                  }
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30" for="upload">Upload File</label>
              <div class="col-sm-5">
                <app-input-file-upload accept=".zip,.jar" id="upload" (fileUpdated)="updateFile($event)" />
              </div>
              <div class="col-sm-1">
                <label class="control-label label-height-30 pull-right" for="encoding">Encoding</label>
              </div>
              <div class="col-sm-3">
                <input class="form-control" name="encoding" id="encoding" type="text" [(ngModel)]="form.encoding" />
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label" for="multiple_configs">Multiple Configurations</label>
              <div class="col-sm-9">
                <input
                  type="checkbox"
                  name="multiple_configs"
                  id="multiple_configs"
                  [(ngModel)]="form.multiple_configs"
                />
                <small class="m-l-sm">To upload multiple configurations compressed in 1 zip-archive.</small>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label" for="activate_config">Startup Configuration</label>
              <div class="col-sm-9">
                <input
                  type="checkbox"
                  name="activate_config"
                  id="activate_config"
                  [(ngModel)]="form.activate_config"
                />
                <small class="m-l-sm"
                  >Load this version of the configuration on application startup or by manually reloading the
                  configuration. Resets this flag for other versions of this configuration.</small
                >
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label" for="automatic_reload">Reload Automatically</label>
              <div class="col-sm-9">
                <input
                  type="checkbox"
                  name="automatic_reload"
                  id="automatic_reload"
                  [(ngModel)]="form.automatic_reload"
                />
                <small class="m-l-sm"
                  >Load this version of the configuration at the next reload event if it has also been selected as
                  'Startup Configuration'.</small
                >
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-3 m-t-md">
                <button class="btn btn-info btn-w-m font-bold" type="button" (click)="reset()">Reset</button>
              </div>
              <div class="col-sm-3 m-t-md">
                <button class="btn btn-primary btn-w-m font-bold" type="submit">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
