<!-- Angular ui-router hack-->
<div ui-view></div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="alert alert-warning" role="alert" type="warning" ng-if="$ctrl.error">
        <span class="ng-binding ng-scope" ng-bind-html="$ctrl.error"></span>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Execute JDBC Query</h4>
                </div>
                <div class="ibox-content">
                    <form role="form">
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Datasource</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="datasource" ng-model="$ctrl.form.datasource">
                                    <option ng-repeat="datasource in $ctrl.datasources">{{datasource}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Query Type</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="queryType" ng-model="$ctrl.form.queryType">
                                    <option ng-repeat="queryType in $ctrl.queryTypes">{{queryType}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Result format</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="resultType" ng-model="$ctrl.form.resultType">
                                    <option ng-repeat="resultType in $ctrl.resultTypes" selected="{{$first ? 'selected' : ''}}">{{resultType}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Avoid Locking</label>
                            <div class="col-sm-9">
                                <span class="form-control" style="border: none;"><input icheck type="checkbox" ng-model="$ctrl.form.avoidLocking" /></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Trim Spaces</label>
                            <div class="col-sm-9">
                                <span class="form-control" style="border: none;"><input icheck type="checkbox" ng-model="$ctrl.form.trimSpaces" /></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Query</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" quick-submit-form="$ctrl.submit($ctrl.form)" name="query" rows="5" style="resize:none;" ng-model="$ctrl.form.query"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3 m-t-md">
                                <button class="btn btn-info btn-w-m font-bold" type="button" ng-click="$ctrl.reset()">Reset</button>
                            </div>
                            <div class="col-sm-3 m-t-md">
                                <button ladda="$ctrl.processingMessage" class="btn btn-primary btn-w-m font-bold" type="submit" ng-click="$ctrl.submit($ctrl.form)">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12" ng-if="$ctrl.result">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Result</h4>
                </div>
                <div class="ibox-content">
                    <pre class="ng-binding" contenteditable="true">{{$ctrl.result}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
