<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	>

	<import resource="springIbisTestTool.xml"/>

	<bean name="configName" class="java.lang.String">
		<constructor-arg value="Ibis Test Tool Tibet 2"/>
	</bean>

	<bean name="debugger,ibisDebugger" class="org.frankframework.ladybug.tibet2.Tibet2Debugger" autowire="byName"/>

	<bean name="metadataExtractor" class="nl.nn.testtool.MetadataExtractor">
		<property name="extraMetadataFieldExtractors">
			<list>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="conversationId"/>
					<property name="label" value="Conversation Id"/>
					<property name="xpath" value="/*[local-name()='Envelope']//*[local-name()='Body']/*[local-name()='AuditLog_Action' or local-name()='ExceptionLog_Action']/*[local-name()='Header']/*[local-name()='ConversationId']"/>
				</bean>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="cpaId"/>
					<property name="label" value="CPA Id"/>
					<property name="xpath" value="/*[local-name()='Envelope']//*[local-name()='Body']/*[local-name()='AuditLog_Action' or local-name()='ExceptionLog_Action']/*[local-name()='Header']/*[local-name()='CPAId']"/>
				</bean>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="timestamp"/>
					<property name="label" value="Timestamp"/>
					<property name="xpath" value="/*[local-name()='Envelope']//*[local-name()='Body']/*[local-name()='AuditLog_Action' or local-name()='ExceptionLog_Action']/*[local-name()='Header']/*[local-name()='Timestamp']"/>
				</bean>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="type"/>
					<property name="label" value="Type"/>
					<property name="xpath" value="/*[local-name()='Envelope']//*[local-name()='Body']/*[local-name()='AuditLog_Action']/*[local-name()='Message']/*[local-name()='Type']"/>
				</bean>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="systeemOldSchool"/>
					<property name="label" value="Systeem"/>
					<property name="xpath" value="/*[local-name()='Envelope']//*[local-name()='Body']/*[local-name()='AuditLog_Action' or local-name()='ExceptionLog_Action']/*[local-name()='Header']/*[local-name()='ApplicationName']"/>
				</bean>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="serviceNaamOldSchool"/>
					<property name="label" value="Service Naam"/>
					<property name="xpath" value="/*[local-name()='Envelope']//*[local-name()='Body']/*[local-name()='AuditLog_Action' or local-name()='ExceptionLog_Action']/*[local-name()='Header']/*[local-name()='ApplicationFunction']"/>
				</bean>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="statusOldSchool"/>
					<property name="label" value="Status"/>
					<property name="xpath" value="/*[local-name()='Envelope']//*[local-name()='Header']/*[local-name()='MessageHeader']/*[local-name()='Service']/*[local-name()='Action']/*[local-name()='Name']"/>
				</bean>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="returnCodeOldSchool"/>
					<property name="label" value="Return Code"/>
					<property name="xpath" value="/*[local-name()='Envelope']//*[local-name()='Body']/*[local-name()='AuditLog_Action' or local-name()='ExceptionLog_Action']/*[local-name()='FunctionalError' or local-name()='Exception']/*[local-name()='Code']"/>
				</bean>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="reasonCodeOldSchool"/>
					<property name="label" value="Reason Code"/>
					<property name="xpath" value="substring(/*[local-name()='Envelope']//*[local-name()='Body']/*[local-name()='AuditLog_Action' or local-name()='ExceptionLog_Action']/*[local-name()='FunctionalError' or local-name()='Exception']/*[local-name()='Reason'], 0, 100)"/>
				</bean>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="exceptionMessageOldSchool"/>
					<property name="label" value="Exception Message"/>
					<property name="xpath" value="substring(/*[local-name()='Envelope']//*[local-name()='Body']/*[local-name()='AuditLog_Action' or local-name()='ExceptionLog_Action']/*[local-name()='FunctionalError' or local-name()='Exception']/*[local-name()='Text'], 0, 100)"/>
				</bean>
			</list>
		</property>
	</bean>

	<bean name="oldSchoolView" parent="whiteBoxView" autowire="byName">
		<property name="name" value="Old school"/>
		<property name="metadataNames">
			<list>
				<value>storageId</value>
				<value>conversationId</value>
				<value>cpaId</value>
				<value>type</value>
				<value>serviceNaamOldSchool</value>
				<value>systeemOldSchool</value>
				<value>timestamp</value>
				<value>statusOldSchool</value>
				<value>returnCodeOldSchool</value>
				<value>reasonCodeOldSchool</value>
				<value>exceptionMessageOldSchool</value>
			</list>
		</property>
		<property name="checkpointMatchers">
			<list>
				<bean class="nl.nn.testtool.filter.CheckpointSearcher">
					<property name="nameSearch" value="Parameter "/>
				</bean>
				<bean class="nl.nn.testtool.filter.CheckpointSearcher">
					<property name="nameSearch" value="GetInputFromSessionKey message"/>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="jndiContextPrefixFactory" class="org.frankframework.core.JndiContextPrefixFactory"/>

	<bean id="dataSourceFactory" class="org.frankframework.jdbc.datasource.DataSourceFactory" autowire="byType"/>

	<bean name="dbmsSupportFactory" class="org.frankframework.dbms.DbmsSupportFactory"/>

	<bean name="auditLogStorage" class="org.frankframework.ladybug.tibet2.Tibet2DatabaseStorage" autowire="byName">
		<property name="name" value="Logging"/>
		<property name="datasourceName" value="jdbc/${instance.name.lc}"/>
		<property name="table" value="AUDITLOG"/>
		<property name="reportColumnNames">
			<list>
				<value>LOGID</value>
				<value>MESSAGEID</value>
				<value>CONVERSATIONID</value>
				<value>CPAID</value>
				<value>BUSINESSDOMAIN</value>
				<value>SERVICENAME</value>
				<value>SERVICECONTEXT</value>
				<value>SERVICECONTEXTVERSION</value>
				<value>OPERATIONNAME</value>
				<value>OPERATIONVERSION</value>
				<value>APPLICATIONNAME</value>
				<value>APPLICATIONFUNCTION</value>
				<value>LOG_TIMESTAMP</value>
				<value>SENDERID</value>
				<value>CRE_TIMESTAMP</value>
				<value>MESSAGE</value>
				<value>TYPE</value>
				<value>FUNCT_CALLID</value>
				<value>LABEL</value>
				<value>FUNCT_ERROR_CODE</value>
				<value>FUNCT_ERROR_REASON</value>
				<value>FUNCT_ERROR_TEXT</value>
			</list>
		</property>
		<property name="bigValueColumns">
			<list>
				<value>FUNCT_ERROR_TEXT</value>
			</list>
		</property>
		<property name="integerColumns">
			<list>
				<value>LOGID</value>
			</list>
		</property>
		<property name="timestampColumns">
			<list>
				<value>LOG_TIMESTAMP</value>
				<value>CRE_TIMESTAMP</value>
			</list>
		</property>
		<property name="fixedStringColumns">
			<list>
				<value>BUSINESSDOMAIN</value>
				<value>SERVICENAME</value>
				<value>SERVICECONTEXT</value>
				<value>SERVICECONTEXTVERSION</value>
				<value>OPERATIONNAME</value>
				<value>OPERATIONVERSION</value>
				<value>APPLICATIONNAME</value>
				<value>APPLICATIONFUNCTION</value>
				<value>SENDERID</value>
				<value>TYPE</value>
				<value>FUNCT_CALLID</value>
				<value>LABEL</value>
				<value>FUNCT_ERROR_CODE</value>
				<value>FUNCT_ERROR_REASON</value>
			</list>
		</property>
		<property name="fixedStringTables">
			<map>
				<entry key="APPLICATIONNAME" value="DL_AUDITLOG_APPLNAME"/>
				<entry key="APPLICATIONFUNCTION" value="DL_AUDITLOG_APPLFUN"/>
				<entry key="TYPE" value="DL_AUDITLOG_TYPE"/>
				<entry key="FUNCT_ERROR_CODE" value="DL_AUDITLOG_FUNCERRCD"/>
				<entry key="FUNCT_ERROR_REASON" value="DL_AUDITLOG_FUNCERRRS"/>
			</map>
		</property>
	</bean>

	<bean name="auditLogView" class="org.frankframework.ladybug.tibet2.TibetView" scope="prototype">
		<property name="name" value="Audit log"/>
		<property name="debugStorage">
			<ref bean="auditLogStorage"/>
		</property>
		<property name="metadataNames">
			<list>
				<value>LOGID</value>
				<value>CRE_TIMESTAMP</value>
				<value>CONVERSATIONID</value>
				<value>CPAID</value>
				<value>TYPE</value>
				<value>APPLICATIONFUNCTION</value>
				<value>BUSINESSDOMAIN</value>
				<value>APPLICATIONNAME</value>
				<value>LOG_TIMESTAMP</value>
				<value>FUNCT_ERROR_CODE</value>
				<value>FUNCT_ERROR_REASON</value>
				<value>FUNCT_ERROR_TEXT</value>
			</list>
		</property>
		<property name="ibisDebugger">
			<ref bean="ibisDebugger"/>
		</property>
	</bean>

	<bean name="exceptionLogStorage" class="org.frankframework.ladybug.tibet2.Tibet2DatabaseStorage" autowire="byName">
		<property name="name" value="Logging"/>
		<property name="datasourceName" value="jdbc/${instance.name.lc}"/>
		<property name="table" value="EXCEPTIONLOG"/>
		<property name="reportColumnNames">
			<list>
				<value>LOGID</value>
				<value>MESSAGEID</value>
				<value>CONVERSATIONID</value>
				<value>CPAID</value>
				<value>BUSINESSDOMAIN</value>
				<value>SERVICENAME</value>
				<value>SERVICECONTEXT</value>
				<value>SERVICECONTEXTVERSION</value>
				<value>OPERATIONNAME</value>
				<value>OPERATIONVERSION</value>
				<value>APPLICATIONNAME</value>
				<value>APPLICATIONFUNCTION</value>
				<value>LOG_TIMESTAMP</value>
				<value>SENDERID</value>
				<value>CRE_TIMESTAMP</value>
				<value>ERROR_CODE</value>
				<value>ERROR_REASON</value>
				<value>ERROR_TEXT</value>
				<value>MESSAGE</value>
				<value>RESEND_CONN_FACT</value>
				<value>RESEND_PROV_URL</value>
				<value>RESEND_DESTINATION</value>
			</list>
		</property>
		<property name="bigValueColumns">
			<list>
				<value>ERROR_TEXT</value>
			</list>
		</property>
		<property name="integerColumns">
			<list>
				<value>LOGID</value>
			</list>
		</property>
		<property name="timestampColumns">
			<list>
				<value>LOG_TIMESTAMP</value>
				<value>CRE_TIMESTAMP</value>
			</list>
		</property>
		<property name="fixedStringColumns">
			<list>
				<value>BUSINESSDOMAIN</value>
				<value>SERVICENAME</value>
				<value>SERVICECONTEXT</value>
				<value>SERVICECONTEXTVERSION</value>
				<value>OPERATIONNAME</value>
				<value>OPERATIONVERSION</value>
				<value>APPLICATIONNAME</value>
				<value>APPLICATIONFUNCTION</value>
				<value>SENDERID</value>
				<value>ERROR_CODE</value>
				<value>RESEND_CONN_FACT</value>
				<value>RESEND_PROV_URL</value>
				<value>RESEND_DESTINATION</value>
			</list>
		</property>
		<property name="fixedStringTables">
			<map>
				<entry key="APPLICATIONNAME" value="DL_EXCEPTLOG_APPLNAME"/>
				<entry key="APPLICATIONFUNCTION" value="DL_EXCEPTLOG_APPLFUN"/>
				<entry key="ERROR_CODE" value="DL_EXCEPTLOG_ERRCD"/>
			</map>
		</property>
	</bean>

	<bean name="exceptionLogView" class="org.frankframework.ladybug.tibet2.TibetView" scope="prototype">
		<property name="name" value="Exception log"/>
		<property name="debugStorage">
			<ref bean="exceptionLogStorage"/>
		</property>
		<property name="metadataNames">
			<list>
				<value>LOGID</value>
				<value>CRE_TIMESTAMP</value>
				<value>CONVERSATIONID</value>
				<value>CPAID</value>
				<value>APPLICATIONFUNCTION</value>
				<value>BUSINESSDOMAIN</value>
				<value>APPLICATIONNAME</value>
				<value>LOG_TIMESTAMP</value>
				<value>ERROR_CODE</value>
				<value>ERROR_REASON</value>
				<value>ERROR_TEXT</value>
			</list>
		</property>
		<property name="ibisDebugger">
			<ref bean="ibisDebugger"/>
		</property>
	</bean>

	<bean name="views" class="nl.nn.testtool.filter.Views" scope="prototype">
		<property name="views">
			<list>
				<ref bean="auditLogView"/>
				<ref bean="exceptionLogView"/>
				<ref bean="oldSchoolView"/>
				<ref bean="whiteBoxView"/>
				<ref bean="grayBoxView"/>
				<ref bean="blackBoxView"/>
			</list>
		</property>
	</bean>

</beans>
