<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>FF! update available</h4>
        </div>
        @if (release) {
          <div class="ibox-content">
            <h2>
              <i class="fa fa-github" aria-hidden="true"></i> Release:
              <a target="_blank" title="GitHub.com" rel="noopener noreferrer" [href]="release.html_url">{{
                release.name
              }}</a>
            </h2>
            <h4>Created at: <span appToDate [time]="release.created_at"></span>.</h4>
            <hr />
            <p [innerHTML]="release.body | markDown"></p>
          </div>
        }
      </div>
    </div>
  </div>
</div>
