<div class="combobox__input-container">
  <input
    type="text"
    placeholder="Select one..."
    [name]="name"
    class="form-control"
    [(ngModel)]="input"
    (ngModelChange)="onUpdateInput()"
    (keyup)="onKeyPress($event)"
    (blur)="hideListDisplay()"
    (focus)="showListDisplay()"
    (click)="showListDisplay()"
    [ngClass]="{ 'combobox__input--error': showError }"
  />
  <div class="combobox__dropdown-icon">&#9660;</div>
</div>
<div #comboBoxOptions class="combobox__options" *ngIf="listShown">
  <div
    class="combobox__list-item"
    *ngFor="let item of filteredOptions; let i = index"
    [ngClass]="{ 'combobox__list-item--selected': i === selectedIndex }"
    (mousedown)="clickItem(i); $event.preventDefault()"
  >
    {{ item }}
  </div>
  <div class="combobox__list-item" *ngIf="input" (mousedown)="clearSelectedItem(); $event.preventDefault()">
    &times; clear
  </div>
</div>
<i *ngIf="showError" class="combobox__error-text">Invalid Selection</i>
