<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/task    http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/util    http://www.springframework.org/schema/util/spring-util.xsd
	"
	>

	<context:component-scan base-package="nl.nn.testtool"/>

	<bean
		name="lowerCasePropertySourcePostProcessor"
		class="nl.nn.adapterframework.configuration.LowerCasePropertySourcePostProcessor"
		autowire="byName"
	/>

	<bean class="nl.nn.ibistesttool.DeploymentSpecificsBeanPostProcessor"/>

	<bean name="maxCheckpoints" class="java.lang.Integer">
		<constructor-arg value="${ibistesttool.maxCheckpoints}"/>
	</bean>

	<bean name="maxMemoryUsage" class="java.lang.Long">
		<constructor-arg value="${ibistesttool.maxMemoryUsage}"/>
	</bean>

	<bean name="maxMessageLength" class="java.lang.Integer">
		<constructor-arg value="${ibistesttool.maxMessageLength}"/>
	</bean>

	<bean name="regexFilter" class="java.lang.String">
		<constructor-arg value="${ibistesttool.regexFilter}"/>
	</bean>

	<bean name="testTool" class="nl.nn.testtool.TestTool" autowire="byName">
		<property name="maxCheckpoints"><ref bean="maxCheckpoints"/></property>
		<property name="maxMemoryUsage"><ref bean="maxMemoryUsage"/></property>
		<property name="maxMessageLength"><ref bean="maxMessageLength"/></property>
		<property name="regexFilter"><ref bean="regexFilter"/></property>
		<property name="securityLoggerName" value="SEC"/>
		<!-- Prevent threads that didn't start and aren't cancelled from keeping reports in progress -->
		<property name="closeThreads" value="true"/>
		<property name="closeNewThreadsOnly" value="true"/>
		<!-- See comment on closeReportsTask -->
		<property name="closeMessageCapturers" value="false"/>
	</bean>

	<!--
	Prevent streams for which close method isn't invoked from keeping reports in progress. It would be possible to set
	closeMessageCapturers to true on the testTool bean but in some cases that would close the report too soon as a
	stream can be read after the pipeline has finished (e.g. when Base64Pipe is the last pipe Ladybug would show an
	empty string while test a pipeline would show the correct result).
	-->
	<bean name="closeReportsTask" class="nl.nn.testtool.CloseReportsTask" autowire="byName">
		<property name="messageCapturersTime" value="60000"/>
		<property name="threadsTime" value="-1"/>
	</bean>

	<task:scheduler id="closeReportsScheduler"/>

	<task:scheduled-tasks scheduler="closeReportsScheduler">
		<task:scheduled ref="closeReportsTask" method="closeReports" fixed-delay="10000" />
	</task:scheduled-tasks>

	<bean name="debugStorage" class="nl.nn.testtool.storage.file.Storage" autowire="byName" init-method="init">
		<property name="name" value="Logging"/>
		<property name="reportsFilename" value="${log.dir}/testtool4${instance.name.lc}.tts"/>
		<property name="metadataFilename" value="${log.dir}/testtool4${instance.name.lc}.ttm"/>
	</bean>

	<bean name="testStorageActive" class="java.lang.String">
		<constructor-arg value="#{
				'${dtap.stage}' == 'LOC' ||
				'${dtap.stage}' == 'xxx' ||
				'${dtap.stage}' == ''
				?
				'testStorageXml' : 'testStorageFile'
				}"
		/>
	</bean>
	<!-- Ladybug API classes autowired by CXF Spring (see ladybug/cxf-beans.xml) expect a bean with name testStorage -->
	<bean name="testStorage" class="nl.nn.testtool.storage.proxy.ProxyStorage">
		<property name="destination">
			<ref bean="#{testStorageActive}"/>
		</property>
	</bean>
	<bean name="testStorageXml" class="nl.nn.testtool.storage.xml.XmlStorage" autowire="byName" init-method="init">
		<property name="name" value="Test"/>
		<property name="metadataFile" value="${log.dir}/testtool4${instance.name.lc}.metadata.xml"/>
		<property name="reportsFolder" value="${ibistesttool.directory}"/>
	</bean>
	<bean name="testStorageFile" class="nl.nn.testtool.storage.file.TestStorage" autowire="byName" init-method="init">
		<property name="name" value="Test"/>
		<property name="reportsFilename" value="${log.dir}/testtool4${instance.name.lc}.tts"/>
		<property name="metadataFilename" value="${log.dir}/testtool4${instance.name.lc}.ttm"/>
	</bean>

	<bean name="whiteBoxView" class="nl.nn.testtool.filter.View" autowire="byName">
		<property name="name" value="White box"/>
	</bean>

	<bean name="grayBoxView" parent="whiteBoxView" autowire="byName">
		<property name="name" value="Gray box"/>
		<property name="checkpointMatchers">
			<list>
				<bean class="nl.nn.testtool.filter.CheckpointSearcher">
					<property name="nameSearch" value="Pipeline *"/>
				</bean>
				<bean class="nl.nn.testtool.filter.CheckpointSearcher">
					<property name="nameSearch" value="Sender *"/>
				</bean>
				<bean class="nl.nn.ibistesttool.filter.FtpFileRetrieverPipe"/>
			</list>
		</property>
	</bean>

	<bean name="blackBoxView" parent="whiteBoxView" autowire="byName">
		<property name="name" value="Black box"/>
		<property name="checkpointMatchers">
			<list>
				<bean class="nl.nn.ibistesttool.filter.BlackBox"/>
				<bean class="nl.nn.ibistesttool.filter.FtpFileRetrieverPipe"/>
			</list>
		</property>
	</bean>

	<bean name="views" class="nl.nn.testtool.filter.Views">
		<property name="views">
			<list>
				<ref bean="whiteBoxView"/>
				<ref bean="grayBoxView"/>
				<ref bean="blackBoxView"/>
			</list>
		</property>
	</bean>

	<bean name="xsltResource" class="java.lang.String" primary="true">
		<constructor-arg value="${ibistesttool.reportTransformation}"/>
	</bean>

	<bean name="pipeDescriptionProvider" class="nl.nn.ibistesttool.PipeDescriptionProvider" autowire="byName"/>

	<util:list id="observerRoles">
		<value>IbisObserver</value>
		<value>IbisDataAdmin</value>
		<value>IbisAdmin</value>
		<value>IbisTester</value>
	</util:list>

	<util:list id="dataAdminRoles">
		<value>IbisDataAdmin</value>
		<value>IbisAdmin</value>
		<value>IbisTester</value>
	</util:list>

	<util:list id="testerRoles">
		<value>IbisTester</value>
	</util:list>

	<bean name="debugger,ibisDebugger" class="nl.nn.ibistesttool.Debugger" autowire="byName"/>

	<bean name="messageEncoder" class="nl.nn.ibistesttool.MessageEncoder" autowire="byName"/>

	<bean name="messageCapturer" class="nl.nn.ibistesttool.MessageCapturer" autowire="byName"/>

	<bean name="messageTransformer" class="nl.nn.ibistesttool.transform.HideRegexMessageTransformer"/>

</beans>
