<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task  http://www.springframework.org/schema/task/spring-task.xsd
	"
	>

	<bean
		name="lowerCasePropertySourcePostProcessor"
		class="nl.nn.adapterframework.configuration.LowerCasePropertySourcePostProcessor"
		autowire="byName"
	/>

	<bean class="nl.nn.ibistesttool.DeploymentSpecificsBeanPostProcessor"/>

	<bean name="maxCheckpoints" class="java.lang.Integer">
		<constructor-arg value="${ibistesttool.maxCheckpoints}"/>
	</bean>

	<bean name="maxMemoryUsage" class="java.lang.Long">
		<constructor-arg value="${ibistesttool.maxMemoryUsage}"/>
	</bean>

	<bean name="maxMessageLength" class="java.lang.Integer">
		<constructor-arg value="${ibistesttool.maxMessageLength}"/>
	</bean>

	<bean name="regexFilter" class="java.lang.String">
		<constructor-arg value="${ibistesttool.regexFilter}"/>
	</bean>

	<bean name="testTool" class="nl.nn.testtool.TestTool" autowire="byName">
		<property name="maxCheckpoints"><ref bean="maxCheckpoints"/></property>
		<property name="maxMemoryUsage"><ref bean="maxMemoryUsage"/></property>
		<property name="maxMessageLength"><ref bean="maxMessageLength"/></property>
		<property name="regexFilter"><ref bean="regexFilter"/></property>
		<property name="securityLoggerName" value="SEC"/>
		<!--
		Prevent threads that didn't start and aren't cancelled to keep reports in progress. Most of the times (like when
		using ParallelSenders) the main thread will wait for child threads to return their result anyway
		-->
		<property name="closeThreads" value="true"/>
		<!-- See comment on closeReportsTask -->
		<property name="closeMessageCapturers" value="false"/>
	</bean>

	<!--
	Prevent streams for which close method isn't invoked to keep reports in progress.
	
	It would be possible to set closeMessageCapturers to true on the testTool bean but in some cases that would close
	the report too soon as a stream can be read after the pipeline has finished (e.g. when Base64Pipe is the last pipe
	Ladybug would show an empty string while test a pipeline would show the correct result).
	
	It would be possible to set threadsTime to a positive number to have the closeReportsTask bean close threads too
	instead of doing it on the testTool bean with closeThreads set to true but in that case the user would have to wait
	for this task to execute before a report would appear in the Ladybug
	-->
	<bean name="closeReportsTask" class="nl.nn.testtool.CloseReportsTask">
		<property name="messageCapturersTime" value="60000"/>
		<property name="threadsTime" value="-1"/>
	</bean>

	<task:scheduler id="closeReportsScheduler"/>

	<task:scheduled-tasks scheduler="closeReportsScheduler">
		<task:scheduled ref="closeReportsTask" method="closeReports" fixed-delay="10000" />
	</task:scheduled-tasks>

	<bean name="metadataExtractor" class="nl.nn.testtool.MetadataExtractor">
		<property name="extraMetadataFieldExtractors">
			<list>
				<bean class="nl.nn.ibistesttool.metadata.StatusExtractor"/>
			</list>
		</property>
	</bean>

	<bean name="debugStorage" class="nl.nn.testtool.storage.file.Storage" autowire="byName" init-method="init">
		<property name="name" value="Logging"/>
		<property name="reportsFilename" value="${log.dir}/testtool4${instance.name.lc}.tts"/>
		<property name="metadataFilename" value="${log.dir}/testtool4${instance.name.lc}.ttm"/>
		<property name="persistentMetadata">
			<list>
				<value>storageId</value>
				<value>storageSize</value>
				<value>endTime</value>
				<value>duration</value>
				<value>name</value>
				<value>correlationId</value>
				<value>status</value>
				<value>numberOfCheckpoints</value>
				<value>estimatedMemoryUsage</value>
			</list>
		</property>
	</bean>

	<bean name="testStorageActive" class="java.lang.String">
		<constructor-arg value="#{
				'${dtap.stage}' == 'LOC' ||
				'${dtap.stage}' == 'xxx' ||
				'${dtap.stage}' == ''
				?
				'testStorageXml' : 'testStorageFile'
				}"
		/>
	</bean>
	<bean name="testStorageXml" class="nl.nn.testtool.storage.xml.XmlStorage" autowire="byName" init-method="init">
		<property name="name" value="Test"/>
		<property name="metadataFile" value="${log.dir}/testtool4${instance.name.lc}.metadata.xml"/>
		<property name="reportsFolder" value="${ibistesttool.directory}"/>
	</bean>
	<bean name="testStorageFile" class="nl.nn.testtool.storage.file.TestStorage" autowire="byName" init-method="init">
		<property name="name" value="Test"/>
		<property name="reportsFilename" value="${log.dir}/testtool4${instance.name.lc}.tts"/>
		<property name="metadataFilename" value="${log.dir}/testtool4${instance.name.lc}.ttm"/>
		<property name="persistentMetadata">
			<list>
				<value>storageId</value>
				<value>storageSize</value>
				<value>path</value>
				<value>name</value>
			</list>
		</property>
	</bean>

	<bean name="whiteBoxViewMetadataNames" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>storageId</value>
				<value>endTime</value>
				<value>duration</value>
				<value>name</value>
				<value>correlationId</value>
				<value>status</value>
				<value>numberOfCheckpoints</value>
				<value>estimatedMemoryUsage</value>
				<value>storageSize</value>
			</list>
		</constructor-arg>
	</bean>
	
	<bean name="whiteBoxView" class="nl.nn.testtool.filter.View" scope="prototype">
		<property name="name" value="White box"/>
		<property name="storage">
			<ref bean="debugStorage"/>
		</property>
		<property name="metadataNames">
			<ref bean="whiteBoxViewMetadataNames"/>
		</property>
	</bean>

	<bean name="grayBoxView" class="nl.nn.testtool.filter.View" parent="whiteBoxView">
		<property name="name" value="Gray box"/>
		<property name="checkpointMatchers">
			<list>
				<bean class="nl.nn.testtool.filter.CheckpointSearcher">
					<property name="nameSearch" value="Pipeline *"/>
				</bean>
				<bean class="nl.nn.testtool.filter.CheckpointSearcher">
					<property name="nameSearch" value="Sender *"/>
				</bean>
				<bean class="nl.nn.ibistesttool.filter.FtpFileRetrieverPipe"/>
			</list>
		</property>
	</bean>

	<bean name="blackBoxView" class="nl.nn.testtool.filter.View" parent="whiteBoxView">
		<property name="name" value="Black box"/>
		<property name="checkpointMatchers">
			<list>
				<bean class="nl.nn.ibistesttool.filter.BlackBox"/>
				<bean class="nl.nn.ibistesttool.filter.FtpFileRetrieverPipe"/>
			</list>
		</property>
	</bean>

	<bean name="views" class="nl.nn.testtool.filter.Views" scope="prototype">
		<property name="views">
			<list>
				<ref bean="whiteBoxView"/>
				<ref bean="grayBoxView"/>
				<ref bean="blackBoxView"/>
			</list>
		</property>
	</bean>

	<bean name="reportXmlTransformer" class="nl.nn.testtool.transform.ReportXmlTransformer">
		<property name="xsltResource" value="${ibistesttool.reportTransformation}"/>
	</bean>

	<bean name="treePane" class="nl.nn.testtool.echo2.reports.TreePane" autowire="byName" init-method="initBean" scope="prototype"/>

	<bean name="changeReportGeneratorEnabledRoles" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>IbisTester</value>
				<value>IbisAdmin</value>
				<value>IbisDataAdmin</value>
			</list>
		</constructor-arg>
	</bean>

	<bean name="reportsComponent" class="nl.nn.testtool.echo2.reports.ReportsComponent" autowire="byName" init-method="initBean" scope="prototype">
		<property name="changeReportGeneratorEnabledRoles" ref="changeReportGeneratorEnabledRoles"/>
		<property name="testTool">
			<ref bean="testTool"/>
		</property>
		<property name="views">
			<ref bean="views"/>
		</property>
		<property name="metadataExtractor">
			<ref bean="metadataExtractor"/>
		</property>
	</bean>

	<bean name="debugPane" class="nl.nn.testtool.echo2.DebugPane" init-method="initBean" scope="prototype">
		<property name="reportsTreeCellRenderer">
			<ref bean="reportsTreeCellRenderer"/>
		</property>
		<property name="testTool">
			<ref bean="testTool"/>
		</property>
		<property name="testStorage">
			<ref bean="#{testStorageActive}"/>
		</property>
		<property name="reportsComponent">
			<ref bean="reportsComponent"/>
		</property>
		<property name="treePane">
			<ref bean="treePane"/>
		</property>
		<property name="reportXmlTransformer">
			<ref bean="reportXmlTransformer"/>
		</property>
	</bean>

	<bean name="testPane" class="nl.nn.testtool.echo2.TestPane" init-method="initBean" scope="prototype">
		<property name="treePane">
			<bean class="nl.nn.testtool.echo2.test.TreePane" autowire="byName" init-method="initBean" >
				<property name="storage">
					<ref bean="#{testStorageActive}"/>
				</property>
			</bean>
		</property>
		<property name="infoPane">
			<bean class="nl.nn.testtool.echo2.test.InfoPane" init-method="initBean">
				<property name="testComponent">
					<bean class="nl.nn.testtool.echo2.test.TestComponent" init-method="initBean">
						<property name="testTool">
							<ref bean="testTool"/>
						</property>
						<property name="debugStorage">
							<ref bean="debugStorage"/>
						</property>
						<property name="testStorage">
							<ref bean="#{testStorageActive}"/>
						</property>
						<property name="reportXmlTransformer">
							<ref bean="reportXmlTransformer"/>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean name="comparePane" class="nl.nn.testtool.echo2.ComparePane" init-method="initBean" scope="prototype">
		<property name="reportsTreeCellRenderer">
			<ref bean="reportsTreeCellRenderer"/>
		</property>
		<property name="testTool">
			<ref bean="testTool"/>
		</property>
		<property name="testStorage">
			<ref bean="#{testStorageActive}"/>
		</property>
		<property name="reportsComponent1">
			<bean parent="reportsComponent">
				<property name="addCompareButton" value="true"/>
				<property name="addSeparateOptionsRow" value="true"/>
				<property name="focusMaxMetadataTableSize" value="false"/>
			</bean>
		</property>
		<property name="reportsComponent2">
			<bean parent="reportsComponent">
				<property name="addCompareButton" value="true"/>
				<property name="addSeparateOptionsRow" value="true"/>
				<property name="focusMaxMetadataTableSize" value="false"/>
			</bean>
		</property>
		<property name="treePane1">
			<ref bean="treePane"/>
		</property>
		<property name="treePane2">
			<ref bean="treePane"/>
		</property>
		<property name="reportXmlTransformer">
			<ref bean="reportXmlTransformer"/>
		</property>
	</bean>

	<bean name="tabs" class="nl.nn.testtool.echo2.Tabs" scope="prototype">
		<property name="tabs">
			<list>
				<ref bean="debugPane"/>
				<ref bean="testPane"/>
				<ref bean="comparePane"/>
			</list>
		</property>
	</bean>

	<bean name="echo2Application" class="nl.nn.testtool.echo2.Echo2Application" autowire="byName" init-method="initBean" scope="prototype">
		<property name="contentPane">
			<bean class="nextapp.echo2.app.ContentPane"/>
		</property>
		<property name="reportsTreeCellRenderer">
			<ref bean="reportsTreeCellRenderer"/>
		</property>
		<property name="tabs">
			<ref bean="tabs"/>
		</property>
		<property name="testStorage">
			<ref bean="#{testStorageActive}"/>
		</property>
	</bean>

	<bean name="reportsTreeCellRenderer" class="nl.nn.testtool.echo2.reports.ReportsTreeCellRenderer"/>

	<bean name="pipeDescriptionProvider" class="nl.nn.ibistesttool.PipeDescriptionProvider" autowire="byName"/>

	<bean name="rerunRoles" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>IbisTester</value>
			</list>
		</constructor-arg>
	</bean>

	<bean name="debugger,ibisDebugger" class="nl.nn.ibistesttool.Debugger" autowire="byName"/>

	<bean name="messageEncoder" class="nl.nn.ibistesttool.MessageEncoder" autowire="byName"/>

	<bean name="messageCapturer" class="nl.nn.ibistesttool.MessageCapturer" autowire="byName"/>

	<bean name="messageTransformer" class="nl.nn.ibistesttool.transform.HideRegexMessageTransformer"/>

</beans>
