<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util.xsd
		"
	>

	<import resource="springIbisTestTool.xml"/>

	<bean name="configName" class="java.lang.String">
		<constructor-arg value="Ibis Test Tool Bipa"/>
	</bean>

	<bean name="maxCheckpoints" class="java.lang.Integer">
		<constructor-arg value="25000"/>
	</bean>

	<bean name="metadataExtractor" class="nl.nn.testtool.MetadataExtractor">
		<property name="extraMetadataFieldExtractors">
			<list>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="contractNr"/>
					<property name="label" value="Contract Nr"/>
					<property name="shortLabel" value="ContractNr"/>
					<property name="xpath" value="if (//field[@name='CONTR_NR']) then //field[@name='CONTR_NR'] else if (//contractId) then //contractId else if (//SelectedContract) then //SelectedContract else //tfID"/>
					<property name="extractFrom" value="all"/>
				</bean>
				<bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
					<property name="name" value="polisNr"/>
					<property name="label" value="Polis Nr"/>
					<property name="shortLabel" value="PolisNr"/>
					<property name="xpath" value="if (//field[@name='POL_NR']) then //field[@name='POL_NR'] else if (//polisId) then //polisId else //SelectedPolis"/>
					<property name="extractFrom" value="all"/>
				</bean>
			</list>
		</property>
	</bean>

	<bean name="contractNrAndPolisNrViewMetadataNames" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>storageId</value>
				<value>endTime</value>
				<value>duration</value>
				<value>name</value>
				<value>contractNr</value>
				<value>polisNr</value>
				<value>status</value>
				<value>numberOfCheckpoints</value>
				<value>correlationId</value>
			</list>
		</constructor-arg>
	</bean>

	<bean name="contractNrAndPolisNrView" parent="whiteBoxView">
		<property name="name" value="ContractNr and PolisNr"/>
		<property name="metadataNames">
			<ref bean="contractNrAndPolisNrViewMetadataNames"/>
		</property>
	</bean>

	<bean name="rekenboxView" parent="whiteBoxView">
		<property name="name" value="Rekenbox"/>
		<property name="metadataNames">
			<ref bean="contractNrAndPolisNrViewMetadataNames"/>
		</property>
		<property name="metadataFilter">
			<map>
				<entry key="name" value="(Pipeline BIPA_RB_CBV_Manual|Pipeline BIPA_RB_CBV_Polling)"/>
			</map>
		</property>
		<property name="checkpointMatchers">
			<list>
				<bean class="nl.nn.testtool.filter.CheckpointSearcher">
					<property name="nameSearch" value="(Pipeline Rekenbox)"/>
				</bean>
				<bean class="nl.nn.testtool.filter.CheckpointSearcher">
					<property name="nameSearch" value="(StoreResultInSessionKey invFile)"/>
				</bean>
				<bean class="nl.nn.testtool.filter.CheckpointSearcher">
					<property name="nameSearch" value="(StoreResultInSessionKey uitFile)"/>
				</bean>
				<bean class="nl.nn.testtool.filter.CheckpointSearcher">
					<property name="type">
						<util:constant static-field="nl.nn.testtool.Checkpoint.TYPE_STARTPOINT"/>
					</property>
					<property name="nameSearch" value="(Pipe Execute)"/>
				</bean>
				<bean class="nl.nn.testtool.filter.CheckpointSearcher">
					<property name="type">
						<util:constant static-field="nl.nn.testtool.Checkpoint.TYPE_ENDPOINT"/>
					</property>
					<property name="nameSearch" value="(Pipe Execute)"/>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean name="views" class="nl.nn.testtool.filter.Views">
		<property name="views">
			<list>
				<ref bean="whiteBoxView"/>
				<ref bean="grayBoxView"/>
				<ref bean="blackBoxView"/>
				<ref bean="contractNrAndPolisNrView"/>
				<ref bean="rekenboxView"/>
			</list>
		</property>
	</bean>

</beans>
