version: ''

name: embedded

services:
  ff-test:
    environment:
      management.gateway.inbound.class: "org.frankframework.management.gateway.HazelcastInboundGateway"
  console:
    image: private.docker.nexus.frankframework.org/frank-console:${VERSION:-latest}
    build: embedded/console
    ports:
      - "8081:8080"
    environment:
      management.gateway.outbound.class: "org.frankframework.management.gateway.HazelcastOutboundGateway"
