.collapse {
  display: block;
  height: 0;
  z-index: -1;
  overflow: hidden;
  //transition: height .15s ease;

  &.in {
    height: auto;
    z-index: auto;
  }
}

li > a {
  cursor: pointer;
}

fa-icon + span {
  margin-left: 6px;
}

.fa-green {
  color: #8bc34a;
}

.fa-magenta {
  color: #fe41ff;
}

.fa-blue {
  color: #00abff;
}

.fa-white {
  color: #fff;
}

.fa-arrow {
  float: right;
}
