<nav #navElem class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <cdk-accordion>
      <ul class="nav metismenu" id="side-menu" appSidebar>
        <li class="nav-header">
          <div class="profile-element">
            <img [src]="frankframeworkLogoPath" alt="Logo" />
          </div>
          <div class="logo-element">
            <img [src]="frankExclamationPath" alt="Logo" />
          </div>
        </li>

        <app-custom-views></app-custom-views>

        <li *appHasAccessToLink="'getAdapters'" routerLinkActive="active">
          <a data-cy-nav="adapterStatus" routerLink="/status" (click)="closeExpandedItem()"
            ><i class="fa fa-dashboard"></i> <span class="nav-label">Adapter Status</span></a
          >
        </li>

        <li
          cdkAccordionItem
          #configuration
          #accordionItemConfiguration="cdkAccordionItem"
          class="nav-group"
          tabindex="0"
          *appHasAccessToLink="['getConfigurationXML', 'manageConfiguration']"
          [attr.aria-expanded]="accordionItemConfiguration.expanded"
          [expanded]="
            getExpandedByRoute('configuration', { element: configuration, accordionItem: accordionItemConfiguration })
          "
          [ngClass]="getClassByRoute('active', 'configuration', accordionItemConfiguration.expanded)"
        >
          <a (click)="expandCollapse(accordionItemConfiguration, $event)"
            ><i class="fa fa-cogs"></i>
            <span class="nav-label">Configurations</span>
            <span class="fa arrow"></span
          ></a>
          <ul class="nav nav-second-level collapse" [ngClass]="{ in: accordionItemConfiguration.expanded }">
            <li
              *appHasAccessToLink="'getConfigurationXML'"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a routerLink="/configurations">Show Configurations</a>
            </li>
            <li *appHasAccessToLink="'manageConfiguration'" routerLinkActive="active">
              <a routerLink="/configurations/manage">Manage Configurations</a>
            </li>
          </ul>
        </li>
        <li
          cdkAccordionItem
          #logging
          #accordionItemLogging="cdkAccordionItem"
          class="nav-group"
          tabindex="0"
          *appHasAccessToLink="['getLogDirectory', 'updateLogConfiguration']"
          [attr.aria-expanded]="accordionItemLogging.expanded"
          [expanded]="getExpandedByRoute('logging', { element: logging, accordionItem: accordionItemLogging })"
          [ngClass]="getClassByRoute('active', 'logging', accordionItemLogging.expanded)"
        >
          <a (click)="expandCollapse(accordionItemLogging, $event)"
            ><i class="fa fa-life-ring"></i> <span class="nav-label">Logging</span> <span class="fa arrow"></span
          ></a>
          <ul class="nav nav-second-level collapse" [ngClass]="{ in: accordionItemLogging.expanded }">
            <li
              *appHasAccessToLink="'getLogDirectory'"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{
                paths: 'exact',
                queryParams: 'ignored',
                matrixParams: 'exact',
                fragment: 'ignored',
              }"
            >
              <a routerLink="/logging">Log Files</a>
            </li>
            <li *appHasAccessToLink="'updateLogConfiguration'" routerLinkActive="active">
              <a routerLink="/logging/settings">Log Settings</a>
            </li>
          </ul>
        </li>
        <li
          cdkAccordionItem
          #testing
          #accordionItemTesting="cdkAccordionItem"
          class="nav-group"
          tabindex="0"
          [attr.aria-expanded]="accordionItemTesting.expanded"
          [expanded]="
            getExpandedByRoute(['testing', 'test-'], { element: testing, accordionItem: accordionItemTesting })
          "
          [ngClass]="getClassByRoute('active', ['testing', 'test-'], accordionItemTesting.expanded)"
        >
          <a data-cy-nav="testing" (click)="expandCollapse(accordionItemTesting, $event)"
            ><i class="fa fa-bug"></i> <span class="nav-label">Testing</span> <span class="fa arrow"></span
          ></a>
          <ul class="nav nav-second-level collapse" [ngClass]="{ in: accordionItemTesting.expanded }">
            <li data-cy-nav="testingLarva" routerLinkActive="active">
              <a routerLink="/testing/larva">Larva</a>
            </li>
            <li data-cy-nav="testingLadybugLegacy" routerLinkActive="active">
              <a routerLink="/testing/ladybug-legacy">Ladybug (legacy)</a>
            </li>
            <li data-cy-nav="testingLadybug" routerLinkActive="active">
              <a routerLink="/testing/ladybug">Ladybug</a>
            </li>
            <li data-cy-nav="testingRunPipeline" *appHasAccessToLink="'testPipeLine'" routerLinkActive="active">
              <a routerLink="/test-pipeline">Test a Pipeline</a>
            </li>
            <li
              data-cy-nav="testingRunServiceListener"
              *appHasAccessToLink="'postServiceListener'"
              routerLinkActive="active"
            >
              <a routerLink="/test-service-listener">Test a ServiceListener</a>
            </li>
          </ul>
        </li>
        <li
          cdkAccordionItem
          #jdbc
          #accordionItemJdbc="cdkAccordionItem"
          class="nav-group"
          tabindex="0"
          *appHasAccessToLink="['executeJdbcQuery', 'browseJdbcTable', 'generateSQL']"
          [attr.aria-expanded]="accordionItemJdbc.expanded"
          [expanded]="getExpandedByRoute(['jdbc', 'liquibase'], { element: jdbc, accordionItem: accordionItemJdbc })"
          [ngClass]="getClassByRoute('active', ['jdbc', 'liquibase'], accordionItemJdbc.expanded)"
        >
          <a (click)="expandCollapse(accordionItemJdbc, $event)"
            ><i class="fa fa-cubes"></i> <span class="nav-label">JDBC</span> <span class="fa arrow"></span
          ></a>
          <ul class="nav nav-second-level collapse" [ngClass]="{ in: accordionItemJdbc.expanded }">
            <li *appHasAccessToLink="'executeJdbcQuery'" routerLinkActive="active">
              <a routerLink="/jdbc/execute-query">Execute Query</a>
            </li>
            <li *appHasAccessToLink="'browseJdbcTable'" routerLinkActive="active">
              <a routerLink="/jdbc/browse-tables">Browse Tables</a>
            </li>
            <li *appHasAccessToLink="'generateSQL'" routerLinkActive="active">
              <a routerLink="/liquibase">Liquibase Script</a>
            </li>
          </ul>
        </li>
        <li
          cdkAccordionItem
          #jms
          #accordionItemJms="cdkAccordionItem"
          class="nav-group"
          tabindex="0"
          *appHasAccessToLink="['browseQueue', 'putJmsMessage']"
          [attr.aria-expanded]="accordionItemJms.expanded"
          [expanded]="getExpandedByRoute('jms', { element: jms, accordionItem: accordionItemJms })"
          [ngClass]="getClassByRoute('active', 'jms', accordionItemJms.expanded)"
        >
          <a (click)="expandCollapse(accordionItemJms, $event)"
            ><i class="fa fa-th-large"></i> <span class="nav-label">JMS</span> <span class="fa arrow"></span
          ></a>
          <ul class="nav nav-second-level collapse" [ngClass]="{ in: accordionItemJms.expanded }">
            <li *appHasAccessToLink="'browseQueue'" routerLinkActive="active">
              <a routerLink="/jms/browse-queue">Browse Queue</a>
            </li>
            <li *appHasAccessToLink="'putJmsMessage'" routerLinkActive="active">
              <a routerLink="/jms/send-message">Send Message</a>
            </li>
          </ul>
        </li>
        <li *appHasAccessToLink="'getWebServices'" routerLinkActive="active">
          <a routerLink="/webservices" (click)="closeExpandedItem()"
            ><i class="fa fa-paper-plane-o"></i> <span class="nav-label">Webservices</span></a
          >
        </li>
        <li *appHasAccessToLink="'getSchedule'" routerLinkActive="active">
          <a routerLink="/scheduler" (click)="closeExpandedItem()"
            ><i class="fa fa-calendar"></i> <span class="nav-label">Scheduler</span></a
          >
        </li>
        <li *appHasAccessToLink="'getMonitors'" routerLinkActive="active">
          <a routerLink="/monitors" (click)="closeExpandedItem()"
            ><i class="fa fa-clone"></i> <span class="nav-label">Monitors</span></a
          >
        </li>
        <li *appHasAccessToLink="'getEnvironmentVariables'" routerLinkActive="active">
          <a routerLink="/environment-variables" (click)="closeExpandedItem()"
            ><i class="fa fa-language"></i> <span class="nav-label">Environment Variables</span></a
          >
        </li>
        <li
          cdkAccordionItem
          #overview
          #accordionItemOverview="cdkAccordionItem"
          class="nav-group"
          tabindex="0"
          *appHasAccessToLink="['getConnections', 'getIbisStoreSummary', 'getMessageBrowsers']"
          [attr.aria-expanded]="accordionItemOverview.expanded"
          [expanded]="
            getExpandedByRoute(['connections', 'ibisstore-', 'inlinestores'], {
              element: overview,
              accordionItem: accordionItemOverview,
            })
          "
          [ngClass]="
            getClassByRoute('active', ['connections', 'ibisstore-', 'inlinestores'], accordionItemOverview.expanded)
          "
        >
          <a (click)="expandCollapse(accordionItemOverview, $event)"
            ><i class="fa fa-sitemap"></i> <span class="nav-label">Overview</span> <span class="fa arrow"></span
          ></a>
          <ul class="nav nav-second-level collapse" [ngClass]="{ in: accordionItemOverview.expanded }">
            <li *appHasAccessToLink="'getConnections'" routerLinkActive="active">
              <a routerLink="/connections">Connection Overview</a>
            </li>
            <li *appHasAccessToLink="'getIbisStoreSummary'" routerLinkActive="active">
              <a routerLink="/ibisstore-summary">Ibisstore Summary</a>
            </li>
            <li *appHasAccessToLink="'getMessageBrowsers'" routerLinkActive="active">
              <a routerLink="/inlinestores/overview">InlineStore Overview</a>
            </li>
          </ul>
        </li>
        <li *appHasAccessToLink="'getSecurityItems'" routerLinkActive="active">
          <a routerLink="/security-items" (click)="closeExpandedItem()"
            ><i class="fa fa-lock"></i> <span class="nav-label">Security Items</span></a
          >
        </li>
        <li *appHasAccessToLink="'getServerInformation'">
          <a (click)="openInfo()" class="pointer"
            ><i class="fa fa-info-circle"></i> <span class="nav-label">Information</span></a
          >
        </li>
        <li style="border-top: 1px solid #19aa8d">
          <a target="_blank" href="http://frank-manual.readthedocs.io/" title="Frank!Manual" rel="noopener noreferrer"
            ><i class="fa fa-book"></i> <span class="nav-label">Frank!Manual</span></a
          >
        </li>
        <li>
          <a target="_blank" href="../frankdoc" title="Frank!Doc"
            ><i class="fa fa-book"></i> <span class="nav-label">Frank!Doc</span></a
          >
        </li>
        <li>
          <a
            class="pointer"
            target="_blank"
            title="Give Feedback"
            href="https://github.com/frankframework/frankframework/discussions"
          >
            <i class="fa fa-commenting-o"></i>
            <span class="nav-label">Give Feedback</span>
          </a>
        </li>
        <li>
          <a
            class="pointer"
            target="_blank"
            title="Report a Bug"
            href="https://github.com/frankframework/frankframework/issues/new?template=1-bug.yml&environment={{
              encodedServerInfo
            }}"
          >
            <i class="fa fa-flag"></i>
            <span class="nav-label">Report a Bug</span>
          </a>
        </li>
        <li class="navbar-spacer"></li>
        <li>
          <app-scroll-to-top [navElem]="navElem" />
        </li>
        <app-minimaliza-sidebar />
      </ul>
    </cdk-accordion>
  </div>
</nav>
