<div fit-height style="margin: 0 -15px;" ng-if="$ctrl.url.length > 0">
	<iframe ng-src="{{$ctrl.url}}" style="width:100%; height:100%; border:none; overflow:hidden;"></iframe>
</div>

<div class="row" ng-if="$ctrl.redirectURL && $ctrl.redirectURL.length > 0">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content">
			<div class="text-center animated fadeInRightBig" style="margin-top: 140px;">
				<h3 class="font-bold">Automated redirect to - {{$ctrl.redirectURL}}</h3>
				<p><a target="_blank" ng-href="{{$ctrl.redirectURL}}">Click here if you have not automatically been redirected to '{{$ctrl.redirectURL}}'</a></p>
			</div>
		</div>
	</div>
</div>