<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12 table-responsive">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="pull-right">
            <button
              appHasAccessToLink="downloadActiveConfigurations"
              class="btn btn-xs btn-info space-it-out"
              type="button"
              (click)="downloadAll()"
            >
              <i class="fa fa-download" aria-hidden="true"></i><span> Download Active Configs</span>
            </button>
            <button
              appHasAccessToLink="uploadConfiguration"
              routerLink="/configurations/upload"
              class="btn btn-xs btn-info"
              type="button"
            >
              <i class="fa fa-upload" aria-hidden="true"></i><span> Upload Config</span>
            </button>
          </div>
          <h4>Manage Configurations</h4>
        </div>
        <div class="ibox-content">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Type</th>
                <th>Parent</th>
                <th>Filename</th>
                <th>Created At</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let conf of configurations"
                [ngClass]="{ 'text-danger': conf.exception }"
                [title]="conf.exception ?? ''"
              >
                <td *ngIf="conf.type === 'DatabaseClassLoader'">
                  <a
                    appHasAccessToLink="manageConfiguration"
                    [routerLink]="['/configurations/manage/', conf.name]"
                    [state]="{ configuration: conf }"
                    >{{ conf.name }}</a
                  >
                </td>
                <td *ngIf="conf.type !== 'DatabaseClassLoader'">
                  {{ conf.name }}
                </td>
                <td>{{ conf.version ? conf.version : '-' }}</td>
                <td>{{ conf.type ? conf.type : '-' }}</td>
                <td>{{ conf.parent ? conf.parent : '-' }}</td>
                <td>{{ conf.filename ? conf.filename : '-' }}</td>
                <td>{{ conf.created ? conf.created : '-' }}</td>
                <td>{{ conf.user ? conf.user : '-' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
