<div class="wrapper wrapper-content animated fadeInRight">
  @if (error) {
    <div class="alert alert-warning" role="alert" type="warning">
      <span class="ng-binding ng-scope" [innerHTML]="error"></span>
    </div>
  }
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Browse JMS Queue</h4>
        </div>
        <div class="ibox-content">
          <form role="form" appQuickSubmitForm (submit)="submit(form)">
            <div class="row form-group">
              <label class="col-sm-5 col-md-3 control-label label-height-30">Select a Connection Factory</label>
              <div class="col-sm-7 col-md-9">
                <select class="form-control" name="connectionFactory" [(ngModel)]="form.connectionFactory">
                  @for (connectionFactory of connectionFactories; track connectionFactory) {
                    <option>
                      {{ connectionFactory }}
                    </option>
                  }
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-5 col-md-3 control-label label-height-30">Destination Name</label>
              <div class="col-sm-7 col-md-9">
                <input class="form-control" name="destination" type="text" [(ngModel)]="form.destination" />
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-5 col-md-3 control-label label-height-30">Destination Type</label>
              <div class="col-sm-7 col-md-9">
                <select class="form-control" name="type" [(ngModel)]="form.type">
                  @for (type of destinationTypes; track type) {
                    <option>
                      {{ type }}
                    </option>
                  }
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-5 col-md-3 control-label label-height-30">Number of messages only</label>
              <div class="col-sm-7 col-md-9">
                <span class="form-control" style="border: none"
                  ><input type="checkbox" name="rowNumbersOnly" [(ngModel)]="form.rowNumbersOnly"
                /></span>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-5 col-md-3 control-label label-height-30">Show message payload</label>
              <div class="col-sm-7 col-md-9">
                <span class="form-control" style="border: none"
                  ><input type="checkbox" name="payload" [(ngModel)]="form.payload"
                /></span>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-5 col-md-3 control-label label-height-30">Lookup Destination</label>
              <div class="col-sm-7 col-md-9">
                <span class="form-control" style="border: none"
                  ><input type="checkbox" name="lookupDestination" [(ngModel)]="form.lookupDestination"
                /></span>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-5 col-md-3 m-t-md">
                <button class="btn btn-info btn-w-m font-bold" type="button" (click)="reset()">Reset</button>
              </div>
              <div class="col-xs-5 col-md-3 m-t-md">
                <button class="btn btn-primary btn-w-m font-bold" type="submit" [ladda]="processing">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    @if (numberOfMessages > -1) {
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h4>Queue '{{ form.destination }}' contains {{ numberOfMessages }} message(s)</h4>
          </div>
          @if (numberOfMessages > 0 && messages.length > 0) {
            <div class="ibox-content">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Date/Time</th>
                    <th>MessageId</th>
                    <th>CorrelationID</th>
                    @if (messages[0].text) {
                      <th>Payload</th>
                    }
                  </tr>
                </thead>
                <tbody>
                  @for (message of messages; track i; let i = $index) {
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td appToDate [time]="message.insertDate"></td>
                      <td>{{ message.id }}</td>
                      <td>{{ message.correlationId }}</td>
                      @if (message.text) {
                        <td>{{ message.text }}</td>
                      }
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
