<!-- Angular ui-router hack-->
<div ui-view></div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>IAF Upgrade Available</h4>
                </div>
                <div class="ibox-content">
                    <h2><i class="fa fa-github" aria-hidden="true"></i> Release: <a href="{{release.html_url}}" target="_blank" alt="GitHub.com">{{release.name}}</a></h2>
                    <h4>Created at: <span to-date time="{{release.created_at}}"></span>.</h4>
                    <hr/>
                    <p ng-bind-html="release.body | markDown"></p>
                </div>
            </div>
        </div>
    </div>
</div>