<?xml version="1.0" encoding="UTF-8"?>
<!--
  $Log: springCustom.xml,v $
  Revision 1.4  2011-11-30 13:51:45  europe\m168309
  adjusted/reversed "Upgraded from WebSphere v5.1 to WebSphere v6.1"

  Revision 1.1  2011/10/19 14:49:47  Peter Leeuwenburgh <peter.leeuwenburgh@ibissource.org>
  Upgraded from WebSphere v5.1 to WebSphere v6.1

  Revision 1.2  2010/09/07 15:55:13  Jaco de Groot <jaco.de.groot@ibissource.org>
  Removed IbisDebugger, made it possible to use AOP to implement IbisDebugger functionality.

-->
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"
		http://www.springframework.org/schema/beans xml/xsd/spring-beans-2.5.xsd
		"
	>
	<!--
	Overwrite this file on the classpath to import custom Spring configuration.
	-->    
</beans>
