@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 12px;
  font-family: Roboto;
  overflow: hidden;
}

td, th {
  border: 1px solid black;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

a {
  color: #1E7EC8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  outline: 0;
  border-radius: 5px;
  margin-right: 3px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  min-width: 250px;
  max-width: 250px;
}

.folders {
  border-bottom: 1px solid black;
  float: left;
}


.methods, .classes {
  overflow-y: auto;
}

.methods, .folders, .classes {
  padding: 20px;
}

.class_name {
  padding: 10px 0px;
  font-size: 24px;
}

.attribute {
  font-size: 16px;
  padding: 10px 0px;
}

.outerDescription {
  margin: 0 auto;
}

.innerDescription {
  margin-left: 50px;
}

.clickableClasses:hover, .clickableFolders:hover {
  color: blue;
  cursor: pointer;
}

.exampleLink, .javadocLink {
  font-size: 12px;
}

.attributeName {
  width: 15%;
}

.attributeDesc {
  width: 75%;
}

.attributeDV {
  width: 10%;
}

.foundnothing {
  font-style: italic;
  color: #808080;
  padding-left: 10px;
}

