<div class="wrapper wrapper-content animated fadeInRight">
  @if (error) {
    <div class="alert alert-warning" role="alert" type="warning">
      <span [innerHTML]="error"></span>
    </div>
  }
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Add Logging</h4>
        </div>
        <div class="ibox-content">
          <form role="form" appQuickSubmitForm (submit)="submit()">
            <div class="row form-group">
              <label for="table" class="col-sm-3 control-label label-height-30">Logger name</label>
              <div class="col-sm-9">
                <input
                  class="form-control"
                  name="table"
                  id="table"
                  type="text"
                  data-cy="logging-add__logger-name__input"
                  [(ngModel)]="form.logger"
                />
              </div>
            </div>
            <div class="row form-group">
              <label for="configuration" class="col-sm-3 control-label label-height-30">Level</label>
              <div class="col-sm-9">
                <select
                  class="form-control"
                  name="configuration"
                  id="configuration"
                  data-cy="logging-add__level__select"
                  [(ngModel)]="form.level"
                >
                  @for (level of levels; track level) {
                    <option [value]="level">
                      {{ level }}
                    </option>
                  }
                </select>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-offset-3 col-sm-9 m-t-md">
                <button
                  class="btn btn-primary btn-w-m font-bold space-it-out"
                  type="submit"
                  data-cy="logging-add__send-button"
                  [ladda]="processing"
                >
                  Send
                </button>
                <button routerLink=".." class="btn btn-w-m font-bold" type="button">Cancel</button>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-offset-3 col-sm-9 m-t-md"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
