svg {
  color: initial;
  line-height: initial;
  background-color: initial;
  display: initial;
  font-family: initial;
  font-size: initial;
  font-weight: initial;
  padding: initial;
  text-shadow: initial;

  foreignObject * {
    color: inherit;
    line-height: inherit;
    background-color: inherit;
    display: initial;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: inherit;
    text-shadow: inherit;
    text-decoration: inherit;
    -webkit-text-size-adjust: none;

    &:hover {
      color: inherit;
      background-color: inherit;
      text-shadow: inherit;
      text-decoration: inherit;
      -webkit-text-size-adjust: none;
    }
  }

  b {
    font-weight: bold;
  }
}
