<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		"
	>
	<bean name="proxiedDestinationNames" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!-- Replace with specific values for your project -->
				<!-- entry key="jms/GetMessageRequest">
					<value>ESB.Infrastructure.TS.Test.TestIAF.1.GetMessage.1.Request</value>
				</entry>
				<entry key="jms/UpdateMessageAction">
					<value>ESB.Infrastructure.TS.Test.TestIAF.1.UpdateMessage.1.Action</value>
				</entry -->
			</map>
		</constructor-arg>
	</bean>
</beans>
