<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-autowire="byType"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="springJmsDestinationNames.xml"/>

	<bean name="jmsConnector" class="org.frankframework.unmanaged.SpringJmsConnector" autowire="byName" scope="prototype" />

	<!--
	SpringJmsConnector depends on bean definition for proto-jmsContainer below;
	this bean is not needed in the EJB deployment mode.

	Please note that this definition is intentionally incomplete and can not be
	instantiated as-is: Runtime-magic will take care of proper & complete
	instantiation.
	-->
	<bean name="proto-jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer" autowire="byName" scope="prototype">
		<property name="autoStartup" value="false"/>
	</bean>

	<bean id="connectionFactoryFactory" class="org.frankframework.jndi.JmsConnectionFactoryFactory" />
	<bean id="mqttClientFactory" class="org.frankframework.extensions.mqtt.MqttClientFactory" />
	<bean id="amqpConnectionFactory" class="org.frankframework.amqp.AmqpConnectionFactoryFactory" />
</beans>
