<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		"
>
	<!-- TODO: Figure out where to include this file under what conditions -->

	<!-- Not sure if this include is needed -->
	<import resource="springJms.xml"/>


	<bean id="connectionFactoryFactory" class="org.frankframework.jta.narayana.NarayanaConnectionFactoryFactory" depends-on="txManagerReal" autowire="byType" >
		<property name="transactionManager" ref="txManagerReal"/>
	</bean>

</beans>
