// required by log4j which is added to JVM classpath.

grant {

  permission java.io.FilePermission "${APPSERVER_ROOT_DIR}", "read";
  permission java.io.FilePermission "${APPSERVER_ROOT_DIR}${/}-", "read";
  permission java.io.FilePermission "${SERVER_LOG_ROOT}${/}-", "read,write,delete";
  permission java.io.FilePermission "/opt/IBM/WebSphere/AppServer/profiles/AppSrv01/logs", "read";
  permission java.io.FilePermission "/opt/IBM/WebSphere/AppServer/profiles/AppSrv01/logs/-", "read,write,delete";
  permission java.io.FilePermission "/opt/frank/configuration/-", "read";
  permission java.io.FilePermission "/opt/frank/testtool", "read";
  permission java.io.FilePermission "/opt/frank/testtool/-", "read,write,delete";
  permission java.io.FilePermission "/opt/frank/testtool-ext", "read";
  permission java.io.FilePermission "/opt/frank/testtool-ext/-", "read,write,delete";
  permission java.io.FilePermission "/tmp", "read,write,delete";
  permission java.io.FilePermission "/tmp/-", "read,write,delete";
  permission java.io.FilePermission "/work/drivers/-", "read";
  permission java.io.FilePermission "/home/was/-", "read"; // required for cxf: .mailcap
  
  permission java.util.PropertyPermission "*", "read,write";
  permission java.net.SocketPermission "*", "connect,resolve";
  permission java.lang.RuntimePermission "accessClassInPackage.sun.beans.infos";
  
   // required to for NPA based TAIs (like EncryptedLinkTAI) that use CredentialFactory to obtain credentials from JAAS Authentication Entries
  permission javax.security.auth.AuthPermission               "createLoginContext.DefaultPrincipalMapping";
  permission javax.security.auth.AuthPermission "modifyPublicCredentials";
  permission org.osgi.framework.ServicePermission "com.ibm.wsspi.runtime.config.ConfigService", "get";
 
  // required for LoginModule:
//  permission com.ibm.websphere.security.WebSphereRuntimePermission "validateLTPAToken";
//  permission com.ibm.websphere.security.WebSphereRuntimePermission "accessLTPAServerObject";
  permission com.ibm.websphere.security.WebSphereRuntimePermission "getSSLConfig";
  // to update groups:
//  permission com.ibm.websphere.security.WebSphereRuntimePermission "updateToken";

  // to read subject and private credentials:
//  permission javax.security.auth.AuthPermission "wssecurity.getCallerSubject";
//  permission javax.security.auth.PrivateCredentialPermission "com.ibm.ws.security.token.SingleSignonTokenImpl", "read";
//  permission javax.security.auth.PrivateCredentialPermission "com.ibm.ws.security.token.AuthenticationTokenImpl", "read";
//  permission javax.security.auth.PrivateCredentialPermission "com.ibm.ws.security.token.AuthorizationTokenImpl", "read";
  
  
   // the following is needed for commons-lang-2.x.jar
  permission java.lang.RuntimePermission "modifyThread";
  permission java.lang.RuntimePermission "modifyThreadGroup";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "setContextClassLoader";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
  

  // 2020-11-11 additional:
  permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";
  permission java.lang.RuntimePermission "accessClassInPackage.sun.net.www.protocol.classpath";
  
  // for Liquibase:
  // TODO: adjust code to be able to remove this permission, should not be necessary for liquibase
  permission java.io.FilePermission "/opt/IBM/WebSphere/AppServer/-", "read";
  
};
