<!-- Angular ui-router hack-->
<div ui-view></div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SendJmsMessageCtrl">
	<div class="alert alert-warning" role="alert" type="warning" ng-if="error">
		<span class="ng-binding ng-scope" ng-bind-html="error"></span>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h4>Send JMS Message</h4>
				</div>
				<div class="ibox-content">
					<form role="form">
						<div class="row form-group">
							<label class="col-sm-5 col-md-3 control-label label-height-30">Select a Connection Factory</label>
							<div class="col-sm-7 col-md-9">
								<select class="form-control" name="connectionFactory" ng-model="form.connectionFactory">
									<option ng-repeat="connectionFactory in connectionFactories" selected="{{$first ? 'selected' : ''}}">{{connectionFactory}}</option>
								</select>
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-5 col-md-3 control-label label-height-30">Destination Name</label>
							<div class="col-sm-7 col-md-9">
								<input class="form-control" name="destination" type="text" ng-model="form.destination"/>
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-5 col-md-3 control-label label-height-30">Destination Type</label>
							<div class="col-sm-7 col-md-9">
								<select class="form-control" name="type" ng-model="form.type">
									<option ng-repeat="type in destinationTypes">{{type}}</option>
								</select>
							</div>
						</div>
						<div class="row form-group" title="Name of the queue the reply is expected on.">
							<label class="col-sm-5 col-md-3 control-label label-height-30">Reply To</label>
							<div class="col-sm-7 col-md-9">
								<input class="form-control" name="replyTo" type="text" ng-model="form.replyTo"/>
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-5 col-md-3 control-label label-height-30">Persistent</label>
							<div class="col-sm-7 col-md-9">
								<span class="form-control" style="border: none;"><input icheck type="checkbox" name="persistent" ng-model="form.persistent" /></span>
							</div>
						</div>
						<div class="row form-group" title="In case it is checked, it will operate in rr mode. Expected reply will be created either on the queue specified in 'Reply To', or on a dynamically generated temporary queue">
							<label class="col-sm-5 col-md-3 control-label label-height-30">Synchronous</label>
							<div class="col-sm-7 col-md-9">
								<span class="form-control" style="border: none;"><input icheck type="checkbox" name="synchronous" ng-model="form.synchronous" /></span>
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-5 col-md-3 control-label label-height-30">Lookup Destination</label>
							<div class="col-sm-7 col-md-9">
								<span class="form-control" style="border: none;"><input icheck type="checkbox" name="lookupDestination" ng-model="form.lookupDestination" /></span>
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-5 col-md-3 control-label label-height-30">Message Property</label>
							<div class="col-sm-7 col-md-3">
								<input class="form-control" name="propertyKey" type="text" ng-model="form.propertyKey"/>
							</div>
							<div class="hidden-xs hidden-sm col-md-1">
								<label class="control-label label-height-30 pull-right">Value</label>
							</div>
							<div class="hidden-xs hidden-sm col-md-5">
								<input class="form-control" name="propertyValue" type="text" ng-model="form.propertyValue"/>
							</div>
						</div>
						<div class="row form-group hidden-md hidden-lg">
							<div class="col-sm-5">
								<label class="control-label label-height-30">Value</label>
							</div>
							<div class="col-sm-7">
								<input class="form-control" name="propertyValue" type="text" ng-model="form.propertyValue"/>
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-5 col-md-3 control-label label-height-30">Message</label>
							<div class="col-sm-7 col-md-9">
								<textarea class="form-control" name="message" rows="5" style="resize:none;" ng-model="form.message"></textarea>
							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-5 col-md-3 control-label label-height-30">Upload File</label>
							<div class="col-sm-7 col-md-5">
								<input-file-upload file="file" on-update-file="updateFile(file)" />
							</div>
							<div class="hidden-xs hidden-sm col-md-1">
								<label class="control-label label-height-30 pull-right">Encoding</label>
							</div>
							<div class="hidden-xs hidden-sm col-md-3">
								<input class="form-control" name="encoding" type="text" ng-model="form.encoding"/>
							</div>
						</div>
						<div class="row form-group hidden-md hidden-lg">
							<div class="col-sm-5">
								<label class="control-label label-height-30">Encoding</label>
							</div>
							<div class="col-sm-7">
								<input class="form-control" name="encoding" type="text" ng-model="form.encoding"/>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-xs-5 col-md-3 m-t-md">
								<button class="btn btn-info btn-w-m font-bold" type="button" ng-click="reset()">Reset</button>
							</div>
							<div class="col-xs-5 col-md-3 m-t-md">
								<button ladda="processing" class="btn btn-primary btn-w-m font-bold" type="submit" ng-click="submit(form)">Send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
