<web-app xmlns="https://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">
	<display-name>Frank!Framework Console</display-name>

	<description>Backend API + Console</description>

	<listener>
		<listener-class>nl.nn.adapterframework.webcontrol.runner.WebAppWacListener</listener-class>
	</listener>

	<!-- this login-config might trigger application server authentication popups. -->
	<!-- TODO: find a way to dynamically set this! -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Frank</realm-name>
	</login-config>

	<security-constraint>
		<display-name>PublicAccess</display-name>
		<web-resource-collection>
			<web-resource-name>PublicAccessResourceCollection</web-resource-name>
			<description>collection of url's for public access (overruled by other collections for specific url's)</description>
			<url-pattern>/*</url-pattern>
			<url-pattern>/iaf/api/server/health</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<!-- These roles are parsed when Spring Security is enabled and uses JEE container authorization. -->
	<security-role>
		<description>can call Ibis WebServices</description>
		<role-name>IbisWebService</role-name>
	</security-role>
	<security-role>
		<description>can look in configurations, statistics and log files</description>
		<role-name>IbisObserver</role-name>
	</security-role>
	<security-role>
		<description>can browse the error queue and resend or delete the messages in it, reload configurations, start and stop adapters, has all IbisObserver permissions</description>
		<role-name>IbisDataAdmin</role-name>
	</security-role>
	<security-role>
		<description>can do a full reload and has all IbisDataAdmin permissions</description>
		<role-name>IbisAdmin</role-name>
	</security-role>
	<security-role>
		<description>can execute jdbc query, send jms message and test a service, has all IbisAdmin and IbisWebService permissions</description>
		<role-name>IbisTester</role-name>
	</security-role>
</web-app>