<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation=
        "
		http://www.springframework.org/schema/beans http://www.springframework.org/beans/spring-beans.xsd
		http://www.springframework.org/schema/util  http://www.springframework.org/util/spring-util.xsd
		"
    >
  <bean id="txManagerReal" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource">
      <ref bean="dataSource"/>
    </property>
    <property name="transactionSynchronization">
      <util:constant
          static-field="org.springframework.transaction.support.AbstractPlatformTransactionManager.SYNCHRONIZATION_ON_ACTUAL_TRANSACTION"/>
    </property>
  </bean>

  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="org.h2.Driver"/>
    <property name="url" value="jdbc:h2:mem:"/>
  </bean>

  <!--
  Generated an error (running with jdk 1.5 and hsqldb 2.3.0): Error loading class [org.apache.commons.dbcp.BasicDataSource] for bean with name 'dataSource' defined in class path resource [springTEST.xml]: problem with class file or dependent class; nested exception is java.lang.UnsupportedClassVersionError: Bad version number in .class file
  <bean id="dataSource"
        class="org.apache.commons.dbcp.BasicDataSource">
    <property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver">
    </property>
    <property name="url" value="jdbc:hsqldb:mem:test">
    </property>
    <property name="username" value="sa">
    </property>
    <property name="password" value="">
    </property>
  </bean>
  -->

</beans>
