* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	font-size: 13px;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #676a6c;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	height: 100%;
}
button.btn {
	border-radius: 0px;
	margin-top: 4px;
}
button.btn:focus, button.btn:focus-visible {
	outline: none !important;
}
.font-weight-bold {
	font-weight: bold;
}
table.table-sm tbody tr td {
	padding: 5px 8px;
}
table.table thead th.tbl-10 {
	width: 10%;
}
table.table thead th.tbl-15 {
	width: 15%;
	min-width: 220px;
}
table.table thead th.tbl-65 {
	width: 65%;
}
table.table thead th.tbl-75 {
	width: 75%;
}
table.table thead th.tbl-85 {
	width: 85%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	min-width: 250px;
	max-width: 250px;
	max-height: 100%;
	background-color: #2f4050;
}
.sidebar ul {
	margin-bottom: 0;
}
.sidebar a {
	display: block;
	color: #a7b1c2;
	text-decoration: none !important;
	padding: 5px 10px;
	line-height: 1;
}
.sidebar a:hover {
	background-color: #293846;
}
.sidebar a.active {
	color: #fff;
	border-left: 4px solid #19aa8d;
	border-top: 1px solid #19aa8d;
	background-color: #293846;
}
.sidebar__search {
	border-bottom: 2px solid rgba(255,255,255,0.5);
	padding: 8px;
	position: relative;
}
.sidebar__search button {
	width: 100%;
}
.sidebar__search button.half {
	width: 115px;
}
.sidebar__search i.closeSearch  {
	position: absolute;
	top: 12px;
	right: 14px;
	z-index: 1800;
	font-size: 14px;
	cursor: pointer;
}
.sidebar__search input {
	width: 100%;
	padding: 2px 8px;
	border: 1px solid rgba(255,255,255,0.5);
}
.sidebar__search input:focus, .sidebar__search input:focus-visible {
	outline: 0;
}
.sidebar__categories {
	border-bottom: 2px solid rgba(255,255,255,0.5);
}
.sidebar__elements {
	overflow-y: auto;
}
.sidebar__categories,
.sidebar__elements {
	padding: 10px 0;
}
.element {
	width: 100%;
	padding: 0px 20px;
	background-color: white;
	overflow-y: scroll;
}
.sidebar__elements li.deprecated span, td.deprecated, code.deprecated {
	text-decoration: line-through;
}
.sidebar__elements li.deprecated i {
	color: #f0ad4e;
	padding-left: 2px;
}
.sub__element {
	padding-top: 2rem;
}
td.attribute__from {
	border-bottom: 2px solid #ddd;
}
.attribute__from {
	font-weight: 700;
	font-style: italic;
	font-size: 14px;
	padding-top: 16px !important;
	padding-bottom: 0 !important;
}

.element__name {
	margin-bottom: 0.5rem;
}
.element__tags {
	margin-top: -1.5rem;
	margin-bottom: 2rem;
}
.element__name .label{
	font-size: 1.25rem;
	vertical-align: middle;
}
.element__fullname {
	margin-top: 0;
	margin-bottom: 2rem;
}

.block {
	position: relative;
	padding: 10px 15px 0px;
	margin: 35px -15px 15px;
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;
	box-shadow: inset -3px 3px 6px rgb(0 0 0 / 5%);
}
.block > h4 {
	position: absolute;
	margin: 0;
	top: -20px;
	left: 5px;
	font-size: 14px;
	font-weight: 700;
	color: #676a6c;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.block table.table {
	margin: -8px 0 14px 0;
}

@media ( min-width : 768px) {
	.block  {
		margin-right: 0;
		margin-left: 0;
		background-color: #fff;
		border-color: #ddd;
		border-width: 1px;
		border-radius: 0 4px 0 0;
	}
}

.loadError {
	display: none;
	position: absolute;
	top: 150px;
	left: 50%;
	width: 650px;
	margin-left: -300px;
	text-align: center;
	font-size: 30px;
}