* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	font-size: 13px;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #676a6c;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	height: 100%;
}
button.btn {
	border-radius: 0px;
	width: 115px;
	margin-top: 4px;
	display: block;
}
button.btn:focus, button.btn:focus-visible {
	outline: none !important;
}
.font-weight-bold {
	font-weight: bold;
}
table.table-sm tbody tr td {
	padding: 5px 8px;
}
table.table thead th.tbl-10 {
	width: 10%;
}
table.table thead th.tbl-15 {
	width: 15%;
}
table.table thead th.tbl-65 {
	width: 65%;
}
.sidebar {
	display: flex;
	flex-direction: column;
	min-width: 250px;
	max-width: 250px;
	max-height: 100%;
	background-color: #2f4050;
}
.sidebar ul {
	margin-bottom: 0;
}
.sidebar a {
	display: block;
	color: #a7b1c2;
	text-decoration: none !important;
	padding: 5px 10px;
	line-height: 1;
}
.sidebar a:hover {
	background-color: #293846;
}
.sidebar a.active {
	color: #fff;
	border-left: 4px solid #19aa8d;
	border-top: 1px solid #19aa8d;
	background-color: #293846;
}
.sidebar__search {
	border-bottom: 2px solid rgba(255,255,255,0.5);
	padding: 8px;
}
.sidebar__search input {
	width: 100%;
	padding: 2px 8px;
	border: 1px solid rgba(255,255,255,0.5);
}
.sidebar__search input:focus, .sidebar__search input:focus-visible {
	outline: 0;
}
.sidebar__categories {
	border-bottom: 2px solid rgba(255,255,255,0.5);
}
.sidebar__elements {
	overflow-y: auto;
}
.sidebar__categories,
.sidebar__elements {
	padding: 10px 0;
}
.element {
	width: 100%;
	padding: 0px 20px;
	background-color: white;
	overflow-y: scroll;
}
.sidebar__elements li.deprecated span, td.deprecated {
	text-decoration: line-through;
}
.sidebar__elements li.deprecated i {
	color: #f0ad4e;
	padding-left: 2px;
}
.sub__element {
	padding-top: 2rem;
}

.element__name {
	margin-bottom: 0.5rem;
}

.element__name .label{
	font-size: 1.25rem;
	vertical-align: middle;
}
.element__fullname {
	margin-top: 0;
	margin-bottom: 2rem;
}
.loadError {
	position: absolute;
	top: 150px;
	left: 50%;
	width: 650px;
	margin-left: -300px;
	text-align: center;
	font-size: 30px;
}