@if (flow.isImage) {
  <a [href]="flow.url" target="_blank" rel="noopener noreferrer">
    <img [src]="flow.url" alt="Flow Diagram" />
  </a>
} @else {
  <div (click)="prepareFlowModal()" title="Generate Flow Diagram" [style.height]="height + 'px'">
    @if (loadInline) {
      <ng-mermaid [nmModel]="flow.data ?? ''" [nmRefreshInterval]="500" [flowName]="flowName"></ng-mermaid>
    } @else {
      <button appHasAccessToLink="getAdapterFlow" class="btn btn-info">
        <i class="fa fa-share-alt-square"></i> Flow Diagram
      </button>
    }
  </div>
}
