<a *ngIf="flow.isImage === true" [href]="flow.url" target="_blank" rel="noopener noreferrer">
  <img [src]="flow.url" alt="Flow Diagram" />
</a>
<div
  *ngIf="flow.isImage === false"
  (click)="openFlowModal(flow.data)"
  title="Generate Flow Diagram"
  [style.height]="height + 'px'"
>
  <ng-mermaid
    *ngIf="loadInline; else mermaidModalBtn"
    [nmModel]="flow.data?.body ?? ''"
    [nmRefreshInterval]="500"
  ></ng-mermaid>
  <ng-template #mermaidModalBtn>
    <button [appHasAccessToLink]="['getAdapterFlow']" class="btn btn-info">
      <i class="fa fa-share-alt-square"></i> Flow Diagram
    </button>
  </ng-template>
</div>
