<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <app-tab-list
      [allTabName]="GLOBAL_TAB_NAME"
      [tabs]="configurationNames()"
      (selectedTabChange)="changeConfiguration($event)"
    />
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title summary">
          <h4>Environment Variables</h4>
        </div>
        <div class="ibox-content">
          <div class="col-md-12 m-b-lg">
            <div class="input-group" id="searchbar">
              <input
                class="form-control"
                name="search"
                placeholder="Search ... (Ctrl + Shift + F)"
                type="text"
                [(ngModel)]="searchFilter"
              />
              @if (searchFilter.length) {
                <fa-icon
                  aria-hidden="true"
                  class="input-group-closeSearch"
                  [icon]="faTimes"
                  (click)="searchFilter = ''"
                />
              }
              <span class="input-group-addon">
                <fa-icon aria-hidden="true" [icon]="faSearch" />
              </span>
            </div>
          </div>
          <app-environment-variables-table
            name="Application Constants"
            [properties]="configProperties | variablesFilter: this.searchFilter"
            [searchFilter]="searchFilter"
          />
          <app-environment-variables-table
            name="Environment Variables"
            [properties]="environmentProperties | variablesFilter: this.searchFilter"
            [searchFilter]="searchFilter"
          />
          <app-environment-variables-table
            name="System Properties"
            [properties]="systemProperties | variablesFilter: this.searchFilter"
            [searchFilter]="searchFilter"
          />
        </div>
      </div>
    </div>
  </div>
</div>
