<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <app-tab-list
      [allTabName]="GLOBAL_TAB_NAME"
      [tabs]="configurationNames()"
      (selectedTabChange)="changeConfiguration($event)"
    />
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title summary">
          <h4>Environment Variables</h4>
        </div>
        <div class="ibox-content">
          <div class="col-md-12 m-b-lg">
            <div class="input-group" id="searchbar">
              <input
                class="form-control"
                name="search"
                placeholder="Search ... (Ctrl + Shift + F)"
                type="text"
                [(ngModel)]="searchFilter"
              />
              @if (searchFilter.length) {
                <i aria-hidden="true" class="fa fa-times input-group-closeSearch" (click)="searchFilter = ''"></i>
              }
              <span class="input-group-addon">
                <i aria-hidden="true" class="fa fa-search"></i>
              </span>
            </div>
          </div>
          <div>
            <h2>
              Application Constants
              <small class="m-l-sm">&nbsp;({{ (configProperties | variablesFilter: this.searchFilter).length }})</small>
            </h2>
            <table class="table">
              <thead>
                <tr>
                  <td><strong>Property</strong></td>
                  <td><strong>Value</strong></td>
                </tr>
              </thead>
              <tbody>
                @for (vari of configProperties | variablesFilter: this.searchFilter | orderby: 'key'; track vari.key) {
                  <tr>
                    <td class="col-lg-3">{{ vari.key }}</td>
                    <td class="col-lg-9">{{ vari.value }}</td>
                  </tr>
                }
                @if ((configProperties | variablesFilter: this.searchFilter).length === 0) {
                  <tr>
                    <td colspan="2">No variables found matching '{{ searchFilter }}'</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          <div>
            <h2>
              Environment Variables
              <small class="m-l-sm"
                >&nbsp;({{ (environmentProperties | variablesFilter: this.searchFilter).length }})</small
              >
            </h2>
            <table class="table">
              <thead>
                <tr>
                  <td><strong>Property</strong></td>
                  <td><strong>Value</strong></td>
                </tr>
              </thead>
              <tbody>
                @for (
                  vari of environmentProperties | variablesFilter: this.searchFilter | orderby: 'key';
                  track vari.key
                ) {
                  <tr>
                    <td class="col-lg-3">{{ vari.key }}</td>
                    <td class="col-lg-9">{{ vari.value }}</td>
                  </tr>
                }
                @if ((environmentProperties | variablesFilter: this.searchFilter).length === 0) {
                  <tr>
                    <td colspan="2">No variables found matching '{{ searchFilter }}'</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          <div>
            <h2>
              System Properties
              <small class="m-l-sm">&nbsp;({{ (systemProperties | variablesFilter: this.searchFilter).length }})</small>
            </h2>
            <table class="table">
              <thead>
                <tr>
                  <td><strong>Property</strong></td>
                  <td><strong>Value</strong></td>
                </tr>
              </thead>
              <tbody>
                @for (vari of systemProperties | variablesFilter: this.searchFilter | orderby: 'key'; track vari.key) {
                  <tr>
                    <td class="col-lg-3">{{ vari.key }}</td>
                    <td class="col-lg-9">{{ vari.value }}</td>
                  </tr>
                }
                @if ((systemProperties | variablesFilter: this.searchFilter).length === 0) {
                  <tr>
                    <td colspan="2">No variables found matching '{{ searchFilter }}'</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
