<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <app-configuration-tab-list
      queryParamName="configuration"
      data-cy="monitors__configuration-tab-list"
      [showAllTab]="false"
      [configurations]="configurations"
      (selectedTabChange)="changeConfiguration($event)"
    />
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        @if (monitors.length > 0) {
          <div class="ibox-title summary">
            <div class="pull-right">
              <button
                appHasAccessToLink="addMonitor"
                class="btn btn-primary btn-xs"
                data-cy="monitors__add-monitor-button"
                [routerLink]="['/monitors', 'new']"
                [queryParams]="{ configuration: selectedConfiguration }"
              >
                <i class="fa fa-plus"></i> Add Monitor</button
              >&nbsp;
              <button
                title="Download Monitor Configuration"
                class="btn btn-secondary btn-xs"
                type="button"
                (click)="downloadXML()"
              >
                <i class="fa fa-file-code-o"></i> XML
              </button>
            </div>
            <h4>
              <span class="badge badge-secondary">{{ totalRaised }}</span>
              monitors in state raised
            </h4>
          </div>
        } @else {
          <div class="ibox-title summary">
            <div class="pull-right">
              <button
                appHasAccessToLink="addMonitor"
                class="btn btn-primary btn-xs"
                [routerLink]="['/monitors', 'new']"
                [queryParams]="{ configuration: selectedConfiguration }"
              >
                <i class="fa fa-plus"></i> Add Monitor
              </button>
            </div>
            <h4>No monitors found in this configuration</h4>
          </div>
        }
      </div>
    </div>
  </div>
  @if (monitors.length > 0) {
    <div class="row">
      @for (monitor of monitors; track index; let index = $index) {
        <div class="col-lg-12">
          <div class="ibox float-e-margins" data-cy="monitors__monitor__ibox">
            <div class="ibox-title {{ monitor.raised ? 'danger' : 'primary' }}">
              <div class="pull-right">
                @if (!monitor.raised && !monitor.edit) {
                  <button
                    title="Raise alarm {{ monitor.name }}"
                    appHasAccessToLink="updateMonitor"
                    class="btn btn-warning btn-xs space-it-out"
                    type="button"
                    data-cy="monitors__raise-monitor-button"
                    (click)="raise(monitor)"
                  >
                    <i class="fa fa-arrow-circle-o-right"></i> Raise
                  </button>
                }
                @if (monitor.raised) {
                  <button
                    title="Clear alarm {{ monitor.name }}"
                    appHasAccessToLink="updateMonitor"
                    class="btn btn-primary btn-xs space-it-out"
                    type="button"
                    data-cy="monitors__clear-monitor-button"
                    (click)="clear(monitor)"
                  >
                    <i class="fa fa-arrow-circle-o-right"></i> Clear
                  </button>
                }
                @if (!monitor.raised && monitor.edit) {
                  <button
                    title="Delete Monitor {{ monitor.name }}"
                    appHasAccessToLink="deleteMonitor"
                    class="btn btn-danger btn-xs space-it-out"
                    type="button"
                    data-cy="monitors__delete-monitor-button"
                    (click)="deleteMonitor(monitor)"
                  >
                    <i class="fa fa-close"></i> Delete
                  </button>
                }
                @if (!monitor.raised && !monitor.edit) {
                  <button
                    title="Edit Monitor {{ monitor.name }}"
                    appHasAccessToLink="updateMonitor"
                    class="btn btn-info btn-xs space-it-out"
                    type="button"
                    data-cy="monitors__edit-monitor-button"
                    (click)="monitor.edit = true"
                  >
                    <i class="fa fa-pencil"></i> Edit
                  </button>
                }
                @if (!monitor.raised && monitor.edit) {
                  <button
                    title="Save Monitor {{ monitor.name }}"
                    appHasAccessToLink="updateMonitor"
                    class="btn btn-primary btn-xs space-it-out"
                    type="button"
                    data-cy="monitors__save-monitor-button"
                    (click)="edit(monitor)"
                  >
                    <i class="fa fa-save"></i> Save
                  </button>
                }
                <button
                  title="Download Monitor Configuration"
                  class="btn btn-secondary btn-xs"
                  type="button"
                  (click)="downloadXML(monitor.name)"
                >
                  <i class="fa fa-file-code-o"></i> XML
                </button>
              </div>
              <div class="m-l-n m-r-n almost-full-width">
                <div class="col-lg-5 col-md-8 m-r m-t-n-xs">
                  <h4 data-cy="monitors__monitor__ibox__title">
                    {{ monitor.displayName }}
                    <span class="m-l-sm badge badge-info">{{ monitor.type }}</span>
                  </h4>
                </div>
                @if (monitor.lastHit) {
                  <div class="col-lg-3 hidden-md">Last Hit: <span appToDate [time]="monitor.lastHit"></span></div>
                }
                @if (monitor.hits) {
                  <div class="col-lg-2 hidden-md">Hits: {{ monitor.hits }} since last raise</div>
                }
              </div>
            </div>
            <div class="ibox-content">
              @if (monitor.raised) {
                <div role="alert">
                  <div class="col-md-6">
                    Source:
                    {{ monitor.alarm.source ? monitor.alarm.source : 'Manually Triggered' }}<br />
                    Severity: {{ monitor.alarm.severity }}<br />
                  </div>
                </div>
              }
              @if (monitor.edit) {
                <div>
                  <form role="form" appQuickSubmitForm (submit)="edit(monitor)">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Name</label>
                      <div class="col-sm-9">
                        <input class="form-control m-b" name="name" type="text" [(ngModel)]="monitor.displayName" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Type</label>
                      <div class="col-sm-9">
                        <select class="form-control m-b" name="type" [(ngModel)]="monitor.type">
                          @for (type of eventTypes; track type) {
                            <option [ngValue]="type">
                              {{ type }}
                            </option>
                          }
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Destinations</label>
                      @for (destination of destinations; track destination) {
                        <div class="col-sm-2">
                          <span class="form-control m-b" style="border: none"
                            ><input
                              type="checkbox"
                              name="destination"
                              [(ngModel)]="monitor.activeDestinations[destination]"
                            />
                            {{ destination }}</span
                          >
                        </div>
                      }
                    </div>
                  </form>
                </div>
              }
              @if (!monitor.edit) {
                <div>
                  <p>
                    <strong>Log Destinations:</strong>
                    @for (destination of monitor.destinations; track destination; let last = $last) {
                      <span>
                        {{ destination }}
                        @if (!last) {
                          <span>,</span>
                        }
                      </span>
                    }
                    @if (monitor.destinations.length === 0) {
                      <span>None</span>
                    }
                  </p>
                </div>
              }
              <div class="row">
                <div class="col-md-12 table-responsive">
                  <table class="table no-margins">
                    <thead>
                      <tr>
                        <th class="col-md-1">Type</th>
                        <th class="col-md-{{ monitor.edit ? 3 : 4 }}">EventCodes</th>
                        <th class="col-md-4">Sources</th>
                        <th class="col-md-1">Severity</th>
                        <th class="col-md-1">Threshold</th>
                        <th class="col-md-1">Period</th>
                        @if (monitor.edit) {
                          <th class="col-md-1"></th>
                        }
                      </tr>
                    </thead>
                    <tbody>
                      @for (trigger of monitor.triggers; track trigger.id) {
                        <tr data-cy="monitors__monitor__trigger__row">
                          @if (trigger.type === 'ALARM') {
                            <td><i class="fa fa-warning m-r-xs"></i> Alarm</td>
                          }
                          @if (trigger.type === 'CLEARING') {
                            <td><i class="fa fa-eraser m-r-xs"></i> Clearing</td>
                          }
                          <td>
                            <ul class="unstyled no-margins">
                              @for (event of trigger.events; track event) {
                                <li>
                                  {{ event }}
                                </li>
                              }
                            </ul>
                          </td>
                          @if (trigger.filter !== 'none') {
                            <td>
                              <ul class="unstyled no-margins">
                                @for (sources of trigger.sources | keyvalue; track sources.key) {
                                  @if (sources) {
                                    <li>
                                      {{ sources.key }}
                                      <ul>
                                        @for (source of sources.value; track source) {
                                          <li>
                                            {{ source }}
                                          </li>
                                        }
                                      </ul>
                                    </li>
                                  }
                                }
                              </ul>
                            </td>
                          }
                          @if (trigger.filter === 'none') {
                            <td>All</td>
                          }
                          <td>{{ trigger.severity }}</td>
                          <td>{{ trigger.threshold }}</td>
                          <td>{{ trigger.period }}</td>
                          @if (monitor.edit) {
                            <td class="pull-right">
                              <button
                                title="Edit trigger {{ trigger.name }}"
                                appHasAccessToLink="updateTrigger"
                                class="btn btn-info btn-xs space-it-out"
                                type="button"
                                [routerLink]="['/monitors', monitor.name, 'triggers', trigger.id]"
                                [queryParams]="{ configuration: selectedConfiguration }"
                              >
                                Edit
                              </button>
                              <button
                                title="Delete trigger {{ trigger.name }}"
                                appHasAccessToLink="deleteTrigger"
                                class="btn btn-danger btn-xs"
                                type="button"
                                data-cy="monitors__delete-trigger-button"
                                (click)="deleteTrigger(monitor, trigger)"
                              >
                                Delete
                              </button>
                            </td>
                          }
                        </tr>
                      }
                      @if (monitor.edit) {
                        <tr>
                          <td colspan="7" class="text-center">
                            <button
                              appHasAccessToLink="addTrigger"
                              class="btn btn-primary btn-outline btn-xs"
                              data-cy="monitors__add-trigger-button"
                              [routerLink]="['/monitors', monitor.name, 'triggers', 'new']"
                              [queryParams]="{ configuration: selectedConfiguration }"
                            >
                              <i class="fa fa-plus"></i> <i>Add Trigger</i>
                            </button>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
