@if (url.length > 0) {
  @switch (iframeState) {
    @case ('show') {
      <div class="iframe-wrapper" [style]="`height: calc(100% - ${getTopBarHeight()}px);`">
        <iframe [src]="iframeSrc"></iframe>
      </div>
    }
    @case ('error') {
      <div class="text-center animated fadeInRightBig" style="margin-top: 140px">
        <p>{{ iframeName | titlecase }} is not available</p>
      </div>
    }
    @default {
      <div class="text-center" style="margin-top: 140px">
        <div class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
      </div>
    }
  }
}

@if (redirectURL && redirectURL.length > 0) {
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content">
        <div class="text-center animated fadeInRightBig" style="margin-top: 140px">
          <h3 class="font-bold">Automated redirect to - {{ redirectURL }}</h3>
          <p>
            <a target="_blank" rel="noopener noreferrer" [href]="redirectURL"
              >Click here if you have not automatically been redirected to '{{ redirectURL }}'</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
}
