<!-- Angular ui-router hack-->
<div ui-view></div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="AdapterErrorStorageCtrl">
	<uib-alert ng-repeat="alert in notes | orderBy:'type'" type="{{alert.type}}" close="closeNote($index)">{{alert.message}}</uib-alert>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<div class="pull-right">
						<button ui-sref="pages.status({adapter:adapterName})" class="btn btn-xs pull-right btn-info" type="button"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> <span>Back</span></button>
					</div>
					<h4>Browse ErrorStorage of receiver [{{receiverName}}] of adapter [{{adapterName}}]</h4>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped table-hover" datatable="ng" dt-options="{order: [[ 1, 'asc' ]]}" dt-column-defs="columnDefs">
							<thead>
								<tr>
									<th style="width:100px;">&nbsp;</th>
									<th>#</th>
									<th>Timestamp</th>
									<th>Type</th>
									<th>Host</th>
									<th>Current ID</th>
									<th>Original ID</th>
									<th>Correlation ID</th>
									<th>Comment</th>
									<th>Expires</th>
									<th>Label</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="message in messages">
									<td class="m-b-xxs">
										<a ui-sref="pages.errorstorage.view({adapter:adapterName,receiver:receiverName,messageId:message.id})" class="btn btn-info btn-xs" type="button"><i class="fa fa-file-text-o"></i> View</a>
										<button ladda="message.resending" data-style="slide-down" title="Resend Message" ng-click="resendMessage(message)" class="btn btn-warning btn-xs" type="button"><i class="fa fa-repeat"></i> Resend</button>
										<button ladda="message.deleting" data-style="slide-down" title="Delete Message" ng-click="deleteMessage(message)" class="btn btn-danger btn-xs" type="button"><i class="fa fa-times"></i> Delete</button>
										<button title="Download Message" ng-click="downloadMessage(message)" class="btn btn-info btn-xs" type="button"><i class="fa fa-arrow-circle-o-down"></i> Download</button>
									</td>
									<td>{{message.pos}}</td>
									<td to-date time="{{message.insertDate}}"></td>
									<td>{{message.type}}</td>
									<td>{{message.host}}</td>
									<td>{{message.id}}</td>
									<td>{{message.originalId}}</td>
									<td>{{message.correlationId}}</td>
									<td>{{message.comment}}</td>
									<td ng-if="message.expiryDate" to-date time="{{message.expiryDate}}"></td>
									<td ng-if="!message.expiryDate">-</td>
									<td>{{message.label}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>