<!-- Angular ui-router hack-->
<div ui-view></div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="BrowseJdbcTablesCtrl">
    <div class="alert alert-warning" role="alert" type="warning" ng-if="error">
        <span class="ng-binding ng-scope" ng-bind-html="error"></span>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Browse a JDBC Table</h4>
                </div>
                <div class="ibox-content">
                    <form role="form">
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Datasource</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="datasource" ng-model="form.datasource">
                                    <option ng-repeat="datasource in datasources">{{datasource}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Table name</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="table" type="text" ng-model="form.table"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Where</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="where" type="text" ng-model="form.where"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Order by</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="order" type="text" ng-model="form.order"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Number of rows only</label>
                            <div class="col-sm-9">
                                <span class="form-control" style="border: none;"><input icheck type="checkbox" ng-model="form.numberOfRowsOnly" /></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Rownum min</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="minrow" type="text" ng-model="form.minRow"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label label-height-30">Rownum max</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="maxrow" type="text" ng-model="form.maxRow"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3 m-t-md">
                                <button class="btn btn-info btn-w-m font-bold" type="button" ng-click="reset()">Reset</button>
                            </div>
                            <div class="col-sm-3 m-t-md">
                                <button ladda="processingMessage" class="btn btn-primary btn-w-m font-bold" type="submit" ng-click="submit(form)">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12" ng-if="query">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Result</h4>
                </div>
                <div class="ibox-content">
                    {{query}}
                </div>
                <div class="ibox-content">
                    <table class="table jdbcBrowse">
                        <thead>
                            <tr>
                                <th ng-repeat="columnName in columnNames | orderBy:'id'" title="{{columnName.desc}}">{{columnName.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in result">
                                <td ng-repeat="column in row track by $index">{{column}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>