<!-- Angular ui-router hack-->
<div ui-view></div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ExecuteJdbcQueryCtrl">
    <div class="alert alert-warning" role="alert" type="warning" ng-if="error">
        <span class="ng-binding ng-scope" ng-bind-html="error"></span>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Execute JDBC Query</h4>
                </div>
                <div class="ibox-content">
                    <form role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Datasource</label>
                            <div class="col-sm-9">
                                <select class="form-control m-b" name="datasource" ng-model="form.datasource">
                                    <option ng-repeat="datasource in datasources">{{datasource}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Result format</label>
                            <div class="col-sm-9">
                                <select class="form-control m-b" name="resultType" ng-model="form.resultType">
                                    <option ng-repeat="resultType in resultTypes" selected="{{$first ? 'selected' : ''}}">{{resultType}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Avoid Locking</label>
                            <div class="col-sm-9">
                                <span class="form-control m-b" style="border: none;"><input icheck type="checkbox" ng-model="form.avoidLocking" /></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Query</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" quick-submit-form="submit(form)" name="query" rows="5" style="resize:none;" ng-model="form.query"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-3 m-t-md">
                            <button class="btn btn-info btn-w-m font-bold" type="button" ng-click="reset()">Reset</button>
                        </div>
                        <div class="col-sm-9 m-t-md">
                            <button ladda="processingMessage" class="btn btn-primary btn-w-m font-bold" type="submit" ng-click="submit(form)">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12" ng-if="result">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Result</h4>
                </div>
                <div class="ibox-content">
                    <pre class="ng-binding" contenteditable="true">{{result}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>