<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title"><i class="fa fa-commenting-o"></i> Feedback Form</h4>
	</div>
	<div class="modal-body">
		<form role="form">
			<div class="form-group" style="height: 40px; line-height: 34px;">
				<label class="col-sm-3 control-label">Rating</label>
				<div class="col-sm-5 rating">
					<i ng-repeat="n in [1,2,3,4,5]" class="fa fa-star-o rating{{$index}}" aria-hidden="true" ng-click="setRating($event, $index)"></i>
				</div>
				<div class="col-sm-4">
					<button class="btn btn-primary font-bold pull-right" type="submit" ng-click="submit(form)">Submit</button>
				</div>
			</div>
			<div class="form-group">
				<input class="form-control m-b" placeholder="Name (optional)" name="name" type="text" ng-model="form.name"/>
			</div>
			<div class="form-group">
				<textarea class="form-control" placeholder="Feedback (optional)" name="feedback" style="resize:none;" rows="5" ng-model="form.feedback"></textarea>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<span class="pull-left p-xxs">
			<a href="//github.com/ibissource/iaf" target="_blank" alt="github.com/ibissource/iaf">github.com/ibissource/iaf</a> |
			<a href="//frank-manual.readthedocs.io" target="_blank" alt="Frank!Manual">Frank!Manual</a>
		</span>
		<button type="button" class="btn btn-white" ng-click="close()">Close</button>
	</div>
</div>