<div class="wrapper wrapper-content animated fadeInRight" ng-controller="LarvaCtrl">
    <div class="row">
<!--        Form to execute tests..-->
        <form role="form" ng-submit="submit(form)">
            <div class="form-row">
                <div class="form-group col-lg-8">
                    <label for="scenarios">Scenarios:</label>
                    <select class="form-control" id="scenarios" name="scenarios" ng-model="formScenarios">
                        <option ng-repeat="scenario in scenarios" value="{{scenario.value}}">{{scenario.name}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-4" title="Number of threads to use for running the tests. (default: 1)">
                    <label for="threads">Number of Threads:</label>
                    <input type="number" min="1" class="form-control" id="threads" value="1" data-toggle="tooltip" name="threads" ng-model="formThreads"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label for="root-directories">Root Directory:</label>
                    <select
                            class="form-control"
                            id="root-directories"
                            name="rootDirectories"
                            ng-model="formRootDirectories"
                            ng-options="directory.value as directory.name for directory in rootDirectories"
                    >
                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="waitcleanup">Wait before clean up:</label>
                    <input type="number" min="0" class="form-control" id="waitcleanup" name="waitcleanup" ng-model="formWaitcleanup"/>
                </div>
                <div class="form-group col-lg-2">
                    <label for="log-level">Log Level:</label>
                    <select
                            class="form-control"
                            id="log-level"
                            name="logLevel"
                            ng-model="formLogLevel"
                            ng-options="level as level for level in logLevels"
                    >
                    </select>
                </div>
                <div class="form-group col-lg-1">
                    <br>
                    <button type="submit" class="btn btn-primary form-control" name="run">Run</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="panel-group">
            <div class="panel" ng-repeat="message in displayMessages" ng-click="removeDisplayMessage(message.message)" ng-class="assignDisplayMessageClass(message)">
                <div class="panel-heading">{{message.message}}</div>
            </div>
        </div>
    </div>
<!--    Table for displaying status of running tests-->
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>
                    <strong>Scenario Description</strong>
                </td>
                <td>
                    <strong>Status</strong>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="test in tests" ng-click="testDetails(test)" ng-class="assignClass(test)" >
                <td title="{{test.directory}}">{{test.name}}</td>
                <td>{{test.status}}</td>
                <td><i class="fa fa-chevron-down"></i> </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-info" ng-show="tests.length > 0" ng-click="downloadMessages()">Download Logs</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--Modal for detailed test output explanation -->
<div class="modal fade" id="test-details" tabindex="-1" role="dialog" aria-labelledby="testDetailsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTestTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel-group" id="test-details-body">
<!--                To be populated when any of the row is clicked-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>