<!-- Angular ui-router hack-->
<div ui-view></div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SchedulerCtrl">
	<div class="row">
		<div class="col-lg-12" ng-show="::scheduler.name">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<div ng-if="databaseSchedulesEnabled" class="pull-right">
						<button ui-sref="pages.add_schedule" class="btn btn-xs btn-info pull-right" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Add new schedule</span></button>
					</div>
					<h4>Scheduler</h4>
				</div>
				<div class="ibox-content">
					<div class="col-md-6">
						<table class="table">
							<tbody>
								<tr>
									<td>Name</td>
									<td>{{::scheduler.name}}</td>
								</tr>
								<tr>
									<td>Version</td>
									<td>{{::scheduler.version}}</td>
								</tr>
								<tr>
									<td>Started</td>
									<td><i class="fa {{scheduler.started ? 'fa-check-square' : 'fa-times-circle'}}"></i></td>
								</tr>
								<tr>
									<td class="col-xs-6">State</td>
									<td ng-if="scheduler.state =='started'">
										<span><i class="fa fa-play m-r-xs"></i> Started</span>
<!-- 										<button style="float:right;" title="Stop Scheduler" ng-click="stop()" class="btn btn-xs btn-danger m-l-xs" type="button"><i class="fa fa-stop m-r-xs"></i> Stop</button> -->
										<button style="float:right;" title="Pause Scheduler" ng-click="pause()" class="btn btn-xs btn-warning" type="button"><i class="fa fa-pause m-r-xs"></i> Pause</button>
									</td>
									<td ng-if="scheduler.state =='paused'">
										<span><i class="fa fa-pause m-r-xs"></i> Paused</span>
<!-- 										<button style="float:right;" title="Stop Scheduler" ng-click="stop()" class="btn btn-xs btn-danger m-l-xs" type="button"><i class="fa fa-stop m-r-xs"></i> Stop</button> -->
										<button style="float:right;" title="Start Scheduler" ng-click="start()" class="btn btn-xs btn-primary" type="button"><i class="fa fa-play m-r-xs"></i> Start</button>
									</td>
									<td ng-if="scheduler.state =='stopped'">
										<span><i class="fa fa-stop m-r-xs"></i> Stopped</span>
										<button style="float:right;" title="Start Scheduler" ng-click="start()" class="btn btn-xs btn-primary" type="button"><i class="fa fa-play m-r-xs"></i> Start</button>
									</td>
								</tr>
								<tr>
									<td>Running Since</td>
									<td><span to-date time="{{scheduler.runningSince}}"></span></td>
								</tr>
								<tr>
									<td>Jobs Executed</td>
									<td>{{scheduler.jobsExecuted}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<table class="table">
							<tbody>
								<tr>
									<td>Remote Scheduler</td>
									<td><i class="fa {{scheduler.isSchedulerRemote ? 'fa-check-square' : 'fa-times-circle'}}"></i></td>
								</tr>
								<tr>
									<td>Instance ID</td>
									<td>{{scheduler.instanceId}}</td>
								</tr>
								<tr>
									<td>Supports Persistence</td>
									<td><i class="fa {{scheduler.jobStoreSupportsPersistence ? 'fa-check-square' : 'fa-times-circle'}}"></i></td>
								</tr>
								<tr>
									<td>Thread Pool Size</td>
									<td>{{scheduler.threadPoolSize}}</td>
								</tr>
								<tr>
									<td>Scheduler Class</td>
									<td>{{scheduler.schedulerClass}}</td>
								</tr>
								<tr>
									<td>JobStore Class</td>
									<td>{{scheduler.jobStoreClass}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-12 space-15">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search ..." ng-model="searchFilter" ng-model-options="{debounce: 500}" name="search" />
							<i ng-show="searchFilter.length" ng-click="searchFilter = ''" class="fa fa-times input-group-closeSearch" aria-hidden="true"/>
							<span class="input-group-addon">
								<i class="fa fa-search" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12" ng-repeat="(jobGroupName, jobs) in jobs">
			<div ng-init="showContent = true" class="ibox float-e-margins" ng-if="(jobs | filter:searchFilter:name).length > 0">
				<div ng-click="showContent = !showContent" class="ibox-title pointer">
					<div class="ibox-tools pull-right">
						<a> <i class="fa fa-chevron-{{(showContent) ? 'up' : 'down' }}"></i></a>
					</div>
					<h4>Jobgroup: {{::jobGroupName}}</h4>
				</div>
				<div class="ibox-content" ng-repeat="job in jobs | orderBy:'name' | filter:searchFilter:name" ng-if="showContent">
					<div class="col-md-12">
						<div class="pull-right">
							<button ng-if="::job.type=='DATABASE'" title="Edit Job {{::job.name}}" class="btn btn-info btn-xs" type="button" ng-click="edit(jobGroupName, job.name)"><i class="fa fa-pencil"></i> Edit</button>
							<button ng-if="::job.type=='DATABASE'" title="Delete Job {{::job.name}}" class="btn btn-danger btn-xs" type="button" ng-click="remove(jobGroupName, job.name)"><i class="fa fa-times"></i> Delete</button>
							<button ng-if="job.state=='PAUSED'" title="Resume Job {{::job.name}}" class="btn btn-warning btn-xs" type="button" ng-click="resume(jobGroupName, job.name)"><i class="fa fa-play"></i> Resume</button>
							<button ng-if="job.state!='PAUSED'" title="Pause Job {{::job.name}}" class="btn btn-warning btn-xs" type="button" ng-click="pause(jobGroupName, job.name)"><i class="fa fa-pause"></i> Pause</button>
							<button title="Trigger Job {{::job.name}}" class="btn btn-info btn-xs" type="button" ng-click="trigger(jobGroupName, job.name)"><i class="fa fa-arrow-circle-o-right"></i> Trigger</button>
						</div>
						<h4>Job: {{::job.name}} <small ng-if="::job.description != '-'">{{::job.description}}</small></h4>
					</div>
					<div class="col-sm-12 col-md-8 pull-right maxWidth768" style="min-height: 130px;">
						<table class="table table-striped">
							<thead>
								<tr>
									<th colspan="2">Messages</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="message in job.messages">
									<td style="width:40px;" class="text-center" ng-if-start="::message.level == 'INFO'">
										&nbsp;<i class="fa fa-info"></i>
									</td>
									<td style="width:200px;" class="text-left"><span to-date time="{{::message.date}}"></span></td>
									<td ng-if-end>{{::message.text}}</td>
	
									<td style="width:40px;" class="text-center" ng-if-start="::message.level == 'WARN'">
										&nbsp;<i class="fa fa-warning"></i>
									</td>
									<td style="width:200px;" class="text-left"><span to-date time="{{::message.date}}"></span></td>
									<td ng-if-end style="color:#f7a54a;">{{::message.text}}</td>
	
									<td style="width:40px;" class="text-center" ng-if-start="::message.level == 'ERROR'">
										&nbsp;<i class="fa fa-times"></i>
									</td>
									<td style="width:200px;" class="text-left"><span to-date time="{{::message.date}}"></span></td>
									<td ng-if-end style="color:#ea394c;">{{::message.text}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<table class="table">
							<tbody>
								<tr>
									<td>Stateful</td>
									<td><i class="fa {{::job.stateful ? 'fa-check-square' : 'fa-times-circle'}}"></i></td>
								</tr>
								<tr>
									<td>Durable</td>
									<td><i class="fa {{::job.durable ? 'fa-check-square' : 'fa-times-circle'}}"></i></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<table class="table" ng-repeat="trigger in job.triggers | orderBy:'name'">
							<thead>
								<tr>
									<th colspan="2">Trigger: {{::trigger.name}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="::trigger.cronExpression">
									<td>Cron Expression</td>
									<td>{{::trigger.cronExpression}}</td>
								</tr>
								<tr ng-if="::trigger.repeatInterval">
									<td>Repeat Interval</td>
									<td>{{::trigger.repeatInterval}}</td>
								</tr>
								<tr>
									<td>Start Time</td>
									<td><span to-date time="{{::trigger.startTime}}"></span></td>
								</tr>
								<tr ng-if="::trigger.previousFireTime">
									<td>Previous Fire</td>
									<td><span to-date time="{{::trigger.previousFireTime}}"></span></td>
								</tr>
								<tr ng-if="::trigger.nextFireTime">
									<td>Next Fire</td>
									<td><span to-date time="{{::trigger.nextFireTime}}"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>