<!-- Angular ui-router hack-->
<div ui-view></div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="TestPipelineCtrl">
    <uib-alert ng-repeat="alert in state" type="{{alert.type}}">{{alert.message}}</uib-alert>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Test a PipeLine</h4>
                </div>
                <div class="ibox-content">
                    <form role="form" ng-submit="submit(form)">
                        <div class="form-group">
                            <label class="col-sm-3 control-label label-height-30">Select an adapter</label>
                            <div class="col-sm-9">
                                <select class="form-control m-b" name="adapter" ng-model="form.adapter">
                                    <option ng-repeat="adapter in adapters">{{adapter.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label label-height-30">Upload File</label>
                            <div class="col-sm-4">
                                <input class="form-control m-b form-file" name="file" type="file" onchange="angular.element(this).scope().handleFile(this.files)"/>
                            </div>
                            <div class="col-sm-1">
                                <label class="control-label label-height-30 pull-right">Encoding</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control m-b" name="encoding" type="text" ng-model="form.encoding"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label label-height-30">Message</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" name="message" rows="5" style="resize:none;" ng-model="form.message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-offset-3 col-sm-9 m-t-md">
                            <button ladda="processingMessage" class="btn btn-primary btn-w-m font-bold" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12" ng-if="result">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Result</h4>
                </div>
                <div class="ibox-content">
                    <pre class="ng-binding" contenteditable="true">{{result}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>