<!-- Angular ui-router hack-->
<div ui-view></div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="WebservicesCtrl">
	<div class="row" ng-if="services.length > 0">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h4>Available REST Services</h4>
				</div>
				<div class="ibox-content">
					<div class="col-md-12">
						<table class="table table-striped">
							<tbody>
								<tr ng-repeat="service in services">
									<td>{{::$index}}</td>
									<td><a target="_blank" href="{{::rootURL}}rest/{{::service.uriPattern}}">{{::service.name}}</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="apiListeners.length > 0">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h4>Available ApiListeners</h4>
				</div>
				<div class="ibox-content">
					<div class="col-md-12">
						<table class="table table-striped">
							<tbody>
								<tr ng-repeat="apiListener in apiListeners">
									<td>{{$index}}</td>
									<td>{{::apiListener.uriPattern}}</td>
									<td>{{::apiListener.method}}</td>
									<td ng-if="::apiListener.error">{{::apiListener.error}}</td>
									<td ng-if="::apiListener.schemaResource" class="hideBtn1170">
										<a target="_blank" href="{{::rootURL}}api/{{::apiListener.uriPattern}}/{{::apiListener.schemaResource}}" class="btn btn-xs pull-right default" type="button"><i class="fa fa-arrow-circle-o-down aria-hidden="true"></i> <span>OpenAPI 3.0</span></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="wsdls.length > 0">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h4>Available WSDL's</h4>
				</div>
				<div class="ibox-content">
					<div class="col-md-12">
						<table class="table table-striped">
							<tbody>
								<tr ng-repeat="wsdl in wsdls">
									<td>{{$index}}</td>
									<td>{{::wsdl.name}}</td>
									<td ng-if="::wsdl.error">{{::wsdl.error}}</td>
									<td ng-if="::wsdl.extension" class="hideBtn1170">
										<a target="_blank" href="{{::rootURL}}iaf/api/webservices/{{::wsdl.name}}.zip" class="btn btn-xs pull-right default" type="button"><i class="fa fa-arrow-circle-o-down aria-hidden="true"></i> <span>Download</span></a>
										<a target="_blank" href="{{::rootURL}}iaf/api/webservices/{{::wsdl.name}}{{::wsdl.extension}}" class="btn btn-xs pull-right default" type="button"><i class="fa fa-file-archive-o aria-hidden="true"></i> <span>WSDL including dependencies</span></a>
										<a target="_blank" href="{{::rootURL}}iaf/api/webservices/{{::wsdl.name}}{{::wsdl.extension}}?useIncludes=true" class="btn btn-xs pull-right default" type="button"><i class="fa fa-file-code-o aria-hidden="true"></i> <span>WSDL</span></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>