<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="pull-right">
            <button
              routerLink="/status"
              [queryParams]="{ configuration, adapter: adapterName }"
              class="btn btn-xs pull-right btn-info"
              type="button"
            >
              <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
              <span> Back</span>
            </button>
            <button
              [ladda]="refreshing"
              (click)="refresh()"
              class="btn btn-xs pull-right btn-warning m-r-xs"
              type="button"
            >
              <i class="fa fa-refresh" aria-hidden="true"></i>
              <span> Refresh</span>
            </button>
          </div>
          <h4>{{ adapterName }} Statistics</h4>
        </div>
        <div class="ibox-content">
          <div class="col-md-12 table-responsive">
            <h4>Adapter statistics by the hour</h4>
            <div style="height: 300px">
              <canvas
                id="line"
                class="chart chart-line"
                baseChart
                type="line"
                [options]="options"
                [data]="hourlyStatistics"
              ></canvas>
            </div>
          </div>
          <div class="col-md-4 m-t-md table-responsive">
            <h4>Total message processing duration (in ms)</h4>
            <table class="table">
              <tbody>
                <ng-template
                  ngFor
                  let-totalMsgProcTime
                  [ngForOf]="stats?.totalMessageProccessingTime ?? {} | formatStatistics: statisticsTimeBoundaries"
                  let-$index="index"
                >
                  <tr *ngIf="$index > 0">
                    <td>
                      {{ statisticsTimeBoundaries[totalMsgProcTime.key] }}
                    </td>
                    <td>{{ totalMsgProcTime.value }}</td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
          <div class="col-md-4 m-t-md table-responsive">
            <h4>Counts for receivers</h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Receiver</th>
                  <th>Messages received/retried</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let receiver of stats?.receivers">
                  <td>{{ receiver.name }}</td>
                  <td>{{ receiver.messagesReceived }}/{{ receiver.messagesRetried }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12 m-t-md table-responsive">
            <h4>Process statistics for receivers (in ms)</h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Receiver</th>
                  <th># Threads Processing</th>
                  <ng-template
                    ngFor
                    let-boundary
                    [ngForOf]="statisticsTimeBoundaries | formatStatKeys"
                    let-$index="index"
                  >
                    <th *ngIf="$index > 0">{{ boundary }}</th>
                  </ng-template>
                </tr>
              </thead>
              <tbody *ngFor="let receiver of stats?.receivers">
                <tr *ngFor="let threadsProcessing of getSortedProcessingThreads(receiver)">
                  <td>{{ receiver.name }}</td>
                  <td *ngFor="let thread of threadsProcessing | formatStatistics: statisticsTimeBoundaries">
                    {{ thread.value }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12 m-t-md table-responsive">
            <h4>Duration statistics per pipe (in ms)</h4>
            <table class="table">
              <thead>
                <tr>
                  <th *ngFor="let boundary of statisticsTimeBoundaries | formatStatKeys">
                    {{ boundary }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pipe of stats?.durationPerPipe">
                  <td *ngFor="let pipeKV of pipe | formatStatistics: statisticsTimeBoundaries">
                    {{ pipeKV.value }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12 m-t-md table-responsive">
            <h4>Size statistics per pipe (in bytes)</h4>
            <table class="table">
              <thead>
                <tr>
                  <th *ngFor="let boundary of statisticsSizeBoundaries | formatStatKeys">
                    {{ boundary }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pipe of stats?.sizePerPipe">
                  <td *ngFor="let pipeKV of pipe | formatStatistics: statisticsSizeBoundaries">
                    {{ pipeKV.value }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
