<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="pull-right">
            <button
              routerLink="/status"
              class="btn btn-xs pull-right btn-info"
              type="button"
              [queryParams]="{ configuration, adapter: adapterName }"
            >
              <fa-icon aria-hidden="true" [icon]="faArrowAltCircleLeft" />
              <span> Back</span>
            </button>
            <button
              class="btn btn-xs pull-right btn-warning m-r-xs"
              type="button"
              [ladda]="refreshing"
              (click)="refresh()"
            >
              <fa-icon aria-hidden="true" [icon]="faRefresh" />
              <span> Refresh</span>
            </button>
          </div>
          <h4>{{ adapterName }} Statistics</h4>
        </div>
        <div class="ibox-content">
          <app-adapterstatistics-charts
            [hourlyStatistics]="hourlyStatistics"
            [sloStatistics]="sloStatistics"
            [countPerReceiverStatistics]="countPerReceiverStatistics"
          />
          <div class="col-md-4 m-t-md table-responsive">
            <h4>Total message processing duration (in ms)</h4>
            <table class="table">
              <tbody>
                @for (
                  totalMsgProcTime of stats?.totalMessageProccessingTime ?? {}
                    | formatStatistics: statisticsTimeBoundaries;
                  track totalMsgProcTime.key;
                  let index = $index
                ) {
                  @if (index > 0) {
                    <tr>
                      <td>
                        {{ statisticsTimeBoundaries[totalMsgProcTime.key] }}
                      </td>
                      <td>
                        @if (totalMsgProcTime.originalValue !== undefined) {
                          <span [title]="totalMsgProcTime.originalValue">{{ totalMsgProcTime.value }}</span>
                        } @else {
                          {{ totalMsgProcTime.value }}
                        }
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </table>
          </div>
          <div class="col-md-8 m-t-md table-responsive">
            <h4>Counts for receivers</h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Receiver</th>
                  <th>Messages received/retried</th>
                </tr>
              </thead>
              <tbody>
                @for (receiver of stats?.receivers; track receiver.name) {
                  <tr>
                    <td>{{ receiver.name }}</td>
                    <td>{{ receiver.messagesReceived }}/{{ receiver.messagesRetried }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    @if (stats && stats.totalMessageProccessingTime.count > 0) {
      @if (stats.receivers && stats.receivers.length > 0) {
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div tabindex="0" role="button" class="ibox-title" (click)="collapseExpand('processReceivers')">
              <div class="ibox-tools pull-right">
                <a> <fa-icon [icon]="iboxExpanded['processReceivers'] ? faChevronUp : faChevronDown" /></a>
              </div>
              <h4>Process statistics for receivers (in ms)</h4>
            </div>
            @if (iboxExpanded['processReceivers']) {
              <div class="ibox-content">
                <div class="col-md-12 m-t-md table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Receiver</th>
                        <th># Threads Processing</th>
                        @for (
                          boundary of statisticsTimeBoundaries | formatStatKeys;
                          track boundary;
                          let index = $index
                        ) {
                          @if (index > 0) {
                            <th>{{ boundary }}</th>
                          }
                        }
                      </tr>
                    </thead>
                    @for (receiver of stats.receivers; track receiver.name) {
                      <tbody>
                        @for (threadsProcessing of getSortedProcessingThreads(receiver); track $index) {
                          <tr>
                            <td>{{ receiver.name }}</td>
                            @for (
                              thread of threadsProcessing | formatStatistics: statisticsTimeBoundaries;
                              track thread.key
                            ) {
                              <td>
                                @if (thread.originalValue !== undefined) {
                                  <span [title]="thread.originalValue">{{ thread.value }}</span>
                                } @else {
                                  {{ thread.value }}
                                }
                              </td>
                            }
                          </tr>
                        } @empty {
                          <tr>
                            <td colspan="3">No data available</td>
                          </tr>
                        }
                      </tbody>
                    }
                  </table>
                </div>
              </div>
            }
          </div>
        </div>
      }
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div tabindex="0" role="button" class="ibox-title" (click)="collapseExpand('durationPerPipe')">
            <div class="ibox-tools pull-right">
              <a> <fa-icon [icon]="iboxExpanded['durationPerPipe'] ? faChevronUp : faChevronDown" /></a>
            </div>
            <h4>Duration statistics per pipe (in ms)</h4>
          </div>
          @if (iboxExpanded['durationPerPipe']) {
            <div class="ibox-content">
              <div class="col-md-12 m-t-md table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      @for (boundary of statisticsTimeBoundaries | formatStatKeys; track boundary) {
                        <th>
                          {{ boundary }}
                        </th>
                      }
                    </tr>
                  </thead>
                  <tbody>
                    @for (pipe of stats.durationPerPipe; track pipe.name) {
                      <tr>
                        @for (pipeKV of pipe | formatStatistics: statisticsTimeBoundaries; track pipeKV.key) {
                          <td>
                            @if (pipeKV.originalValue !== undefined) {
                              <span [title]="pipeKV.originalValue">{{ pipeKV.value }}</span>
                            } @else {
                              {{ pipeKV.value }}
                            }
                          </td>
                        }
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div tabindex="0" role="button" class="ibox-title" (click)="collapseExpand('sizePerPipe')">
            <div class="ibox-tools pull-right">
              <a> <fa-icon [icon]="iboxExpanded['sizePerPipe'] ? faChevronUp : faChevronDown" /></a>
            </div>
            <h4>Size statistics per pipe (in bytes)</h4>
          </div>
          @if (iboxExpanded['sizePerPipe']) {
            <div class="ibox-content">
              <div class="col-md-12 m-t-md table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      @for (boundary of statisticsSizeBoundaries | formatStatKeys; track boundary) {
                        <th>
                          {{ boundary }}
                        </th>
                      }
                    </tr>
                  </thead>
                  <tbody>
                    @for (pipe of stats.sizePerPipe; track pipe.name) {
                      <tr>
                        @for (pipeKV of pipe | formatStatistics: statisticsSizeBoundaries; track pipeKV.key) {
                          <td>
                            @if (pipeKV.originalValue !== undefined) {
                              <span [title]="pipeKV.originalValue">{{ pipeKV.value }}</span>
                            } @else {
                              {{ pipeKV.value }}
                            }
                          </td>
                        }
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
