<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <app-configuration-tab-list
      [configurations]="configurations()"
      [showAll]="true"
      (selectedTabChange)="changeConfiguration($event)"
    />
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title summary">
          <div class="m-l-lg inline">
            Show:
            <div class="btn-group">
              <button
                class="btn btn-sm btn-default"
                [ngClass]="{ active: this.loadedConfiguration }"
                (click)="update(true)"
              >
                Loaded Configuration
              </button>
              <button
                class="btn btn-sm btn-default"
                [ngClass]="{ active: !this.loadedConfiguration }"
                (click)="update(false)"
              >
                Original Configuration
              </button>
            </div>
          </div>
          <br />
          <div class="pull-right">
            <button class="btn btn-default btn-xs" title="Copy Configuration" type="button" (click)="clipboard()">
              Copy <i class="fa fa-clipboard"></i>
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="summary editor">
          <app-monaco-editor #editor [options]="{ readOnly: true }" />
        </div>
      </div>
    </div>
  </div>
</div>
