<?xml version="1.0" encoding="UTF-8"?>
<!--
  $Log: springEjbDeployment.xml,v $
  Revision 1.1.2.2  2007-10-10 14:30:45  europe\L190409
  synchronize with HEAD (4.8-alpha1)

  Revision 1.2  2007/10/10 07:54:12  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  Direct copy from Ibis-EJB:
  first version in HEAD

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
            ">

    <!-- IBIS Beans -->
    <bean name="ibisManager" class="nl.nn.adapterframework.unmanaged.DefaultIbisManager"
        autowire="byName">
        <property name="deploymentMode">
            <util:constant static-field="nl.nn.adapterframework.configuration.IbisManager.DEPLOYMENT_MODE_EJB"/>
        </property>
    </bean>
    
    <bean name="jmsConfigurator" class="nl.nn.adapterframework.ejb.EjbJmsConfigurator"
        autowire="byName" scope="prototype">
    </bean>
</beans>
