<?xml version="1.0" encoding="UTF-8"?>
<!--
  $Log: springWAS5.xml,v $
  Revision 1.9  2012-09-07 13:15:16  m00f069
  Messaging related changes:
  - Use CACHE_CONSUMER by default for ESB RR
  - Don't use JMSXDeliveryCount to determine whether message has already been processed
  - Added maxDeliveries
  - Delay wasn't increased when unable to write to error store (it was reset on every new try)
  - Don't call session.rollback() when isTransacted() (it was also called in afterMessageProcessed when message was moved to error store)
  - Some cleaning along the way like making some synchronized statements unnecessary
  - Made BTM and ActiveMQ work for testing purposes

  Revision 1.8  2011/11/30 13:51:45  Peter Leeuwenburgh <peter.leeuwenburgh@ibissource.org>
  adjusted/reversed "Upgraded from WebSphere v5.1 to WebSphere v6.1"

  Revision 1.1  2011/10/19 14:49:47  Peter Leeuwenburgh <peter.leeuwenburgh@ibissource.org>
  Upgraded from WebSphere v5.1 to WebSphere v6.1

  Revision 1.6  2011/10/04 09:54:07  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  added bean appServerJndiContextPrefix

  Revision 1.5  2011/04/13 08:47:34  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  Spring configurable DbmsSupport

  Revision 1.4  2010/02/03 15:00:21  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  updated spring xsds to 2.5

  Revision 1.3  2007/11/22 09:20:01  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  update from ejb-branch

  Revision 1.2.2.1  2007/11/19 16:21:23  Tim van der Leeuw <tim.van.der.leeuw@ibissource.org>
  Lazy-load the transaction manager and wrap it in a proxy, to attempt creating the transaction-manager instance and looking up things in websphere JNDI at a point in time where it's not yet allowed.

  Revision 1.2  2007/10/10 07:54:12  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  Direct copy from Ibis-EJB:
  first version in HEAD

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans xml/xsd/spring-beans-2.5.xsd
            http://www.springframework.org/schema/util xml/xsd/spring-util-2.5.xsd
            ">

    <!-- Transaction stuff -->
    <!-- In order to properly handle 'Propagation: Supports', set property
         'transactionSynchronization' to 'Synchronize on actual transaction'. -->
    
    <!-- Defining a WAS5 compatible transaction manager -->
    <bean id="txManagerReal" class="org.springframework.transaction.jta.JtaTransactionManager"
    	lazy-init="true">
        <property name="transactionManager">
            <bean class="org.springframework.transaction.jta.WebSphereTransactionManagerFactoryBean"/>
        </property>
        <property name="transactionSynchronization">
            <util:constant static-field="org.springframework.transaction.support.AbstractPlatformTransactionManager.SYNCHRONIZATION_ON_ACTUAL_TRANSACTION"/>
        </property>
    </bean>

	<bean id="messageListenerClassName" class="java.lang.String">
		<constructor-arg value="org.springframework.jms.listener.DefaultMessageListenerContainer102"/>
	</bean>

	<bean class="nl.nn.adapterframework.configuration.OverwritePropertyPlaceholderConfigurer" autowire="byName">
		<property name="propertyName" value="jms.useJms102"/>
		<property name="propertyValue" value="true"/>
	</bean>

	<bean id="dbmsSupportFactory" 
		parent="dbmsSupportFactoryDefault"
	>
		<property name="dbmsSupportMap">
			<props merge="true">
			    <prop key="Microsoft SQL Server">nl.nn.adapterframework.jdbc.dbms.WebSphereMsSqlServerDbmsSupport</prop>
			</props>
		</property>
		
	</bean>

</beans>
