<?xml version="1.0" encoding="UTF-8"?>
<!--
  $Log: springIbisDebuggerConfig.xml,v $
  Revision 1.4  2010-03-10 14:30:05  m168309
  rolled back testtool adjustments (IbisDebuggerDummy)

  Revision 1.2  2010/02/03 15:00:22  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  updated spring xsds to 2.5

  Revision 1.1  2008/07/14 17:48:46  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  deactivated debugger config

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans xml/xsd/spring-beans-2.5.xsd
            ">
<!--
    <bean name="ibisDebugger" class="nl.nn.testtool.ibis.Debugger"
        autowire="byName">
    </bean>
-->    
</beans>
