<?xml version="1.0" encoding="UTF-8"?>
<!--
  $Log: springUnmanagedDeployment.xml,v $
  Revision 1.11  2011-11-30 13:51:45  europe\m168309
  adjusted/reversed "Upgraded from WebSphere v5.1 to WebSphere v6.1"

  Revision 1.1  2011/10/19 14:49:46  Peter Leeuwenburgh <peter.leeuwenburgh@ibissource.org>
  Upgraded from WebSphere v5.1 to WebSphere v6.1

  Revision 1.9  2010/02/03 15:00:21  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  updated spring xsds to 2.5

  Revision 1.8  2007/12/10 10:26:54  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  added transactionManager property to IbisManager

  Revision 1.7  2007/11/22 09:20:01  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  update from ejb-branch

  Revision 1.2.2.5  2007/11/19 16:21:23  Tim van der Leeuw <tim.van.der.leeuw@ibissource.org>
  Lazy-load the transaction manager and wrap it in a proxy, to attempt creating the transaction-manager instance and looking up things in websphere JNDI at a point in time where it's not yet allowed.

  Revision 1.2.2.4  2007/11/06 09:39:14  Tim van der Leeuw <tim.van.der.leeuw@ibissource.org>
  Merge refactoring/renaming from HEAD

  Revision 1.2.2.3  2007/10/24 15:04:44  Tim van der Leeuw <tim.van.der.leeuw@ibissource.org>
  Let runstate of receivers/listeners follow the state of WebSphere ListenerPorts if they are changed outside the control of IBIS.

  Revision 1.2.2.2  2007/10/24 09:39:50  Tim van der Leeuw <tim.van.der.leeuw@ibissource.org>
  Merge changes from HEAD

  Revision 1.6  2007/11/05 12:29:07  Tim van der Leeuw <tim.van.der.leeuw@ibissource.org>
  Rename bean 'jmsConfigurator' to 'jmsConnector'

  Revision 1.5  2007/11/05 12:23:37  Tim van der Leeuw <tim.van.der.leeuw@ibissource.org>
  Rename 'SpringJmsConfigurator' to 'SpringJmsConnector'

  Revision 1.4  2007/10/24 08:08:08  Tim van der Leeuw <tim.van.der.leeuw@ibissource.org>
  Change value of property 'messageListenerContainerClassName' to a ref to string-bean, instead of string-value, so that the real value can come from the WAS5 / WAS6 specific contexts.

  Revision 1.3  2007/10/17 11:34:51  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  set messageListenerClassName of jmsConfigurator

  Revision 1.2  2007/10/10 07:54:12  Gerrit van Brakel <gerrit.van.brakel@ibissource.org>
  Direct copy from Ibis-EJB:
  first version in HEAD

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       		http://www.springframework.org/schema/beans xml/xsd/spring-beans-2.5.xsd
            http://www.springframework.org/schema/util xml/xsd/spring-util-2.5.xsd
            ">

    <!-- Scheduler (Quartz) -->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
        autowire="byName" lazy-init="true">
        <!-- Auto-wiring wires up bean named taskExecutor as threadpool implementation -->
        <property name="autoStartup" value="false"/>
        <property name="transactionManager" ref="txManager"/>
    </bean>
    
    <!-- IBIS Beans -->
    <bean name="ibisManager" class="nl.nn.adapterframework.unmanaged.DefaultIbisManager"
        autowire="byName" >
        <property name="deploymentMode">
            <util:constant static-field="nl.nn.adapterframework.configuration.IbisManager.DEPLOYMENT_MODE_UNMANAGED"/>
        </property>
        <property name="transactionManager" ref="txManager"/>
    </bean>
    
    <bean name="jmsConnector" class="nl.nn.adapterframework.unmanaged.SpringJmsConnector"
        autowire="byName" scope="prototype">
        <property name="messageListenerClassName" ref="messageListenerClassName"/>
    </bean>
    
    <!-- SpringJmsConnector depends on bean definition for proto-jmsContainer below; this bean
         is not needed in the EJB deployment mode.
         
         Please note that this definition is intentionally incomplete and can not be
         instantiated as-is: Runtime-magic will take care of proper & complete instantiation.
         
         DefaultMessageListenerContainer is supported configuration by IBM; provided
         however that supported transaction-manager and thread-pooling are used.
         See:
             http://www.ibm.com/developerworks/websphere/techjournal/0609_alcott/0609_alcott.html
    -->
    <bean name="proto-jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer"
        autowire="byName" scope="prototype">
        <property name="autoStartup" value="false"/>
    </bean>
</beans>
