<?xml version="1.0" encoding="UTF-8"?>
<!--
  $Log: springContextTOMCATBTM.xml,v $
  Revision 1.1  2012-09-07 13:15:16  m00f069
  Messaging related changes:
  - Use CACHE_CONSUMER by default for ESB RR
  - Don't use JMSXDeliveryCount to determine whether message has already been processed
  - Added maxDeliveries
  - Delay wasn't increased when unable to write to error store (it was reset on every new try)
  - Don't call session.rollback() when isTransacted() (it was also called in afterMessageProcessed when message was moved to error store)
  - Some cleaning along the way like making some synchronized statements unnecessary
  - Made BTM and ActiveMQ work for testing purposes

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans xml/xsd/spring-beans-2.5.xsd
            ">

    <import resource="springUnmanagedDeployment.xml"/>
    <!-- <import resource="springEjbDeployment.xml"/> -->
    <import resource="springCommon.xml"/>
    <import resource="springTOMCATBTM.xml"/>
    <import resource="springCustom.xml"/>
    
</beans>
