<?xml version="1.0" encoding="UTF-8"?>
<!--
  $Log: springWAS6.xml,v $
  Revision 1.2  2007-10-10 07:54:12  europe\L190409
  Direct copy from Ibis-EJB:
  first version in HEAD

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
            ">

    <!-- Transaction stuff -->
    <!-- In order to properly handle 'Propagation: Supports', set property
         'transactionSynchronization' to 'Synchronize on actual transaction'. -->
    <!-- bean definition below would be preferred txManager for WebSphere V6.0.2.19 or V6.1.0.9 and up
    (see: 
    http://www.ibm.com/developerworks/websphere/techjournal/0609_alcott/0609_alcott.html
    http://static.springframework.org/spring/docs/2.1.x/api/org/springframework/transaction/jta/WebSphereUowTransactionManager.html
    ) however doesn't work with WAS 5.0 / 5.1
    -->
    <bean id="txManager" class="org.springframework.transaction.jta.WebSphereUowTransactionManager">
        <property name="transactionSynchronization">
            <util:constant static-field="org.springframework.transaction.support.AbstractPlatformTransactionManager.SYNCHRONIZATION_ON_ACTUAL_TRANSACTION"/>
        </property>
    </bean>
    
    
    <!-- Common/J based TaskExecutor for deploying on
         WebSphere 6.0 or higher. 
         
         Set the property 'workManagerName' to the JNDI name of the WorkManager
         defined to support IBIS; by default I've chosen here 'commonj/IbisWorkManager'
         but this should probably be changed once WAS6.x is deployed and we have some
         experience with it.
         -->
    <bean name="taskExecutor" class="org.springframework.scheduling.commonj.WorkManagerTaskExecutor"
        scope="singleton">
        <property name="workManagerName" value="commonj/IbisWorkManager"/>
    </bean>
    
    <bean id="messageListenerClassName" class="java.lang.String">
        <constructor-arg value="org.springframework.jms.listener.DefaultMessageListenerContainer"/>
    </bean>
</beans>
