<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:integration="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-5.2.xsd
		"
	>

	<integration:publish-subscribe-channel id="frank-management-bus" />

	<!-- MessageKeepers for the Application and Configurations -->
	<bean id="MessageEventListener" class="org.frankframework.lifecycle.events.MessageEventListener" scope="singleton" />

	<bean name="meterRegistry" class="org.frankframework.metrics.MetricsRegistryFactoryBean" autowire="byName" lazy-init="true" />

	<!-- Used by WebServiceListeners to register on a local bus -->
	<bean id="cxf" class="org.apache.cxf.bus.spring.SpringBus" destroy-method="shutdown">
		<property name="id" value="ff-soap-bus"/>
	</bean>

</beans>
