<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation=
		"
		http://www.springframework.org/schema/beans xml/xsd/spring-beans-2.5.xsd
		http://www.springframework.org/schema/util xml/xsd/spring-util-2.5.xsd
		"
	>

	<bean id="txManagerReal" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="defaultDataSource"/>
		</property>
		<property name="transactionSynchronization">
			<util:constant static-field="org.springframework.transaction.support.AbstractPlatformTransactionManager.SYNCHRONIZATION_ON_ACTUAL_TRANSACTION"/>
		</property>
	</bean>

	<bean id="defaultDataSource" class="org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy">
		<property name="targetDataSource">
			<ref bean="h2DataSource"/>
		</property>
	</bean>

	<bean id="h2DataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.h2.Driver"/>
		<property name="url" value="jdbc:h2:mem:"/>
	</bean>

	<bean id="proxiedDataSources" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="jdbc/${instance.name.lc}">
					<ref bean="defaultDataSource"/>
				</entry>
			</map>
		</constructor-arg>
	</bean>

</beans>
