<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation=
		"
			http://www.springframework.org/schema/beans classpath:xml/xsd/spring-beans-3.2.xsd
			http://www.springframework.org/schema/util classpath:xml/xsd/spring-util-3.2.xsd
		"
	>

	<bean
		id="txManagerReal"
		class="org.springframework.transaction.jta.WebSphereUowTransactionManager"
		lazy-init="true"
		>
		<property name="transactionManager" ref="wasTransactionManager"/>
	</bean>

	<bean
		name="wasTransactionManager"
		class="com.ibm.tx.jta.TransactionManagerFactory"
		factory-method="getTransactionManager"
	/>

	<bean id="dbmsSupportFactory" 
		parent="dbmsSupportFactoryDefault"
	>
		<property name="dbmsSupportMap">
			<props merge="true">
				<prop key="Microsoft SQL Server">nl.nn.adapterframework.jdbc.dbms.WebSphereMsSqlServerDbmsSupport</prop>
			</props>
		</property>
		
	</bean>

</beans>
