<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"
		http://www.springframework.org/schema/beans classpath:xml/xsd/spring-beans-3.2.xsd
		"
	>

	<import resource="springTOMCATBTM.xml"/>
	<import resource="springJms.xml"/>

	<bean
		name="esbFFConnectionFactory,esbRRConnectionFactory"
		class="org.apache.activemq.ActiveMQXAConnectionFactory"
		scope="singleton"
		>
		<property name="brokerURL" value="vm://localhost"/>
	</bean>

</beans>
