<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		default-autowire="byName"
		xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	">

	<bean id="messageDispatcher" class="nl.nn.adapterframework.management.bus.MessageDispatcher">
		<property name="packageName" value="nl.nn.adapterframework.management.bus" />
	</bean>

	<context:property-placeholder />

	<import resource="springUnmanagedDeployment.xml"/>

	<bean
		name="lowerCasePropertySourcePostProcessor"
		class="nl.nn.adapterframework.configuration.LowerCasePropertySourcePostProcessor"
		autowire="byName"
	/>

	<bean
		id="jndiContextPrefix"
		factory-bean="jndiContextPrefixFactory"
		factory-method="getContextPrefix"
	/>

	<bean id="jndiContextPrefixFactory" class="nl.nn.adapterframework.core.JndiContextPrefixFactory" />

	<bean id="dataSourceFactory" class="nl.nn.adapterframework.jndi.JndiDataSourceFactory" />
	<bean id="connectionFactoryFactory" class="nl.nn.adapterframework.jndi.JndiConnectionFactoryFactory" />
	<bean id="mongoClientFactory" class="nl.nn.adapterframework.mongodb.JndiMongoClientFactory" />

	<bean id="jdbcPropertySourceFactory" class="nl.nn.adapterframework.jdbc.JdbcPropertySourceFactory" />

	<bean id="VerifyDatabaseConnectionBean" class="nl.nn.adapterframework.lifecycle.VerifyDatabaseConnectionBean" />

	<bean
		name="hostnamePropertySourcePostProcessor"
		class="nl.nn.adapterframework.configuration.HostnamePropertySourcePostProcessor"
		autowire="byName"
	/>

	<bean
		name="fxfPropertySourcePostProcessor"
		class="nl.nn.adapterframework.extensions.fxf.FxfPropertySourcePostProcessor"
		autowire="byName"
	/>

	<bean
		name="jmsRealmsFactory"
		class="nl.nn.adapterframework.jms.JmsRealmFactory"
		autowire="byName"
		factory-method="getInstance"
	/>


	<bean id="adapterLifecycleWrapper" autowire="byName" scope="prototype" abstract="true" />

	<bean name="adapterFlowProcessor" class="nl.nn.adapterframework.util.flow.FlowDiagramAdapterWrapper" parent="adapterLifecycleWrapper"/>

	<bean
		name="flowDiagramManager"
		class="nl.nn.adapterframework.util.flow.FlowDiagramManager"
		autowire="no"
		scope="singleton"
		lazy-init="true"
		>
	</bean>

	<bean name="applicationWarnings" class="nl.nn.adapterframework.configuration.ApplicationWarnings" />

	<bean
		name="listenerContainer"
		class="nl.nn.adapterframework.receivers.PullingListenerContainer"
		autowire="byName"
		scope="prototype"
	/>

	<bean
		id="schedulerHelper"
		class="nl.nn.adapterframework.scheduler.SchedulerHelper"
		autowire="byName"
		lazy-init="true"
	/>

	<bean
		id="txManagerProxy"
		class="nl.nn.adapterframework.jta.SpringTxManagerProxy"
		>
		<property name="realTxManager">
			<ref bean="txManagerReal"/>
		</property>
	</bean>

	<alias name="txManagerProxy" alias="txManager"/>

	<bean
		name="isolatedServiceCaller"
		class="nl.nn.adapterframework.senders.IsolatedServiceCaller"
		autowire="byName"
		scope="singleton"
	/>

	<bean
		name="pipeLineProcessor"
		class="nl.nn.adapterframework.processors.InputOutputPipeLineProcessor"
		autowire="byName"
		scope="prototype"
		>
		<property name="pipeLineProcessor">
			<bean
				class="nl.nn.adapterframework.processors.CachePipeLineProcessor"
				autowire="byName"
				scope="prototype"
				>
				<property name="pipeLineProcessor">
					<bean
						class="nl.nn.adapterframework.processors.CheckSemaphorePipeLineProcessor"
						autowire="byName"
						scope="prototype"
						>
						<property name="pipeLineProcessor">
							<bean
								class="nl.nn.adapterframework.processors.TransactionAttributePipeLineProcessor"
								autowire="byName"
								scope="prototype"
								>
								<property name="pipeLineProcessor">
									<bean
										class="nl.nn.adapterframework.processors.LockerPipeLineProcessor"
										autowire="byName"
										scope="prototype"
										>
										<property name="pipeLineProcessor">
											<bean
												class="nl.nn.adapterframework.processors.CorePipeLineProcessor"
												autowire="byName"
												scope="prototype"
											/>
										</property>
									</bean>
								</property>
							</bean>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean
		name="pipeProcessor,inputValidatorProcessor,outputValidatorProcessor,inputWrapperProcessor,outputWrapperProcessor"
		class="nl.nn.adapterframework.processors.MonitoringPipeProcessor"
		autowire="byName"
		scope="prototype"
		>
		<property name="pipeProcessor">
			<bean
				class="nl.nn.adapterframework.processors.ExceptionHandlingPipeProcessor"
				autowire="byName"
				scope="prototype"
				>
				<property name="pipeProcessor">
					<bean
						class="nl.nn.adapterframework.processors.InputOutputPipeProcessor"
						autowire="byName"
						scope="prototype"
						>
						<property name="pipeProcessor">
							<bean
								class="nl.nn.adapterframework.processors.CheckSemaphorePipeProcessor"
								autowire="byName"
								scope="prototype"
								>
								<property name="pipeProcessor">
									<bean
										class="nl.nn.adapterframework.processors.TransactionAttributePipeProcessor"
										autowire="byName"
										scope="prototype"
										>
										<property name="pipeProcessor">
											<bean
												class="nl.nn.adapterframework.processors.LockerPipeProcessor"
												autowire="byName"
												scope="prototype"
												>
												<property name="pipeProcessor">
													<bean
														class="nl.nn.adapterframework.processors.CheckMessageSizePipeProcessor"
														autowire="byName"
														scope="prototype"
														>
														<property name="pipeProcessor">
															<bean
																class="nl.nn.adapterframework.processors.CorePipeProcessor"
																autowire="byName"
																scope="prototype"
															/>
														</property>
													</bean>
												</property>
											</bean>
										</property>
									</bean>
								</property>
							</bean>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean
		name="senderWrapperProcessor"
		class="nl.nn.adapterframework.processors.InputOutputSenderWrapperProcessor"
		autowire="byName"
		scope="prototype"
		>
		<property name="senderWrapperProcessor">
			<bean
				class="nl.nn.adapterframework.processors.CacheSenderWrapperProcessor"
				autowire="byName"
				scope="prototype"
				>
				<property name="senderWrapperProcessor">
					<bean
						class="nl.nn.adapterframework.processors.CoreSenderWrapperProcessor"
						autowire="byName"
						scope="prototype"
						>
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean
		name="listenerProcessor"
		class="nl.nn.adapterframework.processors.CoreListenerProcessor"
		autowire="byName"
		scope="prototype"
	/>

	<bean
		name="namedThreadFactory"
		class="nl.nn.adapterframework.scheduler.NamedThreadFactory"
		scope="prototype"
	>
		<property name="ThreadGroupName" value="ControlTasks"/>
	</bean>

	<bean
		name="taskExecutor"
		class="org.springframework.core.task.SimpleAsyncTaskExecutor"
		scope="singleton"
	>
		<property name="ThreadFactory" ref="namedThreadFactory"/>
	</bean>

	<bean
		name="messageListenerClassName"
		class="java.lang.String"
		>
		<constructor-arg value="${jms.messageListenerClassName}"/>
	</bean>

	<bean
		name="dbmsSupportFactory"
		class="nl.nn.adapterframework.dbms.DbmsSupportFactory"
		scope="singleton"
		>
		<property name="dbmsSupportMap">
			<props>
				<!-- configure additional DbmsSupport mappings here -->
				<prop key="DB2/NT">nl.nn.adapterframework.dbms.Db2DbmsSupport</prop>
				<prop key="DB2/LINUXX8664">nl.nn.adapterframework.dbms.Db2DbmsSupport</prop>
			</props>
		</property>
	</bean>

</beans>
