<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation=
		"
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		"
	>

	<!-- SpringDataSourceFactory augments the datasource with LazyConnectionDataSourceProxy.
		This will cause Jboss server to throw an exception with the following message: 'You cannot set autocommit during a managed transaction!'.
		To avoid jboss server to throw an exception use JndiDataSourceFactory -->
	<bean id="dataSourceFactory" class="org.frankframework.jndi.JndiDataSourceFactory" />

	<!--
	An open source transaction manager.
	In order to properly handle 'Propagation: Supports', set property
	'transactionSynchronization' to 'Synchronize on actual transaction'.
	-->
	<bean
		id="txManagerReal"
		class="org.springframework.transaction.jta.JtaTransactionManager"
		lazy-init="true"
		>
		<property name="transactionSynchronization">
			<util:constant static-field="org.springframework.transaction.support.AbstractPlatformTransactionManager.SYNCHRONIZATION_ON_ACTUAL_TRANSACTION"/>
		</property>
	</bean>
</beans>
