<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation=
		"
			http://www.springframework.org/schema/beans xml/xsd/spring-beans-3.2.xsd
			http://www.springframework.org/schema/util xml/xsd/spring-util-3.2.xsd
		"
	>

	<!--
	WAS5 compatible transaction manager.
	In order to properly handle 'Propagation: Supports', set property
	'transactionSynchronization' to 'Synchronize on actual transaction'.
	-->
	<bean
		id="txManagerReal"
		class="org.springframework.transaction.jta.JtaTransactionManager"
		lazy-init="true"
		>
		<property name="transactionManager">
			<bean class="org.springframework.transaction.jta.WebSphereTransactionManagerFactoryBean"/>
		</property>
		<property name="transactionSynchronization">
			<util:constant static-field="org.springframework.transaction.support.AbstractPlatformTransactionManager.SYNCHRONIZATION_ON_ACTUAL_TRANSACTION"/>
		</property>
	</bean>

	<bean id="messageListenerClassName" class="java.lang.String">
		<constructor-arg value="org.springframework.jms.listener.DefaultMessageListenerContainer102"/>
	</bean>

	<bean class="nl.nn.adapterframework.configuration.OverwritePropertyPlaceholderConfigurer" autowire="byName">
		<property name="propertyName" value="jms.useJms102"/>
		<property name="propertyValue" value="true"/>
	</bean>

	<bean id="dbmsSupportFactory" 
		parent="dbmsSupportFactoryDefault"
	>
		<property name="dbmsSupportMap">
			<props merge="true">
			    <prop key="Microsoft SQL Server">nl.nn.adapterframework.jdbc.dbms.WebSphereMsSqlServerDbmsSupport</prop>
			</props>
		</property>
		
	</bean>

</beans>
