<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation=
		"
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		"
	>

	<!--
	Use Spring DataSourceTransactionManager which is good enough in case only
	one data source needs to be managed by the transaction manager.
	In case no database is available configure an in-memory database like H2 in
	Tomcat to still be able to use this configuration.
	In order to properly handle 'Propagation: Supports', set property
	'transactionSynchronization' to 'Synchronize on actual transaction'.
	-->
	<bean
		id="txManagerReal"
		class="org.frankframework.jta.ThreadConnectableDataSourceTransactionManager"
		>
		<property name="dataSource">
			<ref bean="defaultDataSource"/>
		</property>
		<property name="transactionSynchronization">
			<util:constant static-field="org.springframework.transaction.support.AbstractPlatformTransactionManager.SYNCHRONIZATION_ON_ACTUAL_TRANSACTION"/>
		</property>
	</bean>

	<bean
		id="defaultDataSource"
		factory-bean="dataSourceFactory"
		factory-method="getDataSource"
		>
		<constructor-arg value="${jdbc.datasource.default}" />
	</bean>

</beans>
