<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		"
	>

	<import resource="springTOMCAT.xml"/>
	<import resource="springJms.xml"/>

	<bean
		name="txManagerReal"
		class="org.springframework.transaction.jta.JtaTransactionManager"
		>
		<property name="transactionManager" ref="narayanaTransactionManager"/>
		<property name="userTransaction" ref="userTransaction"/>
	</bean>

	<bean
		name="narayanaTransactionManager"
		class="com.arjuna.ats.jta.TransactionManager"
		factory-method="transactionManager"
		depends-on="narayanaConfig,recoveryManager,defaultDataSource"
	/>

	<bean
		name="userTransaction"
		class="com.arjuna.ats.jta.UserTransaction"
		factory-method="userTransaction"
		depends-on="narayanaConfig,recoveryManager,defaultDataSource"
	/>

	<bean id="narayanaConfig" class="nl.nn.adapterframework.jta.narayana.NarayanaConfigurationBean">
		<property name="properties">
			<props>
				<prop key="JDBCEnvironmentBean.isolationLevel">2</prop> <!-- TRANSACTION_READ_COMMITTED -->
				<prop key="CoreEnvironmentBean.nodeIdentifier">${transactionmanager.uid}</prop>
				<prop key="ObjectStoreEnvironmentBean.objectStoreDir">${transactionmanager.log.dir}</prop>
				<prop key="ObjectStoreEnvironmentBean.stateStore.objectStoreDir">${transactionmanager.log.dir}</prop>
				<prop key="ObjectStoreEnvironmentBean.communicationStore.objectStoreDir">${transactionmanager.log.dir}</prop>
			</props>
		</property>
	</bean>

	<bean id="recoveryManager" class="nl.nn.adapterframework.jta.narayana.NarayanaRecoveryManager" depends-on="narayanaConfig" />
	<bean id="dataSourceFactory" class="nl.nn.adapterframework.jta.narayana.NarayanaDataSourceFactory" autowire="byName" />
	<bean id="transactionHelper" class="org.jboss.narayana.jta.jms.TransactionHelperImpl">
		<constructor-arg ref="narayanaTransactionManager"/>
	</bean>
	<bean id="connectionFactoryFactory" class="nl.nn.adapterframework.jta.narayana.NarayanaConnectionFactoryFactory" autowire="byName" />

</beans>
