<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"
		http://www.springframework.org/schema/beans classpath:xml/xsd/spring-beans-3.2.xsd
		"
	>

	<import resource="springTOMCAT.xml"/>

	<bean
		name="txManagerReal"
		class="org.springframework.transaction.jta.JtaTransactionManager"
		>
		<property name="transactionManager" ref="btmTransactionManager"/>
		<property name="userTransaction" ref="btmTransactionManager"/>
	</bean>

	<bean
		name="btmTransactionManager"
		class="bitronix.tm.TransactionManagerServices"
		factory-method="getTransactionManager"
		depends-on="btmConfig,defaultDataSource"
		destroy-method="shutdown"
	/>

	<bean
		name="btmConfig"
		class="bitronix.tm.TransactionManagerServices"
		factory-method="getConfiguration"
		>
			<property name="serverId" value="${instance.name.lc}.tm"/>
			<property name="logPart1Filename" value="${log.dir}/${instance.name.lc}-btm1.tlog" />
			<property name="logPart2Filename" value="${log.dir}/${instance.name.lc}-btm2.tlog" />
	</bean>

	<bean id="dataSourceFactory" 
		class="nl.nn.adapterframework.jdbc.BtmDataSourceFactory" 
		destroy-method="shutdown"
		>
		<property name="resourceRef" value="true"/>
	</bean>

</beans>
