<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation=
				"http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>

	<!-- Scheduler (Quartz) -->
	<bean
		id="scheduler"
		class="org.frankframework.scheduler.SchedulerFactoryBean"
		autowire="byName"
		lazy-init="true"
		>
		<!-- Auto-wiring wires up bean named taskExecutor as threadpool implementation -->
		<property name="configLocation" value="classpath:quartz.properties"/>
		<property name="autoStartup" value="false"/>
		<property name="waitForJobsToCompleteOnShutdown" value="true"/>
	</bean>

	<!-- IBIS Beans -->
	<bean
		name="ibisManager"
		class="org.frankframework.configuration.IbisManager"
		autowire="byName"
		>
	</bean>

</beans>
