<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"
		http://www.springframework.org/schema/beans classpath:xml/xsd/spring-beans-3.2.xsd
		"
	>

	<import resource="springTOMCATBTM.xml"/>

	<bean
		name="esbFFConnectionFactory"
		class="org.springframework.jndi.JndiObjectFactoryBean"
		>
		<property name="resourceRef" value="true"/>
		<property name="jndiName" value="jms/qcf_tibco_esb_ff"/>
	</bean>

	<bean
		name="esbRRConnectionFactory"
		class="org.springframework.jndi.JndiObjectFactoryBean"
		>
		<property name="resourceRef" value="true"/>
		<property name="jndiName" value="jms/qcf_tibco_esb_rr"/>
	</bean>

	<import resource="springJms.xml"/>

</beans>
