<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		"
	>

	<import resource="springTOMCAT.xml"/>
	<import resource="springJms.xml"/>

	<bean
		name="txManagerReal"
		class="nl.nn.adapterframework.jta.btm.BtmJtaTransactionManager"
		depends-on="btmConfig"
		>
		<property name="statusFile" value="${transactionmanager.log.dir}/status.txt" />
		<property name="uidFile"  value="${transactionmanager.log.dir}/tm-uid.txt" />
		<property name="uid" value="${transactionmanager.uid}" />
	</bean>

	<bean
		name="btmConfig"
		class="bitronix.tm.TransactionManagerServices"
		factory-method="getConfiguration"
		>
			<property name="disableJmx" value="${management.endpoints.jmx.btm.disableJmx}" />
			<property name="logPart1Filename" value="${transactionmanager.log.dir}/1.tlog" />
			<property name="logPart2Filename" value="${transactionmanager.log.dir}/2.tlog" />
			<property name="defaultTransactionTimeout" value="${transactionmanager.defaultTransactionTimeout}" />
	</bean>

	<bean id="dataSourceFactory" class="nl.nn.adapterframework.jta.btm.BtmDataSourceFactory" />
	<bean id="connectionFactoryFactory" class="nl.nn.adapterframework.jta.btm.BtmConnectionFactoryFactory" />

</beans>
