<?xml version="1.0" encoding="UTF-8"?>
<!--
	Beans defined in this file are unique for every configuration. If you want
	to reuse a bean over multiple configurations, add it to the SpringApplicationContext.xml
	Singleton beans are managed by Spring and will be closed upon configuration unload.
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	default-autowire="byName"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	">

	<!-- AOP has to be enabled explicitly on a per Context basis. This allows us to programmatically enable and disable Ladybug 'point-cutting'. -->
	<beans profile="aop">
		<aop:config proxy-target-class="true" />
	</beans>

	<beans>
		<bean name="configurationDigester" class="org.frankframework.configuration.ConfigurationDigester" />

		<bean name="lifecycleProcessor" class="org.frankframework.lifecycle.ConfiguringLifecycleProcessor" />

		<bean name="configurationMetrics" class="org.frankframework.statistics.MetricsInitializer" />

		<bean name="sharedWsdlDefinitions" class="org.frankframework.core.SharedWsdlDefinitions" />

<!-- Configurable Lifecycle beans -->
		<bean name="jdbcMigrator" class="org.frankframework.jdbc.migration.LiquibaseMigrator" />
		<bean name="configFlowGenerator" class="org.frankframework.configuration.ConfigurationFlowGenerator" />
		<bean name="adapterManager" class="org.frankframework.configuration.AdapterManager" autowire="byType" />
		<bean name="scheduleManager" class="org.frankframework.configuration.ScheduleManager" autowire="byType" />
		<bean name="monitorManager" class="org.frankframework.monitoring.MonitorManager" />


		<bean name="configurationWarnings" class="org.frankframework.configuration.ConfigurationWarnings" />
		<bean name="eventPublisher" class="org.frankframework.monitoring.EventPublisher" />

<!-- 	<bean name="applicationEventMulticaster" class="org.frankframework.lifecycle.FrankEventMulticaster" /> -->
	</beans>
</beans>
