<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans xml/xsd/spring-beans-3.2.xsd"
	>
	<import resource="springUnmanagedDeployment.xml"/>
	<import resource="springCommon.xml"/>
	<import resource="springTOMCAT6.xml"/>
	<import resource="springCustom.xml"/>
</beans>
