<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation=
		"
		http://www.springframework.org/schema/beans xml/xsd/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util xml/xsd/spring-util-3.2.xsd
		"
	>

	<bean
		name="txManagerReal"
		class="org.springframework.transaction.jta.JtaTransactionManager"
		>
		<property name="transactionManager" ref="btmTransactionManager"/>
		<property name="userTransaction" ref="btmTransactionManager"/>
	</bean>

	<bean
		name="btmTransactionManager"
		class="bitronix.tm.TransactionManagerServices"
		factory-method="getTransactionManager"
		depends-on="btmConfig,defaultDataSource,defaultConnectionFactory"
		destroy-method="shutdown"
	/>

	<bean
		name="btmConfig"
		class="bitronix.tm.TransactionManagerServices"
		factory-method="getConfiguration"
		>
			<property name="serverId" value="${instance.name.lc}.tm"/>
			<property name="logPart1Filename" value="${log.dir}/${instance.name.lc}-btm1.tlog" />
			<property name="logPart2Filename" value="${log.dir}/${instance.name.lc}-btm2.tlog" />
	</bean>

	<bean
		name="defaultDataSource"
		class="bitronix.tm.resource.jdbc.PoolingDataSource"
		init-method="init"
		destroy-method="close"
		>
		<property name="uniqueName" value="${instance.name.lc}.defaultDataSource"/>
		<property name="maxPoolSize" value="20"/>
		<property name="allowLocalTransactions" value="true"/>
		<property name="resource">
			<ref bean="jndiDataSource"/>
		</property>
	</bean>

	<bean
		name="jndiDataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean"
		>
		<property name="jndiName" value="${jndiContextPrefix}jdbc/${instance.name.lc}"/>
	</bean>

	<!-- Make the proxied data source available to the JdbcFacade -->
	<bean id="proxiedDataSources" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="jdbc/${instance.name.lc}">
					<ref bean="defaultDataSource"/>
				</entry>
			</map>
		</constructor-arg>
	</bean>

	<bean
		name="defaultConnectionFactory"
		class="bitronix.tm.resource.jms.PoolingConnectionFactory"
		init-method="init"
		destroy-method="close"
		>
		<property name="uniqueName" value="${instance.name.lc}.defaultConnectionFactory"/>
		<property name="maxPoolSize" value="100" />
		<property name="allowLocalTransactions" value="true"/>
		<property name="resource">
			<ref bean="activeMQConnectionFactory"/>
		</property>
	</bean>

	<bean
		name="activeMQConnectionFactory"
		class="org.apache.activemq.ActiveMQXAConnectionFactory"
		scope="singleton"
		destroy-method="stop"
		>
		<property name="brokerURL" value="vm://localhost"/>
	</bean>

	<bean name="proxiedConnectionFactories" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="jms/qcf">
					<ref bean="defaultConnectionFactory"/>
				</entry>
			</map>
		</constructor-arg>
	</bean>

	<bean
		name="jndiContextPrefixPropertyPlaceholderConfigurer"
		class="nl.nn.adapterframework.configuration.OverwritePropertyPlaceholderConfigurer"
		autowire="byName"
		>
		<property name="propertyName" value="jndiContextPrefix"/>
		<property name="propertyValue" value="java:comp/env/"/>
	</bean>

	<bean class="nl.nn.adapterframework.configuration.OverwritePropertyPlaceholderConfigurer" autowire="byName">
		<property name="propertyName" value="jms.createDestination"/>
		<property name="propertyValue" value="true"/>
	</bean>

</beans>
