<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation=
		"
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		"
	>

	<bean id="txManagerReal" class="nl.nn.adapterframework.jta.ThreadConnectableDataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="defaultDataSource"/>
		</property>
		<property name="transactionSynchronization">
			<util:constant static-field="org.springframework.transaction.support.AbstractPlatformTransactionManager.SYNCHRONIZATION_ON_ACTUAL_TRANSACTION"/>
		</property>
	</bean>

	<bean
		id="defaultDataSource"
		factory-bean="dataSourceFactory"
		factory-method="add"
		>
		<constructor-arg ref="h2DataSource" />
		<constructor-arg value="${jdbc.datasource.default}" />
	</bean>

	<bean id="h2DataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.h2.Driver"/>
		<property name="url" value="jdbc:h2:mem:ibisTestDataSource;DB_CLOSE_DELAY=-1"/>
	</bean>
</beans>
