@if (message()) {
  @let msg = message()!;
  <input type="checkbox" [(ngModel)]="storageService.selectedMessages[msg.id]" />
  @if (!storageService.selectedMessages[msg.id]) {
    <div>
      <a class="btn btn-info btn-xs" type="button" [routerLink]="['messages', msg.id]"
        ><fa-icon [icon]="faFileText" /> View</a
      >
      <button
        appHasAccessToLink="downloadMessage"
        title="Download Message"
        class="btn btn-info btn-xs"
        type="button"
        (click)="storageService.downloadMessage(msg.id)"
      >
        <fa-icon [icon]="faArrowAltCircleDown" /> Download
      </button>
      @if (storageService.storageParams.processState === 'InProcess') {
        <button
          appHasAccessToLink="changeMessagesProcessState"
          data-style="slide-down"
          title="Move Message to Error"
          class="btn btn-danger btn-xs"
          type="button"
          [ladda]="msg.processing"
          (click)="moveMessage(msg)"
        >
          <fa-icon aria-hidden="true" [icon]="faExclamationTriangle" />
          Move to Error
        </button>
      }
      @if (storageService.storageParams.processState === 'Error') {
        <button
          appHasAccessToLink="resendReceiverMessage"
          data-style="slide-down"
          title="Resend Message"
          class="btn btn-warning btn-xs"
          type="button"
          [ladda]="msg.processing && resendAction"
          [disabled]="msg.processing && !resendAction"
          (click)="resendMessage(msg)"
        >
          <fa-icon [icon]="faRepeat" /> Resend
        </button>
        <button
          appHasAccessToLink="deleteReceiverMessage"
          data-style="slide-down"
          title="Delete Message"
          class="btn btn-danger btn-xs"
          type="button"
          [ladda]="msg.processing && !resendAction"
          [disabled]="msg.processing && resendAction"
          (click)="deleteMessage(msg)"
        >
          <fa-icon [icon]="faTimes" /> Delete
        </button>
      }
    </div>
  }
}
