@if (message) {
  <input type="checkbox" [(ngModel)]="storageService.selectedMessages[message.id]" />
  @if (!storageService.selectedMessages[message.id]) {
    <div>
      <a class="btn btn-info btn-xs" type="button" [routerLink]="['messages', message.id]"
        ><i class="fa fa-file-text-o"></i> View</a
      >
      <button
        appHasAccessToLink="downloadMessage"
        title="Download Message"
        class="btn btn-info btn-xs"
        type="button"
        (click)="storageService.downloadMessage(message.id)"
      >
        <i class="fa fa-arrow-circle-o-down"></i> Download
      </button>
      @if (storageService.storageParams.processState === 'InProcess') {
        <button
          appHasAccessToLink="changeMessagesProcessState"
          data-style="slide-down"
          title="Move Message to Error"
          class="btn btn-danger btn-xs"
          type="button"
          [ladda]="message.processing"
          (click)="moveMessage()"
        >
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Move to Error
        </button>
      }
      @if (storageService.storageParams.processState === 'Error') {
        <button
          appHasAccessToLink="resendReceiverMessage"
          data-style="slide-down"
          title="Resend Message"
          class="btn btn-warning btn-xs"
          type="button"
          [ladda]="message.processing"
          (click)="storageService.resendMessage(message)"
        >
          <i class="fa fa-repeat"></i> Resend
        </button>
        <button
          appHasAccessToLink="deleteReceiverMessage"
          data-style="slide-down"
          title="Delete Message"
          class="btn btn-danger btn-xs"
          type="button"
          [ladda]="message.processing"
          (click)="storageService.deleteMessage(message)"
        >
          <i class="fa fa-times"></i> Delete
        </button>
      }
    </div>
  }
}
