@if (message) {
  <input type="checkbox" [(ngModel)]="storageService.selectedMessages[message.id]" />
  @if (!storageService.selectedMessages[message.id]) {
    <div>
      <a [routerLink]="['messages', message.id]" class="btn btn-info btn-xs" type="button"
        ><i class="fa fa-file-text-o"></i> View</a
      >
      @if (storageService.storageParams.processState === 'Error') {
        <button
          appHasAccessToLink="resendReceiverMessage"
          [ladda]="message.resending"
          data-style="slide-down"
          title="Resend Message"
          (click)="storageService.resendMessage(message)"
          class="btn btn-warning btn-xs"
          type="button"
        >
          <i class="fa fa-repeat"></i> Resend
        </button>
      }
      @if (storageService.storageParams.processState === 'Error') {
        <button
          appHasAccessToLink="deleteReceiverMessage"
          [ladda]="message.deleting"
          data-style="slide-down"
          title="Delete Message"
          (click)="storageService.deleteMessage(message)"
          class="btn btn-danger btn-xs"
          type="button"
        >
          <i class="fa fa-times"></i> Delete
        </button>
      }
      <button
        appHasAccessToLink="downloadMessage"
        title="Download Message"
        (click)="storageService.downloadMessage(message.id)"
        class="btn btn-info btn-xs"
        type="button"
      >
        <i class="fa fa-arrow-circle-o-down"></i> Download
      </button>
    </div>
  }
}
