<div class="wrapper wrapper-content animated fadeInRight">
  @for (alert of getNotes() | orderby: 'type'; track alert) {
    <ngb-alert [type]="alert.type" [dismissible]="false" (closed)="closeNote($index)">{{ alert.message }}</ngb-alert>
  }
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="pull-right">
            <button (click)="goBack()" class="btn btn-xs pull-right btn-info" type="button">
              <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
              <span> Back</span>
            </button>
          </div>
          <h4>View message with ID {{ message.id }}</h4>
        </div>
        <div class="ibox-content">
          <p>
            Message
            @if (data['correlationId']) {
              <span
                >with correlationId: <strong>{{ data['correlationId'] }}</strong></span
              >
            }
            @if (data['insertDate']) {
              <span>
                issued at:
                <strong><span appToDate [time]="data['insertDate']"></span></strong>
              </span>
            }
            @if (storageParams.processState === 'Error') {
              <button
                appHasAccessToLink="resendReceiverMessage"
                [ladda]="message.processing"
                data-style="slide-down"
                title="Resend Message"
                (click)="resendMessage(message)"
                class="btn btn-warning btn-xs m-r-xs pull-right"
                type="button"
              >
                <i class="fa fa-repeat"></i> Resend
              </button>
              <button
                appHasAccessToLink="deleteReceiverMessage"
                [ladda]="message.processing"
                data-style="slide-down"
                title="Delete Message"
                (click)="deleteMessage(message)"
                class="btn btn-danger btn-xs m-r-xs pull-right"
                type="button"
              >
                <i class="fa fa-times"></i> Delete
              </button>
            }
            <button
              appHasAccessToLink="downloadMessage"
              title="Download Message"
              (click)="downloadMessage(message.id)"
              class="btn btn-info btn-xs m-r-xs pull-right"
              type="button"
            >
              <i class="fa fa-arrow-circle-o-down"></i> Download
            </button>
          </p>
          <pre>{{ data['message'] ?? '' }}</pre>
          @if (data['comment']) {
            <span>
              <p>Comment:</p>
              <pre>{{ data['comment'] }}</pre>
            </span>
          }
          <div class="extra-properties">
            <p>Other properties:</p>
            <ul>
              @for (key of extraProperties; track key) {
                <li>
                  <strong>{{ key }}:</strong> {{ data[key] }}
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
