<div class="wrapper wrapper-content animated fadeInRight">
  <app-server-warnings
    [alerts]="alerts"
    [messageLog]="messageLog"
    [selectedConfiguration]="selectedConfiguration"
    [freeDiskSpacePercentage]="freeDiskSpacePercentage"
    [serverInfo]="serverInfo"
  ></app-server-warnings>

  <div class="row">
    <app-configuration-tab-list
      queryParamName="configuration"
      [configurations]="configurations"
      [filterIAF_Util]="true"
      (selectedTabChange)="changeConfiguration($event)"
    ></app-configuration-tab-list>
    <div class="col-lg-12">
      <app-configuration-summary
        [isConfigStubbed]="isConfigStubbed"
        [isConfigReloading]="isConfigReloading"
        [isConfigAutoReloadable]="isConfigAutoReloadable"
        [selectedConfiguration]="selectedConfiguration"
        [configurationFlowDiagram]="configurationFlowDiagram"
        [reloading]="reloading"
      ></app-configuration-summary>
    </div>
  </div>

  <div class="row" id="adapterFilters">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content summary">
          <div class="row ibox-grid">
            <div class="ibox-right">
              <div class="pull-left">
                <button
                  appHasAccessToLink="updateAdapters"
                  (click)="stopAll()"
                  class="btn btn-danger btn-xs space-it-out"
                  id="stop-all-adapters"
                  title="Stop All Adapters"
                  type="button"
                >
                  <i class="fa fa-stop"></i>
                </button>
                <button
                  appHasAccessToLink="updateAdapters"
                  (click)="startAll()"
                  class="btn btn-primary btn-xs"
                  id="start-all-adapters"
                  title="Start All Adapters"
                  type="button"
                >
                  <i class="fa fa-play"></i>
                </button>
              </div>
              <div class="text-right pull-right">
                <button
                  (click)="expandAll()"
                  class="btn btn-default btn-xs space-it-out"
                  id="expand-all"
                  title="Open All Adapters"
                  type="button"
                >
                  <i class="fa fa-angle-double-down fa-size-up"></i>
                </button>
                <button
                  (click)="collapseAll()"
                  class="btn btn-default btn-xs"
                  id="collapse-all"
                  title="Collapse All Adapters"
                  type="button"
                >
                  <i class="fa fa-angle-double-up fa-size-up"></i>
                </button>
              </div>
              <div class="text-center">
                <button
                  appHasAccessToLink="updateConfiguration"
                  (click)="reloadConfiguration()"
                  *ngIf="selectedConfiguration !== 'All' && !reloading && !isConfigReloading[selectedConfiguration]"
                  class="btn btn-info btn-xs space-it-out"
                  id="reload-configuration"
                  title="Reload Configuration"
                  type="button"
                >
                  <i class="fa fa-undo"></i>
                </button>
                <button
                  *ngIf="selectedConfiguration !== 'All' && !reloading && isConfigReloading[selectedConfiguration]"
                  class="btn btn-warning btn-xs space-it-out"
                  disabled="disabled"
                  title="Reload Configuration"
                  type="button"
                >
                  <i class="fa fa-spin fa-refresh"></i>
                </button>
                <button
                  appHasAccessToLink="fullAction"
                  (click)="fullReload()"
                  *ngIf="selectedConfiguration === 'All' && !reloading"
                  class="btn btn-ff btn-xs space-it-out"
                  id="full-reload"
                  title="Full Reload"
                  type="button"
                >
                  <i class="fa fa-undo"></i>
                </button>
                <button
                  *ngIf="reloading"
                  class="btn btn-danger btn-xs space-it-out"
                  disabled="disabled"
                  title="Full Reload in process"
                  type="button"
                >
                  <i class="fa fa-spin fa-refresh"></i>
                </button>
                <button
                  appHasAccessToLink="getConfigurationFlow"
                  (click)="showReferences()"
                  *ngIf="configurationFlowDiagram"
                  class="btn btn-info btn-xs"
                  id="adapter-references"
                  title="Show Adapter References"
                  type="button"
                >
                  <i class="fa fa-file-picture-o"></i>
                </button>
              </div>
            </div>
            <div class="ibox-left">
              <span style="font-weight: 700; margin-right: 4px">Filter:</span>
              <div class="btn-group state">
                <!-- [(ngModel)]="filter.started" -->
                <label
                  (click)="applyFilter('started')"
                  [ngClass]="{ active: this.filter.started }"
                  class="btn btn-primary btn-outline btn-xs started"
                  >Started</label
                >
                <!-- [(ngModel)]="filter.stopped" -->
                <label
                  (click)="applyFilter('stopped')"
                  [ngClass]="{ active: this.filter.stopped }"
                  class="btn btn-danger btn-outline btn-xs stopped"
                  >Stopped</label
                >
                <!-- [(ngModel)]="filter.warning" -->
                <label
                  (click)="applyFilter('warning')"
                  [ngClass]="{ active: this.filter.warning }"
                  class="btn btn-warning btn-outline btn-xs warning"
                  >Warning</label
                >
              </div>
            </div>
            <div class="ibox-stretch">
              <div class="input-group" id="searchbar">
                <input
                  (change)="updateQueryParams()"
                  [(ngModel)]="searchText"
                  class="form-control"
                  name="search"
                  placeholder="Search ... (Ctrl + Shift + F)"
                  type="text"
                />
                <i
                  (click)="searchText = ''; updateQueryParams()"
                  [ngClass]="searchText.length === 0 ? ['hidden'] : []"
                  aria-hidden="true"
                  class="fa fa-times input-group-closeSearch"
                ></i>
                <span class="input-group-addon">
                  <i aria-hidden="true" class="fa fa-search"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-configuration-messages
        [messageLog]="messageLog"
        [selectedConfiguration]="selectedConfiguration"
      ></app-configuration-messages>
    </div>
  </div>

  <div class="row">
    <div
      *ngFor="
        let adapterKV of adapters
          | configurationFilter: selectedConfiguration : filter
          | searchFilter: searchText
          | keyvalue;
        trackBy: trackAdaptersByFn
      "
      class="col-lg-12 adapters"
    >
      <app-adapter-status
        [adapter]="adapterKV.value"
        [adapterShowContent]="adapterShowContent"
        [loadFlowInline]="loadFlowInline"
      ></app-adapter-status>
    </div>
  </div>
</div>
