<div class="wrapper wrapper-content animated fadeInRight">
  <app-server-warnings
    [alerts]="alerts()"
    [messageLog]="messageLog()"
    [selectedConfiguration]="selectedConfiguration"
    [freeDiskSpacePercentage]="freeDiskSpacePercentage()"
    [serverInfo]="serverInfo()"
  />

  <div class="row">
    <app-configuration-tab-list
      queryParamName="configuration"
      data-cy="status__configuration-tab-list"
      [configurations]="configurations()"
      [filterIAF_Util]="true"
      (selectedTabChange)="changeConfiguration($event)"
    />
    <div class="col-lg-12">
      <app-configuration-summary
        [isConfigStubbed]="isConfigStubbed"
        [isConfigReloading]="isConfigReloading"
        [isConfigAutoReloadable]="isConfigAutoReloadable"
        [selectedConfiguration]="selectedConfiguration"
        [configurationFlowDiagram]="configurationFlowDiagram"
        [reloading]="reloading"
      />
    </div>
  </div>

  <div class="row" id="adapterFilters">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content summary">
          <div class="row ibox-grid">
            <div class="ibox-right">
              <div class="pull-left">
                <button
                  appHasAccessToLink="updateAdapters"
                  class="btn btn-danger btn-xs space-it-out"
                  id="stop-all-adapters"
                  title="Stop All Adapters"
                  type="button"
                  (click)="stopAll()"
                >
                  <fa-icon [icon]="faStop" />
                </button>
                <button
                  appHasAccessToLink="updateAdapters"
                  class="btn btn-primary btn-xs"
                  id="start-all-adapters"
                  title="Start All Adapters"
                  type="button"
                  (click)="startAll()"
                >
                  <fa-icon [icon]="faPlay" />
                </button>
              </div>
              <div class="text-right pull-right">
                <button
                  class="btn btn-default btn-xs space-it-out"
                  id="expand-all"
                  title="Open All Adapters"
                  type="button"
                  (click)="expandAll()"
                >
                  <fa-icon class="fa-size-up" [icon]="faAngleDoubleDown" />
                </button>
                <button
                  class="btn btn-default btn-xs"
                  id="collapse-all"
                  title="Collapse All Adapters"
                  type="button"
                  (click)="collapseAll()"
                >
                  <fa-icon class="fa-size-up" [icon]="faAngleDoubleUp" />
                </button>
              </div>
              <div class="text-center">
                @if (selectedConfiguration !== 'All' && !reloading && !isConfigReloading[selectedConfiguration]) {
                  <button
                    appHasAccessToLink="updateConfiguration"
                    class="btn btn-info btn-xs space-it-out"
                    id="reload-configuration"
                    title="Reload Configuration"
                    type="button"
                    (click)="reloadConfiguration()"
                  >
                    <fa-icon [icon]="faUndo" />
                  </button>
                }
                @if (selectedConfiguration !== 'All' && !reloading && isConfigReloading[selectedConfiguration]) {
                  <button
                    class="btn btn-warning btn-xs space-it-out"
                    disabled="disabled"
                    title="Reload Configuration"
                    type="button"
                  >
                    <fa-icon animation="spin" [icon]="faRefresh" />
                  </button>
                }
                @if (selectedConfiguration === 'All' && !reloading) {
                  <button
                    appHasAccessToLink="fullAction"
                    class="btn btn-ff btn-xs space-it-out"
                    id="full-reload"
                    title="Full Reload"
                    type="button"
                    (click)="fullReload()"
                  >
                    <fa-icon [icon]="faUndo" />
                  </button>
                }
                @if (reloading) {
                  <button
                    class="btn btn-danger btn-xs space-it-out"
                    disabled="disabled"
                    title="Full Reload in process"
                    type="button"
                  >
                    <fa-icon animation="spin" [icon]="faRefresh" />
                  </button>
                }
                @if (configurationFlowDiagram) {
                  <button
                    appHasAccessToLink="getConfigurationFlow"
                    class="btn btn-info btn-xs"
                    id="adapter-references"
                    title="Show Adapter References"
                    type="button"
                    (click)="showReferences()"
                  >
                    <fa-icon [icon]="faFileImage" />
                  </button>
                }
              </div>
            </div>
            <div class="ibox-left">
              <span style="font-weight: 700; margin-right: 4px">Filter:</span>
              <div class="btn-group state">
                <!-- [(ngModel)]="filter.started" -->
                <button
                  class="btn btn-primary btn-outline btn-xs started"
                  [ngClass]="{ active: this.filter.started }"
                  (click)="applyFilter('started')"
                >
                  Started
                </button>
                <!-- [(ngModel)]="filter.stopped" -->
                <button
                  class="btn btn-danger btn-outline btn-xs stopped"
                  [ngClass]="{ active: this.filter.stopped }"
                  (click)="applyFilter('stopped')"
                >
                  Stopped
                </button>
                <!-- [(ngModel)]="filter.warning" -->
                <button
                  class="btn btn-warning btn-outline btn-xs warning"
                  [ngClass]="{ active: this.filter.warning }"
                  (click)="applyFilter('warning')"
                >
                  Warning
                </button>
              </div>
            </div>
            <div class="ibox-stretch">
              <div class="input-group" id="searchbar">
                <input
                  class="form-control"
                  name="search"
                  placeholder="Search ... (Ctrl + Shift + F)"
                  type="text"
                  [(ngModel)]="searchText"
                  (change)="updateQueryParams()"
                />
                <fa-icon
                  aria-hidden="true"
                  class="input-group-closeSearch"
                  [icon]="faTimes"
                  [ngClass]="searchText.length === 0 ? ['hidden'] : []"
                  (click)="searchText = ''; updateQueryParams()"
                />
                <span class="input-group-addon">
                  <fa-icon aria-hidden="true" [icon]="faSearch" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-configuration-messages [messageLog]="messageLog()" [selectedConfiguration]="selectedConfiguration" />
    </div>
  </div>

  <div class="row">
    @for (
      adapterKV of adapters()
        | configurationFilter: selectedConfiguration : filter
        | searchFilter: searchText
        | keyvalue;
      track trackAdaptersByFn($index, adapterKV)
    ) {
      <div class="col-lg-12 adapters">
        <app-adapter-status
          [adapter]="adapterKV.value"
          [adapterShowContent]="adapterShowContent"
          [loadFlowInline]="loadFlowInline"
        />
      </div>
    }
  </div>
</div>
