<div class="wrapper wrapper-content animated fadeInRight">
  <div class="alert alert-warning" role="alert" type="warning" *ngIf="error">
    <span class="ng-binding ng-scope" [innerText]="error"></span>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Execute JDBC Query</h4>
        </div>
        <div class="ibox-content">
          <form role="form" (submit)="submit(form)" appQuickSubmitForm>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Datasource</label>
              <div class="col-sm-9">
                <select class="form-control" name="datasource" [(ngModel)]="form.datasource">
                  <option *ngFor="let datasource of datasources">
                    {{ datasource }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Query Type</label>
              <div class="col-sm-9">
                <select class="form-control" name="queryType" [(ngModel)]="form.queryType">
                  <option *ngFor="let queryType of queryTypes">
                    {{ queryType }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Result format</label>
              <div class="col-sm-9">
                <select class="form-control" name="resultType" [(ngModel)]="form.resultType">
                  <option *ngFor="let resultType of resultTypes; let first = first" [selected]="first">
                    {{ resultType }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Avoid Locking</label>
              <div class="col-sm-9">
                <span class="form-control" style="border: none"
                  ><input type="checkbox" name="avoidLocking" [(ngModel)]="form.avoidLocking"
                /></span>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Trim Spaces</label>
              <div class="col-sm-9">
                <span class="form-control" style="border: none"
                  ><input type="checkbox" name="trimSpaces" [(ngModel)]="form.trimSpaces"
                /></span>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30">Query</label>
              <div class="col-sm-9" style="height: 200px">
                <app-monaco-editor
                  class="form-control"
                  [(value)]="form.query"
                  [options]="{ language: 'sql' }"
                  [actions]="editorActions"
                ></app-monaco-editor>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-3 m-t-md">
                <button class="btn btn-info btn-w-m font-bold" type="button" (click)="reset()">Reset</button>
              </div>
              <div class="col-sm-3 m-t-md">
                <button [ladda]="processingMessage" class="btn btn-primary btn-w-m font-bold" type="submit">
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-12" *ngIf="result">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Result</h4>
        </div>
        <div class="ibox-content">
          <pre contenteditable="true">{{ result }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
