<div class="wrapper wrapper-content animated fadeInRight">
  @if (error) {
    <div class="alert alert-warning" role="alert" type="warning">
      <span class="ng-binding ng-scope" [innerText]="error"></span>
    </div>
  }
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Execute JDBC Query</h4>
        </div>
        <div class="ibox-content">
          <form role="form" appQuickSubmitForm (submit)="submit(form)">
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30" for="datasource">Datasource</label>
              <div class="col-sm-9">
                <select class="form-control" name="datasource" id="datasource" [(ngModel)]="form.datasource">
                  @for (datasource of datasources; track datasource) {
                    <option>
                      {{ datasource }}
                    </option>
                  }
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30" for="queryType">Query Type</label>
              <div class="col-sm-9">
                <select class="form-control" name="queryType" id="queryType" [(ngModel)]="form.queryType">
                  @for (queryType of queryTypes; track queryType) {
                    <option>
                      {{ queryType }}
                    </option>
                  }
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30" for="resultType">Result format</label>
              <div class="col-sm-9">
                <select class="form-control" name="resultType" id="resultType" [(ngModel)]="form.resultType">
                  @for (resultType of resultTypes; track resultType; let first = $first) {
                    <option [selected]="first">
                      {{ resultType }}
                    </option>
                  }
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30" for="avoidLocking">Avoid Locking</label>
              <div class="col-sm-9">
                <span class="form-control" style="border: none"
                  ><input type="checkbox" name="avoidLocking" id="avoidLocking" [(ngModel)]="form.avoidLocking"
                /></span>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30" for="trimSpaces">Trim Spaces</label>
              <div class="col-sm-9">
                <span class="form-control" style="border: none"
                  ><input type="checkbox" name="trimSpaces" id="trimSpaces" [(ngModel)]="form.trimSpaces"
                /></span>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label label-height-30" for="query">Query</label>
              <div class="col-sm-9">
                <app-monaco-editor
                  id="query"
                  class="form-control"
                  style="height: 200px"
                  [options]="{ language: 'sql' }"
                  [actions]="editorActions"
                  [(value)]="form.query"
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-3 m-t-md">
                <button class="btn btn-info btn-w-m font-bold" type="button" (click)="reset()">Reset</button>
              </div>
              <div class="col-sm-3 m-t-md">
                <button class="btn btn-primary btn-w-m font-bold" type="submit" [ladda]="processingMessage">
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    @if (result) {
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h4>Result</h4>
          </div>
          <div class="ibox-content">
            <pre contenteditable="true">{{ result }}</pre>
          </div>
        </div>
      </div>
    }
  </div>
</div>
