<div class="row">
  <div class="col-md-12 table-responsive">
    <h4>Adapter statistics by the hour</h4>
    <div style="height: 300px">
      <canvas
        id="line"
        class="chart chart-line"
        baseChart
        type="line"
        [options]="hourlyStatisticsOptions"
        [data]="hourlyStatistics()"
      ></canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 table-responsive">
    <h4>Total message SLO</h4>
    <div style="height: 300px">
      <canvas
        class="chart chart-line"
        baseChart
        type="line"
        [options]="sloStatisticsOptions"
        [data]="sloStatistics()"
      ></canvas>
    </div>
  </div>
  <div class="col-md-6 table-responsive">
    <h4>Counts per receiver</h4>
    <div style="height: 300px">
      <canvas class="chart chart-doughnut" baseChart type="doughnut" [data]="countPerReceiverStatistics()"></canvas>
    </div>
  </div>
</div>
