<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	">

	<context:property-placeholder location="classpath:application.properties"/>

<!-- 	<context:component-scan use-default-filters="true" base-package="nl.nn.adapterframework.webcontrol"> -->
<!-- 		<context:exclude-filter type="annotation" expression="nl.nn.adapterframework.lifecycle.IbisInitializer"/> -->
<!-- 	</context:component-scan> -->

	<bean class="nl.nn.adapterframework.webcontrol.runner.CreateApiEndpointBean"/>

	<bean id="tomcat" class="org.springframework.boot.web.embedded.tomcat.TomcatServletWebServerFactory">
		<property name="port" value="8080"/>
	</bean>

	<!-- Messaging Gateway -->
	<alias name="HttpOutboundGateway" alias="gateway"/>

	<bean id="HttpOutboundGateway" class="nl.nn.adapterframework.management.gateway.HttpOutboundGateway" lazy-init="true" />

	<bean id="messageBuilderFactory" class="org.springframework.integration.support.DefaultMessageBuilderFactory" />
</beans>
