<div class="ibox float-e-margins m-n">
  <div class="ibox-title summary">
    <h4 class="col-md-9">
      Configuration Summary
      @if (isConfigStubbed[selectedConfiguration]) {
        <span class="label label-warning">STUBBED</span>
      }
      @if (isConfigAutoReloadable[selectedConfiguration]) {
        <span class="label label-warning">AUTORELOADABLE</span>
      }
      @if (isConfigReloading[selectedConfiguration]) {
        <span class="label label-warning">RELOADING</span>
      }
    </h4>
    <h4 class="hidden-sm col-md-3">Configuration Flow</h4>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
        @let adapterSummary = adapterSummarySignal();
        @let receiverSummary = receiverSummarySignal();
        <table class="table">
          <thead>
            <tr>
              <th><strong>State</strong></th>
              <th
                title="Started"
                [ngClass]="{
                  'text-primary': adapterSummary.started > 0 || receiverSummary.started > 0,
                }"
              >
                <fa-icon [icon]="faCheckSquare" />
              </th>
              <th
                title="Starting"
                [ngClass]="{
                  'text-primary': adapterSummary.starting > 0 || receiverSummary.starting > 0,
                }"
              >
                <fa-icon [icon]="faCheckSquareO" />
              </th>
              <th
                title="Stopped"
                [ngClass]="{
                  'text-danger': adapterSummary.stopped > 0 || receiverSummary.stopped > 0,
                }"
              >
                <fa-icon [icon]="faStopCircle" />
              </th>
              <th
                title="Stopping"
                [ngClass]="{
                  'text-danger': adapterSummary.stopping > 0 || receiverSummary.stopping > 0,
                }"
              >
                <fa-icon [icon]="faStopCircleO" />
              </th>
              <th
                title="Error"
                [ngClass]="{
                  'text-warning':
                    adapterSummary.error > 0 ||
                    receiverSummary.error > 0 ||
                    adapterSummary.exception_starting > 0 ||
                    receiverSummary.exception_starting > 0 ||
                    adapterSummary.exception_stopping > 0 ||
                    receiverSummary.exception_stopping > 0,
                }"
              >
                <fa-icon [icon]="faWarning" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Adapters</strong></td>
              <td>{{ adapterSummary.started }}</td>
              <td>{{ adapterSummary.starting }}</td>
              <td>{{ adapterSummary.stopped }}</td>
              <td>{{ adapterSummary.stopping }}</td>
              <td>
                {{ adapterSummary.error + adapterSummary.exception_starting + adapterSummary.exception_stopping }}
              </td>
            </tr>
            <tr>
              <td><strong>Receivers</strong></td>
              <td>{{ receiverSummary.started }}</td>
              <td>{{ receiverSummary.starting }}</td>
              <td>{{ receiverSummary.stopped }}</td>
              <td>{{ receiverSummary.stopping }}</td>
              <td>
                {{ receiverSummary.error + receiverSummary.exception_starting + receiverSummary.exception_stopping }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        @let messageSummary = messageSummarySignal();
        <table class="table">
          <thead>
            <tr>
              <td><strong>Info messages</strong></td>
              <td>{{ messageSummary.info }}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Warning messages</strong></td>
              <td>{{ messageSummary.warn }}</td>
            </tr>
            <tr [ngClass]="{ hasErrorsSummary: messageSummary.error > 0 }">
              <td><strong>Error messages</strong></td>
              <td>{{ messageSummary.error }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      @if (configurationFlowDiagram && !reloading) {
        <div class="col-md-3 configurationFlow">
          <app-flow [configurationFlowDiagram]="configurationFlowDiagram" [height]="150" />
        </div>
      }
    </div>
  </div>
</div>
