<div class="ibox float-e-margins m-n">
  <div class="ibox-title summary">
    <h4 class="col-md-9">
      Configuration Summary
      <span *ngIf="isConfigStubbed[selectedConfiguration]" class="label label-warning">STUBBED</span>
      <span *ngIf="isConfigAutoReloadable[selectedConfiguration]" class="label label-warning">AUTORELOADABLE</span>
      <span *ngIf="isConfigReloading[selectedConfiguration]" class="label label-warning">RELOADING</span>
    </h4>
    <h4 class="hidden-sm col-md-3">Configuration Flow</h4>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
        <table class="table">
          <thead>
            <tr>
              <th><strong>State</strong></th>
              <th
                [ngClass]="{
                  'text-primary': adapterSummary.started > 0 || receiverSummary.started > 0
                }"
                title="Started"
              >
                <i class="fa fa-check-square"></i>
              </th>
              <th
                [ngClass]="{
                  'text-primary': adapterSummary.starting > 0 || receiverSummary.starting > 0
                }"
                title="Starting"
              >
                <i class="fa fa-check-square-o"></i>
              </th>
              <th
                [ngClass]="{
                  'text-danger': adapterSummary.stopped > 0 || receiverSummary.stopped > 0
                }"
                title="Stopped"
              >
                <i class="fa fa-stop-circle"></i>
              </th>
              <th
                [ngClass]="{
                  'text-danger': adapterSummary.stopping > 0 || receiverSummary.stopping > 0
                }"
                title="Stopping"
              >
                <i class="fa fa-stop-circle-o"></i>
              </th>
              <th
                [ngClass]="{
                  'text-warning':
                    adapterSummary.error > 0 ||
                    receiverSummary.error > 0 ||
                    adapterSummary.exception_starting > 0 ||
                    receiverSummary.exception_starting > 0 ||
                    adapterSummary.exception_stopping > 0 ||
                    receiverSummary.exception_stopping > 0
                }"
                title="Error"
              >
                <i class="fa fa-warning"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Adapters</strong></td>
              <td>{{ adapterSummary.started }}</td>
              <td>{{ adapterSummary.starting }}</td>
              <td>{{ adapterSummary.stopped }}</td>
              <td>{{ adapterSummary.stopping }}</td>
              <td>
                {{ adapterSummary.error + adapterSummary.exception_starting + adapterSummary.exception_stopping }}
              </td>
            </tr>
            <tr>
              <td><strong>Receivers</strong></td>
              <td>{{ receiverSummary.started }}</td>
              <td>{{ receiverSummary.starting }}</td>
              <td>{{ receiverSummary.stopped }}</td>
              <td>{{ receiverSummary.stopping }}</td>
              <td>
                {{ receiverSummary.error + receiverSummary.exception_starting + receiverSummary.exception_stopping }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table">
          <thead>
            <tr>
              <td><strong>Info messages</strong></td>
              <td>{{ messageSummary.info }}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Warning messages</strong></td>
              <td>{{ messageSummary.warn }}</td>
            </tr>
            <tr [ngClass]="{ hasErrorsSummary: messageSummary.error > 0 }">
              <td><strong>Error messages</strong></td>
              <td>{{ messageSummary.error }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="configurationFlowDiagram && !reloading" class="col-md-3 configurationFlow">
        <app-flow [configurationFlowDiagram]="configurationFlowDiagram" [height]="150" />
      </div>
    </div>
  </div>
</div>
