<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"
		http://www.springframework.org/schema/beans classpath:xml/xsd/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util classpath:xml/xsd/spring-util-3.2.xsd
		"
	>

	<!--
	<bean id="txManagerReal" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
		<property name="transactionSynchronization">
			<util:constant
				static-field="org.springframework.transaction.support.AbstractPlatformTransactionManager.SYNCHRONIZATION_ON_ACTUAL_TRANSACTION"
			/>
		</property>
	</bean>
	-->

	<!--bean
		id="defaultDataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		>
		<property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver"/>
		<property name="url" value="jdbc:hsqldb:mem:test"/>
	</bean-->

	<bean
		id="defaultDataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		>
		<property name="driverClassName" value="org.h2.Driver"/>
		<property name="url" value="jdbc:h2:${log.dir}/${instance.name.lc}"/>
	</bean>

	<!--
	Overwrite jndiDataSource bean to prevent:
	javax.naming.NameNotFoundException: Name ibis4example is not bound in this Context
	-->
	<bean name="jndiDataSource" class="java.lang.String"/>

</beans>
