<!-- Angular ui-router hack-->
<div ui-view></div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="m-b-md float-e-margins">
				<div class="col-md-12 m-t-md table-responsive" ng-if="$ctrl.securityRoles">
					<div class="ibox-title">
						<h4>Security Role Bindings</h4>
					</div>
					<div class="ibox-content">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Role</th>
									<th>Access</th>
									<th>specialSubjects</th>
									<th>Groups</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(roleName, role) in $ctrl.securityRoles">
									<td>{{role["role-name"]}}</td>
									<td><i class="fa {{role.allowed ? 'fa-check-square' : 'fa-times-circle'}}"></i></td>
									<td><p ng-repeat="subject in role.specialSubjects">{{subject}}</p></td>
									<td><p ng-repeat="group in role.groups">{{group}}</p></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-5 m-t-md table-responsive" ng-if="$ctrl.serverProps">
					<div class="ibox-title">
						<h4>Transaction Service</h4>
					</div>
					<div class="ibox-content">
						<table class="table">
							<tbody>
								<tr>
									<td title="The default maximum time allowed for a transaction that is started on this server before the transaction service initiates timeout completion. Any transaction that does not begin completion processing before this timeout occurs is rolled back. This timeout is used only if the application component does not set its own transaction timeout. The upper-limit of this timeout is constrained by the maximum transaction timeout. For example, if you set a value of 500 for the total transaction lifetime timeout, and a value of 300 for the maximum transaction timeout, transactions will time out after 300 seconds."
										>Total transaction lifetime timeout (in seconds)</td>
									<td>{{$ctrl.serverProps.totalTransactionLifetimeTimeout}}</td>
								</tr>
								<tr>
									<td title="Specifies the upper limit of the transaction timeout for transactions that run in this server. This value should be greater than or equal to the total transaction lifetime timeout and greater than or equal to the application component timeout. If the maximum transaction timeout is set to a value less than either the total transaction lifetime timeout or the application component timeout, application component transactions that may require more time will timeout when the maximum transaction timeout is reached."
										>Maximum transaction timeout (in seconds)</td>
									<td>{{$ctrl.serverProps.maximumTransactionTimeout}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-5 m-t-md table-responsive" ng-if="authEntries.length > 0">
					<div class="ibox-title">
						<h4>Used Authentication Entries</h4>
					</div>
					<div class="ibox-content">
						<table class="table">
							<thead>
								<tr>
									<th>Alias</th>
									<th>Username</th>
									<th>Password</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="alias in $ctrl.authEntries">
									<td>{{alias.alias}}</td>
									<td>{{alias.username}}</td>
									<td>{{alias.password}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 m-t-md table-responsive" ng-if="$ctrl.xmlComponents">
					<div class="ibox-title">
						<h4>XML Components</h4>
					</div>
					<div class="ibox-content">
						<table class="table">
							<thead>
								<tr>
									<th>Component</th>
									<th>Version</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(key, value) in $ctrl.xmlComponents">
									<td>{{key}}</td>
									<td>{{value}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-4 m-t-md table-responsive" ng-if="$ctrl.sapSystems.length > 0">
					<div class="ibox-title">
						<h4>Used Sap Systems</h4>
					</div>
					<div class="ibox-content">
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Info</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="sap in $ctrl.sapSystems">
									<td>{{sap.name}}</td>
									<td>{{sap.info}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-4 m-t-md table-responsive" ng-if="$ctrl.certificates.length > 0">
					<div class="ibox-title">
						<h4>Used Certificates</h4>
					</div>
					<div class="ibox-content">
						<table class="table">
							<thead>
								<tr>
									<th>Adapter</th>
									<th>Pipe</th>
									<th>Certificate</th>
									<th>Info</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="cert in $ctrl.certificates">
									<td>{{cert.adapter}}</td>
									<td>{{cert.pipe}}</td>
									<td>{{cert.certificate.name}}</td>
									<td>{{cert.certificate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-12 m-t-md table-responsive" ng-if="$ctrl.jmsRealms.length > 0">
					<div class="ibox-title">
						<h4>Used JmsRealms</h4>
					</div>
					<div class="ibox-content">
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Datasource</th>
									<th>QueueConnectionFactory</th>
									<th>TopicConnectionFactory</th>
									<th>Info</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat-start="realm in $ctrl.jmsRealms">
									<td rowspan="2">{{realm.name}}</td>
									<td rowspan="2">{{realm.datasourceName}}</td>
									<td rowspan="2">{{realm.queueConnectionFactoryName}}</td>
									<td rowspan="2">{{realm.topicConnectionFactoryName}}</td>
									<td>{{realm.info}}</td>
								</tr>
								<tr ng-repeat-end>
									<td>{{$ctrl.realm.connectionPoolProperties}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-12 m-t-md table-responsive" ng-if="$ctrl.datasources.length > 0">
					<div class="ibox-title">
						<h4>Used DataSources</h4>
					</div>
					<div class="ibox-content">
						<table class="table">
							<thead>
								<tr>
									<th>Datasource</th>
									<th>Info</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat-start="datasource in $ctrl.datasources">
									<td rowspan="2">{{datasource.datasourceName}}</td>
									<td>{{datasource.info}}</td>
								</tr>
								<tr ng-repeat-end>
									<td>{{$ctrl.datasource.connectionPoolProperties}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>