<!-- Wrapper-->
<div id="wrapper">
    <!-- Navigation -->
	<pages-navigation on-open-info="$ctrl.openInfoModel()" on-open-feedback="$ctrl.sendFeedback()"></pages-navigation>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$ctrl.$state.current.name}}">

        <!-- Page wrapper -->
        <pages-topnavbar class="topnavbar"
			on-open-feedback="$ctrl.sendFeedback(rating)"
			server-time="$ctrl.serverTime"
			dtap-side="$ctrl.dtapSide"
			dtap-stage="$ctrl.dtapStage"
			user-name="$ctrl.userName"
			loggedin="$ctrl.loggedin"
		></pages-topnavbar>
        <pages-topinfobar class="topinfobar"></pages-topinfobar>


        <div class="m-sm alert alert-danger pointer" role="alert" type="danger" ng-if="startupError" ui-sref="pages.errorpage">
            <h4>Startup error:</h4> <span class="ng-binding ng-scope" ng-bind-html="startupError"></span>
        </div>

        <!-- Main view  -->
        <ui-view></ui-view>

        <!-- Footer -->
        <pages-footer ng-show="!$ctrl.$state.current.data.iframe"></pages-footer>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
