<!-- Wrapper-->
<div id="wrapper">
    <!-- Navigation -->
    <div ng-include="'js/app/components/pages/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'js/app/components/pages/topnavbar.html'" class="topnavbar"></div>
        <div ng-include="'js/app/components/pages/topinfobar/topinfobar.html'" class="topinfobar"></div>


        <div class="m-sm alert alert-danger pointer" role="alert" type="danger" ng-if="startupError" ui-sref="pages.errorpage">
            <h4>Startup error:</h4> <span class="ng-binding ng-scope" ng-bind-html="startupError"></span>
        </div>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <div ng-show="!$state.current.data.iframe" ng-include="'js/app/components/pages/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
