.sk-spinner {
  margin-top: 0;
}

.viewerContainer {
  padding: 10px;
  font-family: tahoma, verdana, arial, helvetica;
  font-size: 11px;
  overflow: auto;
  color: #000;
}

.error {
  background-color: #ed5565;
  color: #fff;
}
