.sk-spinner {
  margin-top: 0;
}

.viewerContainer {
  margin: 0;
  padding: 4px;
  border: initial;
  border-radius: initial;
  overflow: auto;
  font-family: tahoma, verdana, arial, helvetica;
  font-size: 11px;
  color: #000;
  white-space: pre-wrap;
}

.error {
  background-color: #ed5565;
  color: #fff;
}
