<!-- Wrapper-->
<div id="wrapper" ng-controller="MainCtrl as main" >
    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'" class="topnavbar"></div>
        <div ng-include="'views/common/topinfobar.html'" class="topinfobar"></div>

        <!-- Main view  -->
        <div ui-view></div>
        
        <div class="scroll-to-top" title="Scroll to top" ng-click="scrollTop()"><i class="fa fa-caret-up"></i></div>

        <!-- Footer -->
        <div ng-show="!$state.current.data.iframe" ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->