<div class="cookie inmodal">
	<div class="modal-header">
		<h4 class="modal-title"><i class="fa fa-info"></i> This website uses cookies!</h4>
	</div>
	<div class="modal-body">
		<h3>Necessary Cookies</h3>
		<p>
			In order to provide you with a great experience on this site we provide the functionality to set your preferences 
			for how this site runs when you use it. In order to remember your preferences we need to set cookies so that this 
			information can be called whenever you interact with a page is affected by your preferences.
		</p>
		<h3>Functional Cookies</h3>
		<p>
			From time to time we test new features and make subtle changes to the way that the site is delivered. When we 
			are still testing new features these cookies may be used to ensure that you receive a consistent experience 
			whilst on the site whilst ensuring we understand which optimisations our users appreciate the most.
			Unticking this may downgrade or 'break' certain elements of the sites functionality.
		</p>
		<h3>Personalization Cookies</h3>
		<p>
			Your own personal settings such as:
			<ul>
				<li>Your last executed query</li>
				<li>Columns you have hidden on the ErrorStorage</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<div class="actions">
			<div class="selections">
				<div class="selection" ng-init="cookies.necessary = true">
					<input type="checkbox" icheck ng-model="cookies.necessary" id="necessary" disabled/> 
					<label for="necessary">Necessary</label>
				</div>
				<div class="selection">	
					<input type="checkbox" icheck ng-model="cookies.functional" id="functional"/> 
					<label for="functional">Functional</label>
				</div>
				<div class="selection">
					<input type="checkbox" icheck ng-model="cookies.personalization" id="personalization"/> 
					<label for="personalization">Personalization</label>
				</div>
			</div>
			<button title="OK" class="btn btn-primary" type="button" ng-click="savePreferences(cookies)">Save Preferences</button>
			<button type="button" class="btn btn-white" ng-click="close()">Close</button>
		</div>
	</div>
</div>
