<div class="cookie-bar" ng-if="bottomNotification">
	<div class="content">
		<h3>Cookie preferences:</h3>
		<div class="actions">
			<div class="selections">
				<div class="selection" ng-init="cookies.necessary = true">
					<input type="checkbox" icheck ng-model="cookies.necessary" id="necessary" disabled/> 
					<label for="necessary">Necessary</label>
				</div>
				<div class="selection">	
					<input type="checkbox" icheck ng-model="cookies.functional" id="functional"/> 
					<label for="functional">Functional</label>
				</div>
				<div class="selection">
					<input type="checkbox" icheck ng-model="cookies.personalization" id="personalization"/> 
					<label for="personalization">Personalization</label>
				</div>
				<div class="selection">
					<input type="checkbox" icheck ng-model="cookies.analytical" id="analytical"/> 
					<label for="analytical">Analytical</label>
				</div>
			</div>
			<button class="btn btn-primary" type="button" ng-click="savePreferences(cookies)">Save Preferences</button>
		</div>
		<button class="btn btn-primary consent-all" type="button" ng-click="consentAllCookies()">Consent All</button>
		<button class="btn btn-info read-more" type="button" ng-click="openModal()">Read More</button>
	</div>
</div>