<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li class="nav-header">

				<div class="profile-element">
					<object data="images/frank-framework-logo.svg" id="logo" type="image/svg+xml">
						<img src="images/frank-framework-logo.svg" alt="Logo">
					</object>
				</div>
				<div class="logo-element">
					<object data="images/frank-exclamation.svg" id="logo" type="image/svg+xml">
						<img src="images/frank-exclamation.svg" alt="Logo">
					</object>
				</div>
			</li>

			<custom-views></custom-views>

			<li ui-sref-active="active">
				<a ui-sref="pages.status"><i class="fa fa-dashboard"></i> <span class="nav-label">Adapter Status</span></a>
			</li>
			<li ng-class="{active: $state.includes('configuration')}" class="nav-group">
				<a href=""><i class="fa fa-cogs"></i> <span class="nav-label">Configurations</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level" ng-class="{in: $state.includes('configuration')}">
					<li ui-sref-active="active"><a ui-sref="pages.configuration">Show Configurations</a></li>
					<li ui-sref-active="active"><a ui-sref="pages.manage_configurations">Manage Configurations</a></li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="pages.logging"><i class="fa fa-life-ring"></i> <span class="nav-label">Logging</span></a>
			</li>
			<li ng-class="{active: $state.includes('testing')}" class="nav-group">
				<a href=""><i class="fa fa-bug"></i> <span class="nav-label">Testing</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level" ng-class="{in: $state.includes('testing')}">
					<li ui-sref-active="active"><a ui-sref="pages.larva">Larva</a></li>
					<li ui-sref-active="active"><a ui-sref="pages.ladybug">Ladybug</a></li>
					<li ui-sref-active="active"><a ui-sref="pages.test_pipeline">Test a Pipeline</a></li>
					<li ui-sref-active="active"><a ui-sref="pages.test_servicelistener">Test a ServiceListener</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('jdbc')}" class="nav-group">
				<a href=""><i class="fa fa-cubes"></i> <span class="nav-label">JDBC</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level" ng-class="{in: $state.includes('jdbc')}">
					<li ui-sref-active="active"><a ui-sref="pages.execute_query">Execute Query</a></li>
					<li ui-sref-active="active"><a ui-sref="pages.browse_tables">Browse Tables</a></li>
					<li ui-sref-active="active"><a ui-sref="pages.ibisstore_summary">Ibisstore Summary</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('jms')}" class="nav-group">
				<a href=""><i class="fa fa-th-large"></i> <span class="nav-label">JMS</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level" ng-class="{in: $state.includes('jms')}">
					<li ui-sref-active="active"><a ui-sref="pages.send_message">Send Message</a></li>
					<li ui-sref-active="active"><a ui-sref="pages.browse_queue">Browse Queue</a></li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="pages.webservices"><i class="fa fa-paper-plane-o"></i> <span class="nav-label">Webservices</span></a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="pages.scheduler"><i class="fa fa-calendar"></i> <span class="nav-label">Scheduler</span></a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="pages.environment_variables"><i class="fa fa-language"></i> <span class="nav-label">Environment Variables</span></a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="pages.security_items"><i class="fa fa-lock"></i> <span class="nav-label">Security Items</span></a>
			</li>
			<li ng-if="::monitoring" ui-sref-active="active">
				<a ui-sref="pages.monitors"><i class="fa fa-clone"></i> <span class="nav-label">Monitors</span></a>
			</li>
			<li>
				<a ng-click="openInfoModel()" class="pointer"><i class="fa fa-info-circle"></i> <span class="nav-label">Information</span></a>
			</li>
			<li style="border-top: 1px solid #19aa8d;">
				<a ng-click="sendFeedback()" class="pointer"><i class="fa fa-commenting-o"></i> <span class="nav-label">Send Feedback!</span></a>
			</li>
			<li ng-if="strutsConsoleEnabled">
				<a href="../../rest/showConfigurationStatus" alt="GUI 1.2" class="pointer"><i class="fa fa-backward"></i> <span class="nav-label">GUI 1.2</span></a>
			</li>
			<li ng-if="!strutsConsoleEnabled">
				<a ng-click="showStrutsConsoleDisabled()" alt="GUI 1.2" class="pointer"><i class="fa fa-backward"></i> <span class="nav-label">GUI 1.2</span></a>
			</li>
			<li>
				<a target="_blank" href="https://ibissource.org" alt="ibissource.org"><i class="fa fa-comments"></i> <span class="nav-label">Community</span></a>
			</li>
			<li>
				<a target="_blank" href="https://github.com/ibissource/iaf" alt="github.com/ibissource/iaf"><i class="fa fa-github"></i> <span class="nav-label">GitHub SourceCode</span></a>
			</li>

			<li scroll-to-top />
			<span minimaliza-sidebar />
		</ul>
	</div>
</nav>