name: Angular Karma Tests

on:
  push:
    paths:
      - 'console/frontend/**'
      - '.github/workflows/angular-karma-tests.yml'
    branches:
      - master
      - '[0-9]+.[0-9]+-release'
      - 'release/[0-9]+.[0-9]+'
  pull_request:
    branches:
      - master
      - '[0-9]+.[0-9]+-release'
      - 'release/[0-9]+.[0-9]+'

jobs:
  run-karma-tests:
    name: Earning Good or Bad Karma For You
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: console/frontend/src/main/frontend/
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set timezone
      run: sudo timedatectl set-timezone Europe/Amsterdam

    - name: Set up Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x

    - name: Install dependencies
      run: npm install

    - name: Run Karma tests
      run: npm run test -- --watch=false --browsers=ChromeHeadless --code-coverage
