name: Angular Karma Tests

on:
  push:
    paths:
      - 'console/frontend/**'
      - '.github/workflows/angular-karma-tests.yml'
    branches:
      - master
      - '[0-9]+.[0-9]+-release'
      - 'release/[0-9]+.[0-9]+'
  pull_request:
    branches:
      - master
      - '[0-9]+.[0-9]+-release'
      - 'release/[0-9]+.[0-9]+'

jobs:
  run-karma-tests:
    name: Karma Unit tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: console/frontend/src/main/frontend/
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Set timezone
      run: sudo timedatectl set-timezone Europe/Amsterdam

    - name: Install pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      with:
        version: 10

    - name: Set up Node.js 22.x
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        node-version: 24.11.1
        cache: pnpm
        cache-dependency-path: '**/pnpm-lock.yaml'

    - name: Install dependencies
      run: pnpm install

    - name: Run Karma tests
      run: npm run test -- --watch=false --browsers=ChromeHeadless --code-coverage
