# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

env:
  PROFILES: ibissource,codecoverage,cmis
  USE_PROPRIETARY: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login == 'ibissource'}}
on:
  push:
    branches: [master, 7.5-release, 7.6-release]
  pull_request:
    branches: [master, 7.5-release, 7.6-release]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        # We must fetch at least the immediate parents so that if this is
        # a pull request then we can checkout the head.
        fetch-depth: 2

    - name: Cache local Maven repository
      uses: actions/cache@v2
      env:
        cache-name: cache-maven-dependencies
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Create Maven settings.xml file
      if: ${{ env.USE_PROPRIETARY == 'true' }}
      uses: s4u/maven-settings-action@v2.3.0
      with:
        servers: '[{"id": "proprietary", "username": "${{ secrets.CI_USER }}", "password": "${{ secrets.CI_PASS }}"}]'

    - name: Update maven profiles
      if: ${{ env.USE_PROPRIETARY == 'true' }}
      run: |
        echo "PROFILES=ibissource,codecoverage,cmis,proprietary" >> $GITHUB_ENV

    - name: Build with Maven
      env:
        CI_SERVICE: GITHUB
        TZ: Europe/Amsterdam
        JAVA_OPTS: "-Xms1G -XX:+UseParallelGC"
      run: mvn -B -V -T1 package -Dmaven.javadoc.skip=true -P${{env.PROFILES}}

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1

    - name: Upload coverage to Codacy
      if: ${{ env.USE_PROPRIETARY == 'true' }}
      uses: codacy/codacy-coverage-reporter-action@v1
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}