# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [master, 7.5-release]
  pull_request:
    branches: [master, 7.5-release]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Cache local Maven repository
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build with Maven
      env:
        CI_SERVICE: GITHUB
        TZ: Europe/Amsterdam
      run: mvn -B -V -T1 package -Dmaven.javadoc.skip=true -Pibissource,codecoverage

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1