name: OWASP ZAP

on: 
  workflow_dispatch:

jobs:
  zap_scan:
    name: Scan Frank2Example
    runs-on: ubuntu-latest
    services:
      frankframework:
        image: frankframework/frank2example
        ports:
          - "8080:8080"
    steps:
      - name: Checkout 
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@3c58388149901b9a03b7718852c5ba889646c27c # v0.13.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: 'http://localhost:8080'
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a -j'
