name: Renovate Lockfile Fixer

on:
  push:
    branches:
      - 'renovate/**'
    paths:
      - '**/package.json'
      - 'pnpm-lock.yaml'

permissions:
  contents: write

jobs:
  fix-lockfile:
    runs-on: ubuntu-latest
    if: github.actor == 'renovate[bot]' || contains(github.event.head_commit.message, 'renovate')

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: ${{ github.head_ref }}

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 10.28.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.14.0
          cache: 'pnpm'

      - name: Run pnpm install after dependency bump
        run: pnpm install --lockfile-only --ignore-scripts

      - name: Commit changes if necessary
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7
        with:
          commit_message: "chore(deps): update pnpm-lock.yaml after dependency bump"
          file_pattern: "pnpm-lock.yaml"
