name: Renovate Lockfile Fixer

on:
  push:
    branches:
      - 'renovate/**'
    paths:
      - '**/package.json'
      - 'pnpm-lock.yaml'

permissions:
  contents: write

jobs:
  fix-lockfile:
    runs-on: ubuntu-latest
    if: github.actor == 'renovate[bot]' || contains(github.event.head_commit.message, 'renovate')

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          ref: ${{ github.head_ref }}

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24.11.1
          cache: 'pnpm'

      - name: Run pnpm install after dependency bump
        run: pnpm install --lockfile-only --ignore-scripts

      - name: Commit changes if necessary
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
        with:
          commit_message: "chore(deps): update pnpm-lock.yaml after dependency bump"
          file_pattern: "pnpm-lock.yaml"
