# This workflow will build a Java project with Maven
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

name: Java partial Maven build (aka Smoke-Tests)

env:
  PROFILES: frankframework,ci,skip-console-frontend
  USE_PROPRIETARY: ${{ (github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login == 'frankframework') && github.actor != 'dependabot[bot]' }}

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+-release'
      - 'release/[0-9]+.[0-9]+'
    paths-ignore:
      - "**.md"
      - "**.yml"
      - "**.txt"
      - "**.png"
      - "**.toml"
      - ".github/**"
      - "!.github/workflows/smoke-tests.yml"
      - "docker/**"
  pull_request:
    branches:
      - master
      - '[0-9]+.[0-9]+-release'
      - 'release/[0-9]+.[0-9]+'
    paths-ignore:
      - "**.md"
      - "**.yml"
      - "**.txt"
      - "**.png"
      - "**.toml"
      - ".github/**"
      - "!.github/workflows/smoke-tests.yml"
      - "docker/**"

jobs:
  smoketest-build:
    name: Smoketest
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '25' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        # Number of commits to fetch. 0 indicates all history for all branches and tags.
        # Required for SonarCloud
        fetch-depth: 0

    - name: Load Maven Dependency Cache
      uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
      with:
        path: |
          ~/.m2/repository
        key: maven-dependency-cache-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          maven-dependency-cache-

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}

    - name: Create Maven settings.xml file
      if: ${{ env.USE_PROPRIETARY == 'true' }}
      uses: s4u/maven-settings-action@894661b3ddae382f1ae8edbeab60987e08cf0788 # v4.0.0
      with:
        servers: '[{"id": "proprietary", "username": "${{ secrets.CI_USER }}", "password": "${{ secrets.CI_PASS }}"}]'

    - name: Update Maven profiles
      if: ${{ env.USE_PROPRIETARY == 'true' }}
      run: |
        echo "PROFILES=${{ env.PROFILES }},proprietary" >> $GITHUB_ENV

      # Use Maven Wrapper, so we can build with an older version of Maven, see PR #4579.
    - name: Build with Maven
      env:
        CI_SERVICE: GITHUB
        TZ: Europe/Amsterdam
        JAVA_OPTS: "-Xms1G -XX:+UseParallelGC"
      run: ./mvnw -B -V -T1 test -P${{env.PROFILES}} -Djunit.excludedTags=slow,database,unstable

    - name: Store Test Results
      if: failure()
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
      with:
        name: java${{ matrix.java }}_Surefire
        path: ${{ github.workspace }}/*/target/surefire-reports/*
