<!-- TODO <toaster-container toaster-options="{'time-out':5500, 'close-button': true, 'prevent-duplicates':true}"></toaster-container> -->
<!-- Wrapper-->
<div id="wrapper">
  <!-- Navigation -->
  <app-pages-navigation (onOpenInfo)="openInfoModel()" (onOpenFeedback)="sendFeedback()"></app-pages-navigation>

  <!-- Page wraper -->
  <!-- ng-class with current state name give you the ability to extended customization your view -->
  <!-- <div id="page-wrapper" class="gray-bg {{$ctrl.$state.current.name}}"> -->
  <div id="page-wrapper" class="gray-bg">

    <!-- Page wrapper -->
    <app-pages-topnavbar
      class="topnavbar"
      (onOpenFeedback)="sendFeedback($event)"
      [serverTime]="serverTime"
      [dtapSide]="dtapSide"
      [dtapStage]="dtapStage"
      [userName]="userName"
      [loggedin]="loggedin"
    ></app-pages-topnavbar>
    <app-pages-topinfobar class="topinfobar"></app-pages-topinfobar>

    <!-- TODO routerLink to error component -->
    <div
      *ngIf="startupError"
      class="m-sm alert alert-danger pointer"
      role="alert" type="danger"
      routerLink="/error"
    >
      <h4>Startup error:</h4> <span [innerHtml]="startupError"></span>
    </div>

    <!-- Main view  -->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <app-pages-footer *ngIf="!routeData['iframe']"></app-pages-footer>

  </div>
  <!-- End page wrapper-->

</div>
<!-- End wrapper-->
